@@include('../_templates/_header_lemag.html')

<main>
    <section class="slideshow">
        <div class="container">
            <div class="row">
              <div class="slides">
                <div class="slide">
                  <img src="../../img/lemag/main-image-index.jpg" alt="">
                  <div class="content text-center col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <a href="#0">Do It Yourself</a>
                    <a class="title">Un univers inustriel<br>pour votre chambre</a>
                    <a href="#0" class="link"><span>Voir l'article</span></a>
                  </div>
                </div>
                <div class="slide">
                  <img src="../../img/lemag/main-image-diy.jpg" alt="">
                  <div class="content text-center col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <a href="#0">Do It Yourself</a>
                    <a class="title">réaliser un terrarium<br>pour décorer une table</a>
                    <a href="#0" class="link"><span>Voir l'article</span></a>
                  </div>
                </div>
                <div class="slide">
                  <img src="../../img/lemag/article-fullwidth-alternative.jpg" alt="">
                  <div class="content text-center col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <a href="#0">Idée déco</a>
                    <a class="title">Quelles plantes choisir<br>pour décorer votre salon ?</a>
                    <a href="#0" class="link"><span>Voir l'article</span></a>
                  </div>
                </div>

              </div>
              <div class="content-arrows col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <button class="arrow leftArrow">Précédent</button>
                <button class="arrow rightArrow">Suivant</button>
              </div>
            </div>
        </div>
    </section>

    <section>
      <div class="container">
        <div class="row articles-row">
          <div class="col-md-4 col-sm-12">
            <div class="list-border">
              <span class="title">Articles<br>les plus lus</span>
              <ul class="articles" data-mh="section-article">
                <li class="col-sm-4 col-md-12">
                  <div class="col-lg-6 col-md-12">
                    <a href="#0"><img src="../../img/lemag/article-lu-1.jpg" alt=""></a>
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <a href="#0" class="categ">DIY #10</a>
                    <h3><a href="#0">Repeindre un mur en moins d'une heure</a></h3>
                  </div>
                </li>
                <li class="col-sm-4 col-md-12">
                  <div class="col-lg-6 col-md-12 video">
                    <div class="overlay">
                      <span>Voir la video</span>
                    </div>
                    <a href="#0"><img src="../../img/lemag/article-lu-2.jpg" alt=""></a>
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <a href="#0" class="categ">Idee déco</a>
                    <h3><a href="#0">Une chambre enfant douce et graphique</a></h3>
                  </div>
                </li>
                <li class="col-sm-4 col-md-12 hidden-md">
                  <div class="col-lg-6 col-md-12">
                    <a href="#0"><img src="../../img/lemag/article-lu-3.jpg" alt=""></a>
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <a href="#0" class="categ">Idee déco</a>
                    <h3><a href="#0">Les meilleures adresses pour chiner à Paris</a></h3>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="item-article col-sm-6 col-md-4">
            <div class="container-article" data-mh="section-article">
              <div class="img">
                <a href="#0">
                  <img src="../../img/lemag/suspensions-plumes.jpg" alt="">
                </a>
              </div>
              <div class="row-content">
                <div class="content">
                  <a href="#0" class="categ">Idee déco</a>
                  <h3><a href="#0">10 suspensions<br>à plumes</a></h3>
                  <a href="#0" class="link"><span>Lire l'article</span></a>
                </div>
                <div class="infos">
                  <span class="date">Le 12.10.16</span>
                  <span class="author-name">Laurence Parisot</span>
                </div>
              </div>
            </div>
          </div>
          <div class="item-article col-sm-6 col-md-4">
            <div class="container-article" data-mh="section-article">
              <div class="img">
                <a href="#0">
                  <img src="../../img/lemag/tete-de-lit.jpg" alt="">
                </a>
              </div>
              <div class="row-content">
                <div class="content">
                  <a href="#0" class="categ">Inspiration design</a>
                  <h3><a href="#0">Créer une tête<br>de lit graphique</a></h3>
                  <a href="#0" class="link"><span>Lire l'article</span></a>
                </div>
                <div class="infos">
                  <span class="date">Le 12.10.16</span>
                  <span class="author-name">Magalie Bernardin</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <section class="media media-text">
    <div class="container">
      <div class="row same-height-container">
        <div class="col-sm-8  video same-height">
          <div class="overlay" id="launch-video">
            <span>Voir la video</span>
          </div>
          <img src="../../img/lemag/image-video.jpg" alt="">
        </div>
        <div class="col-sm-4 text-left text same-height">
          <a href="#0" class="categ">Vidéo</a>
          <h2><a href="#0">La chambre imaginée par Théo, designée par Marta Budi</a></h2>
          <p>Martha Brudi est une chineuse invétérée.<br>La vue d’un objet lui permet d’imaginer...</p>
          <a href="#0" class="link"><span>Lire l'article</span></a>
          <div class="infos">
            <span class="date">Le 12.10.16</span>
            <span class="author-name">Mickaël Rodriguez</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="more noborder">
    <div class="col-sm-12">
      <div class="container">
        <div class="row">
          <ul class="articles-row row">
            <li class="item col-sm-4">
              <div class="img">
                <a href="#0">
                  <img src="../../img/lemag/article-left.jpg" alt="">
                </a>
              </div>
              <div class="row-content" data-mh="article-content">
                <div class="content">
                  <a href="#0" class="categ">Idée déco</a>
                  <h3><a href="#0">Une table de Noël<br>Gold and Green</a></h3>
                  <a href="#0" class="link"><span>Lire l'article</span></a>
                </div>
                <div class="infos">
                  <span class="date">Le 12.10.16</span>
                  <span class="author-name">Mickaël Rodriguez</span>
                </div>
              </div>
            </li>
            <li class="item col-sm-4">
              <div class="img">
                <a href="#0">
                  <img src="../../img/lemag/article-left.jpg" alt="">
                </a>
              </div>
              <div class="row-content" data-mh="article-content">
                <div class="content">
                  <a href="#0" class="categ">Idée déco</a>
                  <h3><a href="#0">Du bleu canard<br>pour votre chambre</a></h3>
                  <a href="#0" class="link"><span>Lire l'article</span></a>
                </div>
                <div class="infos">
                  <span class="date">Le 12.10.16</span>
                  <span class="author-name">Thibaud de Loigny</span>
                </div>
              </div>
            </li>
            <li class="item col-sm-4">
              <div class="img">
                <a href="#0">
                  <img src="../../img/lemag/article-left.jpg" alt="">
                </a>
              </div>
              <div class="row-content" data-mh="article-content">
                <div class="content">
                  <a href="#0" class="categ">Inspiration Design</a>
                  <h3><a href="#0">Du bois et du brut pour un intérieur rétro</a></h3>
                  <a href="#0" class="link"><span>Lire l'article</span></a>
                </div>
                <div class="infos">
                  <span class="date">Le 12.10.16</span>
                  <span class="author-name">Tania Wolerberg</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="media media-text">
    <div class="container">
      <div class="row same-height-container">
        <div class="col-sm-4 text-left text same-height">
          <a href="#0" class="categ">Idée déco</a>
          <h2><a href="#0">Tendance<br>Black & White, et des motifs géométriques</a></h2>
          <p>Martha Brudi est une chineuse invétérée.<br>La vue d’un objet lui permet d’imaginer...</p>
          <a href="#0" class="link"><span>Lire l'article</span></a>
          <div class="infos">
            <span class="date">Le 12.10.16</span>
            <span class="author-name">François Mitier</span>
          </div>
        </div>
        <div class="col-sm-8 nopadding same-height">
          <a href="#0"><img src="../../img/lemag/image-video.jpg" alt=""></a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <a href="#0" class="button simple">Voir plus d'articles</a>
        </div>
      </div>
    </div>
  </section>

  <div class="overlay-lightbox">
    <div class="content-video">
      <!--<div class="video-container">-->
      <!--<iframe src="http://player.vimeo.com/video/22428395" width="500" height="500" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>-->
      <!--</div>-->
      <div class="video-container">
        <iframe width="500" height="500" src="http://www.youtube.com/embed/wN3gueLT0D8?showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

  </div>

  <script>
    $(document).ready(function(){
      $('.slideshow .slides').slick({
        dots: true,
        arrows: false,
        infinite: true,
        speed: 300,
        slidesToShow: 1,
        fade: true,
        cssEase: 'linear'
      });
      $('.leftArrow').on('click', function(){
        $('.slideshow .slides').slick("slickPrev");
      });
      $('.rightArrow').on('click', function(){
        $('.slideshow .slides').slick("slickNext");
      });
    });
  </script>
</main>
@@include('../_templates/_footer_lemag.html')
