
<div class="credit-content">
    <h2 class="credit-heading">
        <span class="credit-heading-title"> Découvrez  <br/> nos offres de crédit </span>
        <span class="credit-heading-sub-title"> A l’aide de quelques exemples, découvrez nos solutions de crédit sans frais <br/> supplémentaires sur des durées de 10 ou 10 mois</span>
    </h2>
    <div class="credit-bandeau">
        <div>En ce moment, profites-en!</div>
        <div>Payez en <span>10 mois</span> </div>
        <div> ou <span> 20 mois </span> sans frais </div>
    </div>

    <ul>
        <li class="credit-visu-option col-xs-6 col-sm-4 ">
            <a data-toggle="pill" href="#credit-option-1">
                <div class="radio-inline">
                    <div class="radiobox">
                        <input type="radio" name="product" id="product-0"  class="css-radio">
                        <label for="product-0" class="css-label">
                            <img src="../img/homepage/PRODUITS_02.png"/>
                            <span>Trigo <br/>  Lampadaire trépied <br/> 319,99€</span>
                        </label>
                    </div>
                </div>
            </a>
        </li>
        <li class="credit-visu-option col-xs-6 col-sm-4 ">
            <a data-toggle="pill" href="#credit-option-2">
                <div class="radio-inline">
                    <div class="radiobox">
                        <input type="radio" name="product" id="product-1" checked class="css-radio">
                        <label for="product-1" class="css-label">
                            <img src="../img/homepage/PRODUITS_02.png"/>
                            <span>Trigo <br/>  Lampadaire trépied <br/> 319,99€</span>

                        </label>

                    </div>
                </div>
            </a>
        </li>
        <li class="credit-visu-option col-xs-6 col-sm-4 ">
            <a data-toggle="pill" href="#credit-option-3">
                <div class="radio-inline">
                    <div class="radiobox">
                        <input type="radio" name="product" id="product-2"  class="css-radio">
                        <label for="product-2" class="css-label">
                            <img src="../img/homepage/PRODUITS_02.png"/>
                            <span>Trigo <br/>  Lampadaire trépied <br/> 319,99€</span>
                        </label>
                    </div>
                </div>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="credit-option-1" class="mensualites tab-pane fade">
            <div class="detail_mensualites col-sm-5 col-md-6">
                <div class="detail_mensualites_elt">10</div>
                <div class="detail_mensualites_elt">
                    <div class="detail_mensualites_sub_elt"> mensualités*</div>
                    <div class="detail_mensualites_sub_elt">sans frais</div>
                </div>
                <div class="detail_mensualites_elt" >Soit 16,00€ par mois pendant 10 mois</div>
                <img src="../img/common/OU@2x.png"/>
            </div>

            <div class="detail_mensualites col-sm-5 col-md-6">
                <div class="detail_mensualites_elt">20</div>
                <div class="detail_mensualites_elt">
                    <div class="detail_mensualites_sub_elt"> mensualités*</div>
                    <div class="detail_mensualites_sub_elt">sans frais</div>
                </div>
                <div class="detail_mensualites_elt" >Soit 8,00€ par mois pendant 20 mois</div>
            </div>
        </div>
        <div id="credit-option-2" class="mensualites tab-pane fade in active">
            <div class="detail_mensualites col-sm-5 col-md-6">
                <div class="detail_mensualites_elt">10</div>
                <div class="detail_mensualites_elt">
                    <div class="detail_mensualites_sub_elt"> mensualités*</div>
                    <div class="detail_mensualites_sub_elt">sans frais</div>
                </div>
                <div class="detail_mensualites_elt" >Soit 16,00€ par mois pendant 10 mois</div>
                <img src="../img/common/OU@2x.png"/>
            </div>

            <div class="detail_mensualites col-sm-5 col-md-6">
                <div class="detail_mensualites_elt">20</div>
                <div class="detail_mensualites_elt">
                    <div class="detail_mensualites_sub_elt"> mensualités*</div>
                    <div class="detail_mensualites_sub_elt">sans frais</div>
                </div>
                <div class="detail_mensualites_elt" >Soit 8,00€ par mois pendant 20 mois</div>
            </div>
        </div>
        <div id="credit-option-3" class="mensualites tab-pane fade">
            <div class="detail_mensualites col-sm-5 col-md-6">
                <div class="detail_mensualites_elt">10</div>
                <div class="detail_mensualites_elt">
                    <div class="detail_mensualites_sub_elt"> mensualités*</div>
                    <div class="detail_mensualites_sub_elt">sans frais</div>
                </div>
                <div class="detail_mensualites_elt" >Soit 16,00€ par mois pendant 10 mois</div>
                <img src="../img/common/OU@2x.png"/>
            </div>

            <div class="detail_mensualites col-sm-5 col-md-6">
                <div class="detail_mensualites_elt">20</div>
                <div class="detail_mensualites_elt">
                    <div class="detail_mensualites_sub_elt"> mensualités*</div>
                    <div class="detail_mensualites_sub_elt">sans frais</div>
                </div>
                <div class="detail_mensualites_elt" >Soit 8,00€ par mois pendant 20 mois</div>
            </div>
        </div>
    </div>

        <div class="credit_notes">
            <p class="credit_notes_elt">*Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.</p>
            <p class="credit_notes_elt">Offre valable jusqu’au 31/12/2015. Offre de crédit accessoire à une vente de 300 € à 16 000 € sur une durée de 10 ou 20 mois.</p>
            <p class="credit_notes_elt">Le coût du crédit est pris en charge par votre magasin. Hors assurance facultative.</p>
            <p class="credit_notes_elt">Sous réserve d’étude et d’acceptation du dossier par BNP Paribas Personal Finance. Vous disposez d’un droit de rétractation. Cetelem est une marque de BNP Paribas Personal Finance, 1 boulevard Haussmann 75009 Paris, établissement de crédit, Société Anonyme au capital de 468 186 439 €, 542 097 902 RCS Paris, intermédiaire d’assurances. N° ORIAS: 07 023128 (www.orias.fr).</p>
            <p class="credit_notes_elt">Publicité conçue par FLY SAS, 90 rue de Guebwiller, 68260 Kingersheim-RC Mulhouse 345 029 474 immatriculé à l’ORIAS sous le n° 15 001 649 (consultable sur www.orias.fr) dans la catégorie mandataire en opérations de banque et en services de paiement non exclusif de BNP Paribas Personal Finance qui apporte son concours à la réalisation d’opérations de crédit à la consommation sans agir en qualité de prêteur. Si votre magasin Fly exploité par un franchisé indépendant a le statut d’IOBSP et de mandataire bancaire exclusif ou non, son n° d’immatriculation à
                l’ORIAS (consultable sur www.orias.fr) est affiché à l’accueil. Conditions au 01/10/2015.</p>
        </div>
</div>
