<div class="our-features-box">
    <div class="container">
        <div class="row">
            <div class="feature-box col-md-3 col-xs-6">
                <i class="icon-box"></i>
                <span>Livraison et retours</span>
                <strong>gratuits en magasin</strong>
            </div>
            <div class="feature-box col-md-3 col-xs-6">
                <i class="icon-lock"></i>
                <span>Paiement sécurisé</span>
                <strong>en 5 ou 10 fois sans frais</strong>
            </div>
            <div class="feature-box col-md-3 col-xs-6">
                <i class="icon-call"></i>
                <span>Service client</span>
                <strong>08 00 80 40 20 6j/7 9h-22h</strong>
            </div>
            <div class="feature-box col-md-3 col-xs-6">
                <i class="icon-14"></i>
                <span>jours</span>
                <strong>pour changer d’avis</strong>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer-wrapper container">
        <div class="footer-top row">
            <div class="newsletter col-md-8 col-sm-12">
                <div class="input-label">
                    Inscrivez-vous à notre <br />newsletter et recevez 15€
                </div>
                <form class="" action="#" method="post">
                    <div class="input-group">
                        <input type="email" class="form-control  btn-lg" placeholder="Votre e-mail">
                          <span class="input-group-btn">
                            <button class="btn btn-lg btn-default" type="button">Ok</button>
                          </span>
                    </div>
                </form>
                <!-- /input-group -->
            </div>

            <div class="social col-xs-12 text-center">
                <ul class="links">
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                    <li><a href="#"><i class="icon-pinterest"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                </ul>
            </div>


        </div>
        <div class="footer-middle row">
            <div class="footer-column col-md-3 col-xs-6">
                <h4>L’esprit Fly</h4>
                <ul class="links">
                    <li><a title="" href="#">Qui sommes-nous</a></li>
                    <li><a title="" href="#">Tous nos magasins </a></li>
                    <li><a title="" href="#">Revue de presse </a></li>
                    <li><a title="" href="#">MyFly </a></li>
                    <li><a title="" href="#">FlyBy </a></li>
                    <li><a title="" href="#">Nous rejoindre </a></li>
                </ul>
            </div>
            <div class="footer-column col-md-3 col-xs-6">
                <h4>Fly et moi</h4>
                <ul class="links">
                    <li><a title="" href="#">Mon compte</a></li>
                    <li><a title="" href="#">Cartes Fly </a></li>
                    <li><a title="" href="#">Les services </a></li>
                    <li><a title="" href="#">Envie d’offrir ? </a></li>
                </ul>
            </div>
            <div class="footer-column col-md-3 col-xs-6">
                <h4>Service client</h4>
                <ul class="links">
                    <li><a title="" href="#">Livraison</a></li>
                    <li><a title="" href="#">Retour </a></li>
                    <li><a title="" href="#">Paiement sécurisé </a></li>
                    <li><a title="" href="#">CGV </a></li>
                    <li><a title="" href="#">FAQ </a></li>
                    <li><a title="" href="#">Contactez-nous </a></li>
                </ul>
            </div>
            <div class="footer-column col-md-3 col-xs-6">
                <h4>Infos</h4>
                <ul class="links">
                    <li><a title="" href="#">Qualités et engagement</a></li>
                    <li><a title="" href="#">Les normes </a></li>
                    <li><a title="" href="#">Données personnelles </a></li>
                    <li><a title="" href="#">Mentions légales </a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom row">
            <p class="coppyright">©2016 Fly tous droits réservés</p>
        </div>

    </div>
</footer>

<!-- Footer scripts go here -->

<script src="https://maps.google.com/maps/api/js?key=AIzaSyBouRe49O3yClqpgiNHn6qr_peuogGzdz0&region=FR"></script>

<script src="../js/bases/app.js"></script>
<script src="../js/components/_homepage.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/retina.js/2.1.0/retina.min.js"></script>
<script>
	retinajs ();
	window.onresize = function(event) {
		retinajs ();
	};

</script>

</body>
</html>
