<div class="modal fade" id="composition" tabindex="-1" role="dialog" aria-labelledby="composition">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span>
                </button>
                <h4 class="modal-title">Composition</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li class="col-md-6 col-xs-12">
                        <div class="col-md-4 composition-img" data-mh="composition-img">
                            <img src="../img/products/details/compo-1.jpg" alt=""/>
                        </div>
                        <div class="col-md-8 composition-details" data-mh="composition-details">
                            <strong class="price">99€</strong>

                            <p>
                                m11: accoudoir gauche large + pieds gris.
                                structure en panneaux de particules,
                                panneaux de fibres et pin massif. garnissage
                                mousse polyéther (dessus : densité 24kg/ m3,
                                cotés : d16 kg/m3). pieds abs gris (ht 4.5 cm).
                                revêtement au choix : 21 coloris. catégorie b :
                                7 xmoss(100%polyester), 6 x looksixty
                                (100%polyuréthane), 5 x etna(100%polyester),
                                et 3 x luxury(70%polyester,30%coton). <br/>
                                <b>Référence</b> : 77735421<br/>
                                <b>Dimensions</b> : L 27 cm x H 59 cm x P 94 cm
                            </p>
                        </div>
                    </li>
                    <li class="col-md-6 col-xs-12">
                        <div class="col-md-4 composition-img" data-mh="composition-img">
                            <img src="../img/products/details/compo-2.jpg" alt=""/>
                        </div>
                        <div class="col-md-8 composition-details" data-mh="composition-details">
                            <strong class="price">99€</strong>
                            <span class="sub-price">539,90€ soit 535,40 € + 4,50 € d'éco-part </span>

                            <p>
                                m11: accoudoir gauche large + pieds gris.
                                structure en panneaux de particules,
                                panneaux de fibres et pin massif. garnissage
                                mousse polyéther (dessus : densité 24kg/ m3,
                                cotés : d16 kg/m3). pieds abs gris (ht 4.5 cm).
                                revêtement au choix : 21 coloris. catégorie b :
                                7 xmoss(100%polyester), 6 x looksixty
                                (100%polyuréthane), 5 x etna(100%polyester),
                                et 3 x luxury(70%polyester,30%coton). <br/>
                                <b>Référence</b> : 77735421<br/>
                                <b>Dimensions</b> : L 27 cm x H 59 cm x P 94 cm
                            </p>
                        </div>
                    </li>
                    <li class="col-md-6 col-xs-12">
                        <div class="col-md-4 composition-img" data-mh="composition-img">
                            <img src="../img/products/details/compo-3.jpg" alt=""/>
                        </div>
                        <div class="col-md-8 composition-details" data-mh="composition-details">
                            <strong class="price">99€</strong>

                            <p>
                                m11: accoudoir gauche large + pieds gris.
                                structure en panneaux de particules,
                                panneaux de fibres et pin massif. garnissage
                                mousse polyéther (dessus : densité 24kg/ m3,
                                cotés : d16 kg/m3). pieds abs gris (ht 4.5 cm).
                                revêtement au choix : 21 coloris. catégorie b :
                                7 xmoss(100%polyester), 6 x looksixty
                                (100%polyuréthane), 5 x etna(100%polyester),
                                et 3 x luxury(70%polyester,30%coton). <br/>
                                <b>Référence</b> : 77735421<br/>
                                <b>Dimensions</b> : L 27 cm x H 59 cm x P 94 cm
                            </p>
                        </div>
                    </li>
                    <li class="col-md-6 col-xs-12">
                        <div class="col-md-4 composition-img" data-mh="composition-img">
                            <img src="../img/products/details/compo-4.jpg" alt=""/>
                        </div>
                        <div class="col-md-8 composition-details" data-mh="composition-details">
                            <strong class="price">99€</strong>

                            <p>
                                m11: accoudoir gauche large + pieds gris.
                                structure en panneaux de particules,
                                panneaux de fibres et pin massif. garnissage
                                mousse polyéther (dessus : densité 24kg/ m3,
                                cotés : d16 kg/m3). pieds abs gris (ht 4.5 cm).
                                revêtement au choix : 21 coloris. catégorie b :
                                7 xmoss(100%polyester), 6 x looksixty
                                (100%polyuréthane), 5 x etna(100%polyester),
                                et 3 x luxury(70%polyester,30%coton). <br/>
                                <b>Référence</b> : 77735421<br/>
                                <b>Dimensions</b> : L 27 cm x H 59 cm x P 94 cm
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="storelocator" tabindex="-1" role="dialog" aria-labelledby="storelocator">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span>
                </button>
                <div class="col-xs-12 col-md-5 head-label"><strong class="sp-top">Vérifier la disponibilité en
                    magasin</strong></div>
                <div class="col-xs-12 col-md-7 head-input">
                    <table>
                        <tr>
                            <td>
                                <button id="getPositionButton" class="btn-fly btn-inverse"><i class="icon-location"></i>
                                    Proche de moi
                                </button>
                            </td>
                            <td><strong>ou</strong></td>
                            <td>
                                <div id="custom-search-input">
                                    <div class="input-group col-md-12">
                                        <input type="text" class="form-control input-lg" placeholder="75001"/>
                                        <span class="input-group-btn">
                                            <button class="btn btn-lg" type="button">
                                                <i class="icon-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-body">
                <div class="col-xs-12 col-md-7 back-to-result hidden">
                    <a href="#" id="back-to-result">
                        <i class="icon-arrow-left-bold"></i> Retour aux résultats
                    </a>
                </div>
                <div class="col-xs-12 col-md-5 map-container pull-right">
                    <div id="fl-sl-map-container"></div>
                </div>
                <div class="col-xs-12 col-md-7 store-result ">
                    <div class="count-result">
                        <strong>3 Résultats</strong>
                    </div>
                    <div class="nano">
                        <div class="overthrow nano-content">
                            <table class="no-style">
                                <tr>
                                    <td><strong>Créteil</strong></td>
                                    <td><span class="distance">10 Km</span></td>
                                    <td><span class="bold">Disponible</span></td>
                                    <td>
                                        <button class="no-style"><i class="icon-arrow-right-bold"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Evreux</strong></td>
                                    <td><span class="distance">100 Km</span></td>
                                    <td><span class="bold red">Plus que 10 disponibles</span></td>
                                    <td>
                                        <button class="no-style"><i class="icon-arrow-right-bold"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Troyes</strong></td>
                                    <td><span class="distance">310 Km</span></td>
                                    <td><span>Visible en magasin</span></td>
                                    <td>
                                        <button class="no-style"><i class="icon-arrow-right-bold"></i></button>
                                    </td>
                                </tr> <tr>
                                    <td><strong>Créteil</strong></td>
                                    <td><span class="distance">10 Km</span></td>
                                    <td><span class="bold">Disponible</span></td>
                                    <td>
                                        <button class="no-style"><i class="icon-arrow-right-bold"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Evreux</strong></td>
                                    <td><span class="distance">100 Km</span></td>
                                    <td><span class="bold red">Plus que 10 disponibles</span></td>
                                    <td>
                                        <button class="no-style"><i class="icon-arrow-right-bold"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Troyes</strong></td>
                                    <td><span class="distance">310 Km</span></td>
                                    <td><span>Visible en magasin</span></td>
                                    <td>
                                        <button class="no-style"><i class="icon-arrow-right-bold"></i></button>
                                    </td>
                                </tr> <tr>
                                    <td><strong>Créteil</strong></td>
                                    <td><span class="distance">10 Km</span></td>
                                    <td><span class="bold">Disponible</span></td>
                                    <td>
                                        <button class="no-style"><i class="icon-arrow-right-bold"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Evreux</strong></td>
                                    <td><span class="distance">100 Km</span></td>
                                    <td><span class="bold red">Plus que 10 disponibles</span></td>
                                    <td>
                                        <button class="no-style"><i class="icon-arrow-right-bold"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Troyes</strong></td>
                                    <td><span class="distance">310 Km</span></td>
                                    <td><span>Visible en magasin</span></td>
                                    <td>
                                        <button class="no-style"><i class="icon-arrow-right-bold"></i></button>
                                    </td>
                                </tr> <tr>
                                    <td><strong>Créteil</strong></td>
                                    <td><span class="distance">10 Km</span></td>
                                    <td><span class="bold">Disponible</span></td>
                                    <td>
                                        <button class="no-style"><i class="icon-arrow-right-bold"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Evreux</strong></td>
                                    <td><span class="distance">100 Km</span></td>
                                    <td><span class="bold red">Plus que 10 disponibles</span></td>
                                    <td>
                                        <button class="no-style"><i class="icon-arrow-right-bold"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Troyes</strong></td>
                                    <td><span class="distance">310 Km</span></td>
                                    <td><span>Visible en magasin</span></td>
                                    <td>
                                        <button class="no-style"><i class="icon-arrow-right-bold"></i></button>
                                    </td>
                                </tr> <tr>
                                    <td><strong>Créteil</strong></td>
                                    <td><span class="distance">10 Km</span></td>
                                    <td><span class="bold">Disponible</span></td>
                                    <td>
                                        <button class="no-style"><i class="icon-arrow-right-bold"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Evreux</strong></td>
                                    <td><span class="distance">100 Km</span></td>
                                    <td><span class="bold red">Plus que 10 disponibles</span></td>
                                    <td>
                                        <button class="no-style"><i class="icon-arrow-right-bold"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Troyes</strong></td>
                                    <td><span class="distance">310 Km</span></td>
                                    <td><span>Visible en magasin</span></td>
                                    <td>
                                        <button class="no-style"><i class="icon-arrow-right-bold"></i></button>
                                    </td>
                                </tr> <tr>
                                    <td><strong>Créteil</strong></td>
                                    <td><span class="distance">10 Km</span></td>
                                    <td><span class="bold">Disponible</span></td>
                                    <td>
                                        <button class="no-style"><i class="icon-arrow-right-bold"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Evreux</strong></td>
                                    <td><span class="distance">100 Km</span></td>
                                    <td><span class="bold red">Plus que 10 disponibles</span></td>
                                    <td>
                                        <button class="no-style"><i class="icon-arrow-right-bold"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Troyes</strong></td>
                                    <td><span class="distance">310 Km</span></td>
                                    <td><span>Visible en magasin</span></td>
                                    <td>
                                        <button class="no-style"><i class="icon-arrow-right-bold"></i></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-7 store-details hidden">
                    <div class="store-name  col-xs-12">
                        <strong>Créteil</strong>
                    </div>
                    <div class="store-adresss col-xs-6">
                        <address>RN 6 Carrefour Pompadour
                            94034 Créteil Cedex
                        </address>
                    </div>
                    <div class="store-phone  col-xs-6">
                        <a href="tel:0145132900"><i class="icon-call"></i> 01 45 13 29 00</a>
                    </div>
                    <div class="store-open-times">
                        <strong class="open-times-title">Horaires d’ouverture</strong>
                        <div class="col-xs-12 col-md-6 time-table">
                            <table>
                                <tr>
                                    <td>Lundi</td>
                                    <td>de 10h00 à 19h00</td>
                                </tr>
                                <tr>
                                    <td>Mardi</td>
                                    <td>de 10h00 à 19h00</td>
                                </tr>
                                <tr class="today">
                                    <td>Mercredi</td>
                                    <td>de 10h00 à 19h00</td>
                                </tr>
                                <tr>
                                    <td>Jeudi</td>
                                    <td>de 10h00 à 19h00</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-xs-12 col-md-6 time-table">
                            <table>
                                <tr>
                                    <td>Vendredi</td>
                                    <td>de 10h00 à 19h00</td>
                                </tr>
                                <tr>
                                    <td>Samedi</td>
                                    <td>de 10h00 à 19h00</td>
                                </tr>
                                <tr>
                                    <td>Dimanche</td>
                                    <td>Fermé</td>
                                </tr>
                            </table>
                        </div>

                    </div>
                    <p class="red"> Le magasin sera exceptionnelement fermé le <strong>lundi 8 mai 2016</strong></p>
                    <a href="#" class="underline">Voir la fiche magasin</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="storelocator-checkout" tabindex="-1" role="dialog" aria-labelledby="storelocator-checkout">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span>
                </button>
                <div class="col-xs-12 col-md-4 head-label">
                    <strong class="sp-top">Sélectionner un point de retrait</strong>
                </div>
                <div class="col-xs-12 col-md-8 head-input">
                    <table>
                        <tr>
                            <td>
                                <button id="getPositionButton" class="btn-fly btn-inverse"><i class="icon-location"></i>
                                    Proche de moi
                                </button>
                            </td>
                            <td><strong>ou</strong></td>
                            <td>
                                <div id="custom-search-input">
                                    <div class="input-group col-md-12">
                                        <input type="text" class="form-control input-lg" placeholder="75001"/>
                                        <span class="input-group-btn">
                                            <button class="btn btn-lg" type="button">
                                                <i class="icon-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-body">
                <div class="col-xs-12 col-md-5 map-container pull-right">
                    <div id="fl-sl-map-container-checkout"></div>
                </div>
                <div class="col-xs-12 col-md-7 store-result ">
                    <div class="count-result">
                        <strong>3 Résultats</strong>
                    </div>
                    <div class="nano">
                        <div class="overthrow nano-content">
                            <table class="no-style">
                                <tr>
                                    <td><strong>Créteil</strong></td>
                                    <td><span class="distance">10 Km</span></td>
                                    <td class="text-right">
                                        <button class="btn-fly btn-lg ">Choisir</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Evreux</strong></td>
                                    <td><span class="distance">100 Km</span></td>
                                    <td class="text-right">
                                        <button class="btn-fly btn-lg ">Choisir</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Troyes</strong></td>
                                    <td><span class="distance">310 Km</span></td>
                                    <td class="text-right">
                                        <button class="btn-fly btn-lg ">Choisir</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Créteil</strong></td>
                                    <td><span class="distance">10 Km</span></td>
                                    <td class="text-right">
                                        <button class="btn-fly btn-lg ">Choisir</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Evreux</strong></td>
                                    <td><span class="distance">100 Km</span></td>
                                    <td class="text-right">
                                        <button class="btn-fly btn-lg ">Choisir</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Troyes</strong></td>
                                    <td><span class="distance">310 Km</span></td>
                                    <td class="text-right">
                                        <button class="btn-fly btn-lg ">Choisir</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Créteil</strong></td>
                                    <td><span class="distance">10 Km</span></td>
                                    <td class="text-right">
                                        <button class="btn-fly btn-lg ">Choisir</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Evreux</strong></td>
                                    <td><span class="distance">100 Km</span></td>
                                    <td class="text-right">
                                        <button class="btn-fly btn-lg ">Choisir</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Troyes</strong></td>
                                    <td><span class="distance">310 Km</span></td>
                                    <td class="text-right">
                                        <button class="btn-fly btn-lg ">Choisir</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="added-to-cart" tabindex="-1" role="dialog" aria-labelledby="added-to-cart">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span>
                </button>
                <h4 class="modal-title text-center">Ce produit a bien été ajouté à votre panier</h4>
            </div>
            <div class="modal-body">
                <div class="col-xs-12">
                    <div class="item-thumb col-md-5">
                        <img src="../img/products/details/VISUEL_PRINCIPAL.jpg" data-rjs="2" alt=""/>
                    </div>
                    <div class="cart-details col-md-7">
                        <table class="no-style">
                            <tr>
                                <td class="label">
                                    <strong>Norway</strong>
                                    <p>Canapé fixe 3 pl tissu rose bonbon</p>
                                </td>
                                <td class="qty"><b>1</b></td>
                                <td class="price">
                                    <div class="regular-price">599€</div>
                                    <div class="sale-price">499,90€</div>
                                </td>
                            </tr>
                        </table>
                        <div class="shipping-notice">
                            <span class="red">Livré sous 10 jours</span>
                        </div>
                        <div class="block filter-submit">
                            <div class="block-content">
                                <div class="col-xs-6">
                                    <button type="button" data-dismiss="modal" aria-label="Close" id="continue-shop"
                                            class="btn btn-fly btn-lg btn-block">
                                        Poursuivre mes achats
                                    </button>
                                </div>
                                <div class="col-xs-6">
                                    <a href="#" class="btn btn-fly btn-lg btn-block btn-inverse">
                                        Accéder au panier
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="share-by-email" tabindex="-1" role="dialog" aria-labelledby="share-by-email">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span>
                </button>
                <h4 class="modal-title text-center">Partager cet article par e-mail</h4>
            </div>
            <div class="modal-body">
                <div class="email-form">
                    <div class="item-thumb col-xs-12 col-md-6">
                        <span class="label">Article partagé :</span>
                        <img src="../img/products/details/VISUEL_PRINCIPAL.jpg" data-rjs="2" alt=""/>
                        <table class="no-style">
                            <tr>
                                <td class="label">
                                    <strong>Norway</strong>
                                    <p>Canapé fixe 3 pl tissu rose bonbon</p>
                                </td>
                                <td class="qty"><b>1</b></td>
                                <td class="price">
                                    <div class="sale-price">499,90€</div>
                                    <div class="regular-price">599€</div>
                                </td>
                            </tr>
                        </table>
                        <div class="shipping-notice">
                            <span class="underline">Lien vers la page</span>
                        </div>
                    </div>
                    <div class="contact-form col-xs-12  col-md-6">
                        <form action="#" method="get">
                            <div class="form-group">
                                <label for="from">Expéditeur :</label>
                                <input type="text" class="form-control input-lg" placeholder="Christophe Sube"
                                       id="from">
                            </div>
                            <div class="form-group">
                                <label for="email">Votre adresse e-mail :</label>
                                <input type="email" class="form-control input-lg"
                                       placeholder="christophe.sube@gmail.com"
                                       id="email">
                            </div>
                            <div class="form-group">
                                <label for="to">Destinataire(s) :</label>
                                <input type="text" class="form-control input-lg" placeholder="florence@5emegauche.com"
                                       id="to">
                            </div>
                            <div class="form-group">
                                <label for="message">Message :</label>
                                <textarea name="message" id="message" rows="3" class="form-control input-lg"></textarea>
                            </div>
                            <button type="submit" class="btn btn-fly pull-right btn-lg  btn-inverse">
                                Envoyer par e-mail
                            </button>
                        </form>
                    </div>
                </div>
                <div class="email-msg hidden">
                    <h3>Envoyé</h3>
                    <p>Votre e-mail a bien été envoyé aux adresses suivante : 
                        <strong>contact@5emegauche.com, lauramichel@gmail.com,tommartin@5emegauche.com</strong>
                    </p>

                    <div class="back-to-product">
                        <span data-dismiss="modal" aria-label="Close" class="underline">
                            Retour à l’article
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="user-connexion" tabindex="-1" role="dialog" aria-labelledby="user-connexion">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span>
                </button>
                <h4 class="modal-title text-center">Connectez-vous</h4>
            </div>
            <div class="modal-body">
                <div class="connection-wrapper">
                    <div class="connection-form col-xs-12  col-md-6" data-mh="user-column">
                        <h3>Vous avec un compte client</h3>
                        <form action="#" method="get">
                            <div class="form-group">
                                <label for="user-email">Adresse e-mail :</label>
                                <input type="email" class="form-control input-lg"
                                       placeholder="christophe.sube@gmail.com"
                                       id="user-email">
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe :</label>
                                <input type="password" class="form-control input-lg" placeholder="Mot de passe"
                                       id="password">
                            </div>
                            <div class="form-group">
                                <a href="#" id="lostpassword" class="underline">Mot de passe oublié</a>
                            </div>
                            <button type="submit" class="btn btn-fly btn-lg  btn-inverse ">
                                <i class="icon-arrow-right-bold"></i> Se connecter
                            </button>
                        </form>
                    </div>
                    <div class="new-connection col-xs-12  col-md-6" data-mh="user-column">
                        <h3>Vous avec un compte client</h3>
                        <p>
                            Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur.
                            Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante dapibus
                            posuere velit aliquet.
                        </p>
                        <button type="submit" class="btn btn-fly btn-lg">
                            <i class="icon-arrow-right-bold"></i> Créer mon compte
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-content lostpass hidden">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span>
                </button>
                <h4 class="modal-title text-center"><a href="#back-to-connection" class="back"> <i
                        class="icon-arrow-left-bold"></i> <span>Retour</span> </a> Mot de passe oublié</h4>
            </div>
            <div class="modal-body">
                <div class="lostpass-wrapper">
                    <div class="recovery-form col-xs-12  col-md-8 col-md-offset-2" data-mh="user-column">
                        <p>Nous allons vous adresser un e-mail qui vous permettra de choisir un nouveau mot de
                            passe. </p>
                        <form action="#" method="get">
                            <div class="form-group">
                                <label for="user-email">Adresse e-mail :</label>
                                <input type="email" class="form-control input-lg"
                                       placeholder="christophe.sube@gmail.com"
                                       id="recovery-email">
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-fly btn-lg  btn-inverse ">
                                    <i class="icon-arrow-right-bold"></i> Poursuivre
                                </button>
                            </div>
                            <div>
                                <span class="success-msg">
                                    Vous pouvez consulter dès maintenant votre messagerie.
                                </span>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newsletter" tabindex="-1" role="dialog" aria-labelledby="newsletter">
    <div class="modal-dialog edit-informations" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span>
                </button>
                <h3 class="modal-title text-center">Newsletter</h3>
            </div>
            <div class="modal-body ">
                <h5>Pour recevoir des informations et des offres plus personnalisées</h5>
                <p>Aidez-nous à mieux vous connaitre</p>
                <form class="form infos-account">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="field form-group col-md-12">
                                <label>*Civilité :</label>
                                <div class="radio-inline">
                                    <div class="radiobox">
                                        <input name="civilite-1" id="mme-0" class="css-radio" type="radio">
                                        <label for="mme-0" class="css-label">
                                            <span>Madame</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="radio-inline">
                                    <div class="radiobox">
                                        <input name="civilite-1" id="m-0" class="css-radio" type="radio">
                                        <label for="m-0" class="css-label">
                                            <span>Monsieur</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">

                            <div class="field field-name required">
                                <div class="control">
                                    <div class="name">
                                        <label for="">* Nom :</label></div>
                                    <input class="form-control" value="Sube" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="field field-lastname required">
                                <div class="control">
                                    <div class="lastname">
                                        <label for="">* Prénom :</label></div>
                                    <input class="form-control" value="Christophe" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="field field-date ">
                                <div class="control">
                                    <div class="date">
                                        <label for="">* Dare de naissance :</label>
                                    </div>
                                    <div class="birth-date">
                                        <div class="btn-group" role="group" aria-label="">
                                            <div class="dropdown btn-select" role="group">
                                                <a id="day-id" data-toggle="dropdown" aria-haspopup="true"
                                                   aria-expanded="false">
                                                    <span class="btn-select-value">JJ</span>
                                                    <input class="btn-select-input" value="1" type="hidden">
                                                    <span class="btn-select-arrow glyphicon glyphicon-chevron-down"></span>
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="day-id">
                                                    <li class="option" data-value="1">1</li>
                                                    <li class="option" data-value="2">2</li>
                                                    <li class="option" data-value="3">3</li>
                                                    <li class="option" data-value="4">4</li>
                                                    <li class="option" data-value="5">5</li>
                                                    <li class="option" data-value="6">6</li>
                                                    <li class="option" data-value="7">7</li>
                                                    <li class="option" data-value="8">8</li>
                                                    <li class="option" data-value="9">9</li>
                                                    <li class="option" data-value="10">10</li>
                                                    <li class="option" data-value="11">11</li>
                                                    <li class="option" data-value="12">12</li>
                                                    <li class="option" data-value="13">13</li>
                                                    <li class="option" data-value="14">14</li>
                                                    <li class="option" data-value="15">15</li>
                                                    <li class="option" data-value="16">16</li>
                                                    <li class="option" data-value="17">17</li>
                                                    <li class="option" data-value="18">18</li>
                                                    <li class="option" data-value="19">19</li>
                                                    <li class="option" data-value="20">20</li>
                                                    <li class="option" data-value="21">21</li>
                                                    <li class="option" data-value="22">22</li>
                                                    <li class="option" data-value="23">23</li>
                                                    <li class="option" data-value="24">24</li>
                                                    <li class="option" data-value="25">25</li>
                                                    <li class="option" data-value="26">26</li>
                                                    <li class="option" data-value="27">27</li>
                                                    <li class="option" data-value="28">28</li>
                                                    <li class="option" data-value="29">29</li>
                                                    <li class="option" data-value="30">30</li>
                                                    <li class="option" data-value="31">31</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="btn-group" role="group" aria-label="">
                                            <div class="dropdown btn-select" role="group">
                                                <a id="month-id" data-toggle="dropdown" aria-haspopup="true"
                                                   aria-expanded="false">
                                                    <span class="btn-select-value">MM</span>
                                                    <input class="btn-select-input" value="1" type="hidden">
                                                    <span class="btn-select-arrow glyphicon glyphicon-chevron-down"></span>
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="month-id">
                                                    <li class="option" data-value="1">1</li>
                                                    <li class="option" data-value="2">2</li>
                                                    <li class="option" data-value="3">3</li>
                                                    <li class="option" data-value="4">4</li>
                                                    <li class="option" data-value="5">5</li>
                                                    <li class="option" data-value="6">6</li>
                                                    <li class="option" data-value="7">7</li>
                                                    <li class="option" data-value="8">8</li>
                                                    <li class="option" data-value="9">9</li>
                                                    <li class="option" data-value="10">10</li>
                                                    <li class="option" data-value="11">11</li>
                                                    <li class="option" data-value="12">12</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="btn-group" role="group" aria-label="">
                                            <div class="dropdown btn-select" role="group">
                                                <a id="year-id" data-toggle="dropdown" aria-haspopup="true"
                                                   aria-expanded="false">
                                                    <span class="btn-select-value">AAAA</span>
                                                    <input class="btn-select-input" value="1" type="hidden">
                                                    <span class="btn-select-arrow glyphicon glyphicon-chevron-down"></span>
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="year-id">
                                                    <li class="option" data-value="2016">2016</li>
                                                    <li class="option" data-value="2015">2015</li>
                                                    <li class="option" data-value="2014">2014</li>
                                                    <li class="option" data-value="2013">2013</li>
                                                    <li class="option" data-value="2012">2012</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-4">
                            <div class="field field-postal-c ">
                                <div class="control">
                                    <div class="postal-code">
                                        <label for="">* Code postal :</label></div>
                                    <input class="form-control" value="75003" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-8">
                            <div class="field field-magasin">
                                <div class="control">
                                    <div class="magasin">
                                        <label for="">* Magasin :</label>
                                    </div>
                                    <div id="magasin">
                                        <div class="dropdown btn-select">
                                            <a id="magasin-id" data-toggle="dropdown" aria-haspopup="true"
                                               aria-expanded="false">
                                                <span class="btn-select-value">Choisissez</span>
                                                <input class="btn-select-input" value="20" type="hidden">
                                                <span class="btn-select-arrow glyphicon glyphicon-chevron-down"></span>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="magasin-id">
                                                <li class="option" data-value="4">4</li>
                                                <li class="option" data-value="5">5</li>
                                                <li class="option" data-value="10">10</li>
                                                <li class="option" data-value="20">20</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-xs-12">
                            <p class="desc">* Les informations de ce formulaire sont exclusivement réservée *Les
                                informations de ce formulaire sont exclusivement réservée *Les informations de ce
                                formulaire sont exclusivement réservée </p>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <button id="" class="btn-fly btn-lg btn-inverse">
                                Envoyer
                            </button>
                        </div>
                    </div>
            </div>

            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="newsletter2" tabindex="-1" role="dialog" aria-labelledby="newsletter">
    <div class="modal-dialog edit-informations" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span>
                </button>
                <h3 class="modal-title text-center">Newsletter</h3>
            </div>
            <div class="modal-body ">
                <form class="form infos-account">
                    <div class="row">
                        <div class="col-md-4 col-xs-12 ">

                        </div>
                        <div class="col-md-4 col-xs-12 middle-column">
                            <i class="icon-succes"></i>
                            <h5>Merci ! votre inscription a bien été prise en compte.</h5>
                            <a href="#" class="underline">Recevoir des offres personnalisées</a>
                        </div>
                        <div class="col-md-4 col-xs-12 ">

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="popup-vide" tabindex="-1" role="dialog" aria-labelledby="popup-vide">
    <div class="modal-dialog edit-informations" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <div class="logo">
                    <a href="#" title="fly.fr e-commerce">
                        <img src="../img/logo.png" data-rjs="2" alt="fly.fr" data-rjs-processed="true">
                    </a>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span>
                </button>
                <h3 class="modal-title text-center">Newsletter</h3>
            </div>
            <div class="modal-body ">
                <form class="form">
                    <div class="row">
                        <div class="col-md-4 col-xs-12 ">

                        </div>
                        <div class="col-md-4 col-xs-12 middle-column pull-right">
                            <button id="" class="btn-fly btn-lg " data-dismiss="modal" aria-label="Close">
                                Retour
                            </button>
                        </div
                        <div class="col-md-4 col-xs-12 ">

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
