<div class="advantages-cheques col-md-12">
    <h1>Mes avantages fidélité</h1>
    <div class="advantages-cheque-fid col-md-6">
        <div class="contour">
            <div class="detail-cheque">
                <div class="type-cheque">Chèque <strong>Fidélité</strong></div>
                <span class="amount-cheque">12,00</span><sup>€</sup>
                <hr/>
            </div>
            <div class="col-md-12 col-xs-12 deliv-val">
                <div class="col-md-6 col-xs-6">
                    <div class="deliv-cheque">Délivré le : <br/> <strong>05/12/2016 </strong></div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="val-cheque">Valable jusqu'au : <br/> <strong>05/12/2016 </strong></div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12">
                <div class="col-md-6 col-xs-6">
                    <a class="btn-fly btn-lg" href="#">
                        <span> Télécharger (PDF)</span>
                    </a>
                </div>
                <div class="num-cheque col-md-6 col-xs-6">
                    <span>N° 1234567890</span>
                </div>
            </div>
        </div>
    </div>
    <div class="advantages-cheque-annif col-md-6">
        <div class="contour">
            <div class="detail-cheque">
                <div class="type-cheque">Chèque <strong>anniversaire</strong></div>
                <span class="amount-cheque">24,00</span><sup>€</sup>
                <hr/>
                <div class="cond-cheque">dès 100€ d’achats</div>
            </div>
            <div class="col-md-12 col-xs-12 deliv-val">
                <div class="col-md-6 col-xs-6">
                    <div class="deliv-cheque">Délivré le : <br/> <strong>05/12/2016 </strong></div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="val-cheque">Valable jusqu'au : <br/> <strong>05/12/2016 </strong></div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12">
                <div class="col-md-6 col-xs-6">
                    <a class="btn-fly btn-lg" href="#">
                        <span> Télécharger (PDF)</span>
                    </a>
                </div>
                <div class="num-cheque col-md-6 col-xs-6">
                    <span>N° 1234567890</span>
                </div>
            </div>
        </div>
    </div>
</div>