<div class=" col-md-3  col-xs-12">
    <div class="side-nav-service">
        <div class="block-title">
            <h2>Rubrique d'aide</h2>
        </div>
        <!-- BEGIN BOX-profil -->
        <div class="box-content">
            <ul class="profil-items">
                <li>
                    <a href="#" class="active">Question d'ordre général</a>
                </li>
                <li class="active">
                    <a href="#">Commandes en cours</a>
                </li>
                <li>
                    <a href="#">Paiement</a>
                </li>
                <li>
                    <a href="#">Annulation, <br />retours et échanges</a>
                </li>
                <li>
                    <a href="#">Sécutité et conditions <br /> générales de vente</a>
                </li>
            </ul>
        </div>
        <div class="block-title">
            <h2>Contactez-nous</h2>
        </div>
        <p>
            <i class="icon-call"></i>
            Par téléphone <br />
            <b>08 00 40 20</b><br/>
            <span>numéro (gratuit)</span><br />
                        <span class="Hourly">Du Lundi au samedi<br />
                        de 9h au 22h</span>
        </p>
    </div>
                    </div>