/* Responsive Flat Inputs */
.form-control, .input-sm, .form-group-sm .form-control, .input-lg, .form-group-lg .form-control {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.input-group-lg > {
  .form-control, .input-group-addon, .input-group-btn > .btn {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
}

.input-group-sm > {
  .form-control, .input-group-addon, .input-group-btn > .btn {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
}

.input-group-addon {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  &.input-sm, &.input-lg {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
}

.input-group .form-control:first-child, .input-group-addon:first-child {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.input-group-btn {
  &:first-child > {
    .btn, .btn-group > .btn, .dropdown-toggle {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }
  }
  &:last-child > {
    .btn:not(:last-child):not(.dropdown-toggle), .btn-group:not(:last-child) > .btn {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }
  }
}

.input-group .form-control:last-child, .input-group-addon:last-child {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.input-group-btn {
  &:last-child > {
    .btn, .btn-group > .btn, .dropdown-toggle {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }
  }
  &:first-child > {
    .btn:not(:first-child), .btn-group:not(:first-child) > .btn {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }
  }
}

/* Custom checkbox */
label , label > * { pointer-events:all; }
.checkbox {
  input[type=checkbox].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    + label.css-label {
      padding-left: 1.5em;
      cursor: pointer;
      @media (max-width: $screen-md-min) {
        @include hdpi {
          padding-left: 2em;
        }
      }

      &:before {
        content: "";
        padding-left: 1.5em;
        height: 12px;
        display: inline-table;
        top: 0.25em;
        background-repeat: no-repeat;
        background-position: 0 0;
        font-size: 12px;
        vertical-align: middle;
        cursor: pointer;
        position: absolute;
        margin-left: -1.5em;
        @media (max-width: $screen-md-min) {
          @include hdpi {
            height: 2em;
            min-height: 2em;
            padding-left: 2.2em;
            line-height: 2em;
            margin-left: -2.5em;
            top: -0.2em;
          }
        }
      }
    }
    &:checked + label.css-label {
      &:before {
        background-position: 0 -1em;
        @media (max-width: $screen-md-min) {
          @include hdpi {
            background-position: 0 -2em;
          }
        }
      }

    }
    &:checked + label.color-label {
      border-color: #1e1e1e;
    }
  }

  label.css-label {
    &:before {
      background-image: url(../img/csscheckbox.png);
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      @media (max-width: $screen-md-min) {
        @include hdpi {
          background-image: url(../img/csscheckbox@2x.png);
        }
      }
    }
  }
}

/* Custom radio */
.radiobox {
  input[type=radio].css-radio {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    + label.css-label {
      cursor: pointer;
      span{
        padding-left: 1.5em;
      }
      @include hdpi {
        background:none;
      }
      &:before {
        content: $radio-desactive;
        @include font-icon();
        height: 13px;
        display: inline-table;
        top: 0.25em;
        background-repeat: no-repeat;
        background-position: 0 0;
        font-size: 12px;
        vertical-align: middle;
        cursor: pointer;
        position: absolute;
        background: none;
        @media (max-width: $screen-md-min) {
        }
      }
    }
    &:checked + label.css-label {
      &:before {
        content: $radio-active;
        @include font-icon();
        @media (max-width: $screen-md-min) {
        @include hdpi {
          background-position: 0 -25px;
        }
      }
      }
      &:after{
        content: $radio-active-path2;
        @include font-icon();
        left: 0;
        position: absolute;
        color:#eb363d;
        font-size: 12px;
        top: 3px;
        @include hdpi {
          top: 5px;
        }
      }

    }
    &:checked + label.color-label {
      border-color: #1e1e1e;
    }
  }

  label.css-label {
    position: relative;
    &::before {
      content: $radio-active;
      @include font-icon();
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background: none;

    }
    @include hdpi {
      &::after,&::before{
        font-size: 20px !important;
        margin-top: -0.25rem;
      }

      span{
        padding-left: 2.5em !important;
      }
    }
  }
}

/* Custom Button Select Start */

.btn-select {
  position: relative;
  padding: 0 1.5em 0 0;
  min-width: 236px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dadada;
  border-radius: 2px;
  cursor: pointer;
  .btn-select-value {
    padding: 1.2em 1em;
    display: block;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
  }
  .btn-select-arrow {
    //float: right;
    //line-height: 3em;
    //padding: 0.2em 0.5em;
    top: 0;
    position: absolute;
    right: 0;
  }
  ul {
    display: none;
    overflow-y: auto;
    max-height: 200px;
    background-color: white;
    color: black;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: none !important;
    position: absolute;
    left: -1px;
    right: -1px;
    z-index: 999;
    box-shadow: none;
    border-radius: 0;
    li {
      padding: 3px 6px;
      text-align: left;
      font-family: $Raleway;
      font-size: 1rem;
      font-weight: 500;
      color: #1e1e1e;
      a {
        padding: 3px 12px;
      }
      &:hover, &.selected {
        background-color: #1e1e1e;
        a {
          background-color: transparent;
          color: white;
        }
      }
    }
  }
  &.btn-select-light {
    &:hover, &:active, &.active {
      border-color: #ccc;
    }
    ul {
      li.selected {
        // background-color: #ccc;
      }
    }
    .btn-select-value {
      //      background-color: white;
      //      border: #ccc 1px solid;
      color: black;
    }
    &:hover, &.active {
      background-color: #1e1e1e;
      color: white;
    }
  }
}

/* Custom Button  */
.btn-fly {
  background-color: #fff;
  border: 1px solid #1e1e1e;
  color: #1e1e1e;
  transition: all 0.25s ease-in-out;
  border-radius: 2px;
  font-weight: 500;
  &.btn-lg {
    font-size: 1rem;
    line-height: 1em;
  }
  &:hover {
    background-color: #1e1e1e;
    color: #fff;
  }
  &.btn-inverse {
    background-color: #1e1e1e;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: #1e1e1e;
    }
  }
}

.btn-fly-red{
  background-color:  #1e1e1e;;
  border: 1px solid #1e1e1e;
  color: #fff;
  transition: all 0.25s ease-in-out;
  border-radius: 2px;
  &.btn-lg {
    font-size: 1.2em;
    line-height: 1em;
  }
  &:hover {
    background-color: $red-fly;
    color: #fff;
    border: 1px solid #fff;
  }
}