.breadcrumbs {
  list-style: none;
  padding: 1em 0;
  @media (max-width: $screen-md-min) {
    padding: 1em 0;
  }
  ul {
    color: #1e1e1e;
    font-family: $Raleway;
    @include font-size(13px);
    padding: 0;
    li {
      font-weight: 700;
      display: inline;
      &:after {
        content: ">";
        color: #1e1e1e;
        padding: 0 0.5em;
        font-weight: 100;
      }
      a {
        font-weight: 500;
      }
      &:last-child {
        &:after {
          content: none;
        }
      }
    }
  }
}