.carte-cadeau{
  text-align: center;
  h2{
    padding: 40px 0;
  }
  .title{
    h1{
      font-family: $Poppins;
      font-size: 120px * $resize-psd;
      line-height: 32px;
      @media (max-width: $screen-md-min) {
        font-size: 24px;
        line-height: 30px;
      }
    }
    padding: 40px;
  }
  p{
    font-family: $Raleway;
    font-weight: 500;
    font-size: 32px * $resize-psd;
    padding: 20px;
  }
  p.desc{
    text-align: left;
    font-size: 26px * $resize-psd;
  }
  .icons{
    .icon{
         font-family: $Poppins !important;
      font-weight: 500;
         font-size: 40px * $resize-psd !important;
         line-height: 22px;
         padding: 40px;
         border: 1px solid #CCC;
         i{
           font-size: 32px;
           display: block;
           margin: 20px;
         }
         span{
           font-weight: 600 !important;
         }
    }
    .icon-2{
       border-left: 0 none;
       border-right: 0 none;
       border-bottom: 0 none;
     }
    .icon-5{
      border-left: 0 none;
      border-right: 0 none;
    }
    .icon-1, .icon-3{
      border-bottom: 0 none;
    }

    .col-md-4{
      padding : 0;
    }
  }

  @media (max-width: $screen-md-min) {
    h2{
      padding: 20px 0;
    }
    .title{
      h1{
        font-size: 36px;
      }
      h2{
        padding: 30px 0;
      }
      p{
        padding: 10px 0;
        font-size: 28px;
        line-height: 30px;
      }
    }
    .icons{
      .icon{
        padding:10px;
        margin: 0 18px;
        border: 1px solid #CCC;
      }
      .icon-1, .icon-2, .icon-3, .icon-4, .icon-5{
        border-bottom: 0 none;
      }
    }
  }
  @media (max-width: $screen-xs-min) {
    .title{
      padding: 10px;
      p{
        font-size: 22px ;
        line-height: 24px;
      }
    }
    p.desc{
      padding: 10px 0;
    }
    img{
      width: 100%;
    }
    h2{
      padding: 6px 0;
      line-height: 24px;
    }
    .icons{
      .icon{
        padding: 10px;
      }
      }
  }
}
