.catalogue{
    h1{
        margin: 30px 0;
        font-size: 120px * $resize-psd;
    }
    h4{
        font-family: $Raleway;
        font-size: 32px * $resize-psd;
    }
    h3{
        font-family: $Poppins;
        font-size: 60px * $resize-psd;
        font-weight: 600;
        margin: 10px
    }
    text-align: center;
    .section-catalogue-caption{
        position: absolute;
        left: 0;
        right: 0;
        top: 4%;
        margin : 0 auto;
        max-width: 460px;
        img{
            width: 100%;
        }
    }
    .col-md-6{
        padding: 0;
    }
    .section-catalogue-visual{
        padding : 0;
    }
    .btns {
        bottom: 6%;
        left: 0;
        position: absolute;
        right: 0;
        a{
            margin: 4px;
        }
        .btn-fly{
            font-family: $Raleway;
            font-weight: 500;
            font-size: 32px * $resize-psd;
        }
    }
    @media (max-width: $screen-md-min) {
        h1{
            font-size: 36px;
        }
        h4{
            font-size: 18px;
        }
        .section-catalogue-caption{
        }
        .btns{
            a{
                font-size: 12px;
            }
            .btn-read, .btn-more{
                width: 35%
            }
            .btn-download{
                width: 71.4%;
            }
        }
    }
    @media (max-width: $screen-xs-min) {
        h1{
            font-size: 30px;
        }
        h4{
            font-size: 12px;
        }
        .btns{
            .btn-read, .btn-more{
                width: 36%
            }
            .btn-download{
                width: 75%;
            }
        }
    }
}