.checkout-container {
  padding: 2rem 0;
  .container {
    @media (max-width: $screen-md-min) {
      padding: 0;
    }
  }
  .checkout-main {
    @media (max-width: $screen-md-min) {
      padding: 0;
      display: table;
      width: 100%;
    }
    .checkout-title {
      color: #1e1e1e;
      font-family: $Poppins;
      font-size: 1.875rem;
      font-weight: 600;
      border-bottom: 1px solid #dadada;
      padding-bottom: 1rem;
      @media (max-width: $screen-md-min) {
        padding: 0 15px 1rem;
      }
    }

    form {
      .form-group {

        @media (max-width: $screen-md-min) {
          padding: 0 15px;
          display: table;
          width: 100%;
          .first,.last{
          }
        }

        &.control-form-group{
          @media (max-device-width : $screen-xs-min)
          and (-webkit-min-device-pixel-ratio : 2) {
            display: block;
            width: 100%;
            padding: 0 15px;
            .btn-fly {
              width: 100%;
            }
          }
        }


        .dropdown {

          .btn-select-arrow {

            &:before {
              @include font-icon();
              content: $icon-arrow-right-bold;
              color: #b3b3b3;
              position: absolute;
              margin-left: -1.8em;
              @include font-size(10px);
              font-weight: 900;
              line-height: 4.4em;
              -webkit-transform: rotate(90deg);
              -moz-transform: rotate(90deg);
              -o-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
              transform: rotate(90deg);
            }
          }

          .dropdown-menu {
            min-width: inherit;
            .option {
              color: #1e1e1e;
              font-size: 1rem;
              padding: 3px 1em;
              &:hover {
                color: #fff;
              }
            }
          }
        }

        .legend, .sub-legend {
          color: #1e1e1e;
          font-family: $Poppins;
          font-size: 1.875rem;
          font-weight: 600;
          margin-bottom: 0.5em;
          display: block;
        }
        .sub-legend {
          font-size: 1.25rem;
          border-top: 1px solid #dadada;
          padding: 1em 0 0.5em;
          margin-top: 1em;
        }

        label {
          color: #1e1e1e;
          font-family: $Raleway;
          font-size: 1rem;
          font-weight: 500;
        }
        .g-recaptcha {
          width: auto !important;
          height: auto !important;
          //margin-bottom: 2rem;
          @media (max-width: $screen-md-min) {
            display: table;
          }
          iframe {
            height: 90px !important;
            width: 304px !important;
          }
        }
        .accept-terms {
          padding: 1.4rem 0 0;
        }
        .reset {
          line-height: 2.5rem;
        }
        .btn-fly {
          font-family: $Raleway;
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.5;
          .icon-arrow-right-bold{
            font-size: 0.75em;
          }
          &:hover {
            background-color: #eb212e;
            border-color: #eb212e;
            color: #fff;
          }
        }
        #showpass {
          float: right;
          margin-top: -32px;
          position: relative;
          margin-right: 0.5rem;
          cursor: pointer;
        }
        .birth-date {
          display: table;
          @media (max-width: $screen-md-min) {
            width: 100%;
          }
          .btn-group {
            float: left;
            @media (max-width: $screen-md-min) {
              width: 33.33%;
            }
            .btn-select {
              min-width: inherit;
              border-right: none;
              @media (max-width: $screen-md-min) {
                margin-bottom: 0;
              }
              .btn-select-value {
                padding: 1em;
              }
              .dropdown-menu {
                min-width: inherit;
              }
            }
            &:last-child {
              .btn-select {
                border-right: 1px solid #dadada;
              }
            }
          }

        }
      }
      .row {
        padding: 0;
        @media (max-width: $screen-md-min) {
          margin: 0;
        }
      }
      #fly-card {
        border-bottom: 1px solid #dadada;
        width: 100%;
        padding: 0.5em 0;
        display: table;
        @media (max-width: $screen-md-min) {
          padding: 0.5rem 15px;
        }
        .fly-card {
          display: table;
          .card-thumb {
            display: table-cell;
            text-align: left;
            vertical-align: middle;
            padding-right: 2rem;
            img {
              float: left;
            }
          }

          .card-confirm {
            display: table-cell;
            text-align: left;
            vertical-align: middle;
          }
        }
        #fly-card-form {
          padding: 1em 0;
          @media (max-width: $screen-md-min) {
            .btn-fly {
              width: 100%;
              margin-bottom: -15px;
            }
          }

        }
      }

      .profile-info {
        padding: 1em 0;
      }

      @media (max-width: $screen-md-min) {
        .form-submit.js {
          display: none;
        }
      }

      @media (max-device-width : $screen-md-min)
      and (-webkit-min-device-pixel-ratio : 2) {
        display: block;
        padding: 0.5rem 15px;
      }
      @media (max-device-width : $screen-xs-min)
      and (-webkit-min-device-pixel-ratio : 2) {
        display: block;
        padding: 0.5rem 15px;
        .btn-fly {
          width: 100%;
        }
      }

    }
  }

  /** Shipping Address Step 1   */

  .my-address {
    padding-top: 3rem;
  }
  .shipping-address {

    .legend {
      color: #1e1e1e;
      font-family: $Poppins;
      font-size: 1.25rem;
      font-weight: 400;
    }

  }
  #other-address {
    @media (max-width: $screen-md-min) {
      border-top: 1px solid #dadada;
      margin: 1rem -15px 0;
      .sub-legend {
        border-top: none;
        padding-top: 0;
      }
      .legend {
        padding: 1rem 15px 0.5rem;
      }
    }
  }
  ul.address {
    padding: 0;
    li {

      .radio-inline {
        display: table;
        width: 100%;
        padding: 0;
        .radiobox {
          input[type=radio].css-radio {
            position: absolute;
            z-index: -1000;
            left: -1000px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            height: 1px;
            width: 1px;
            margin: -1px;
            padding: 0;
            border: 0;
              + label.css-label {
              height : 222px;
              padding: 1.5em;
              text-align: center;
              cursor: pointer;
              @media (max-width: $screen-md-min) {
                @include hdpi {
                  padding-left: 2em;
                }
              }

              &:before ,
              &:after {
                height: 13px;
                width: 13px;
                display: inline-table;
                background-repeat: no-repeat;
                font-size: 12px;
                vertical-align: middle;
                cursor: pointer;
                position: absolute;
                top: auto;
                margin: 0 auto;
                left: 0;
                right: 0;
                bottom: 22px;
                @media (max-width: $screen-md-min) {
                @include hdpi {
                  width: 25px;
                }
                }
              }
            }
            &:checked + label.css-label {
              height : 222px;
              background-color: white;
              border: 1px solid #1e1e1e;
              &:after {
                @media (max-width: $screen-md-min) {
                @include hdpi {
                }
              }
              }

            }
            &:checked + label.color-label {
              border-color: #1e1e1e;
            }
          }

          label.css-label {
            position: relative;
            background-color: whitesmoke;
            border: 1px solid #dadada;
            display: table;
            border-radius: 4px;
            width: 100%;
            span {
              display: table;
              width: 80%;
              margin: 1rem auto;
              color: #1e1e1e;
              font-family: $Raleway;
              font-size: 0.813rem;
              font-weight: 500;
              // Text style for "Mr Christophe"
              line-height: 1.875rem;
              padding-left: 0;
            }
            &:after {
              -webkit-touch-callout: none;
              -webkit-user-select: none;
              -khtml-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              @media (max-width: $screen-md-min) {
              @include hdpi {
              }
              }
            }
          }

        }
      }
    }
  }
  #shipping-option-3 {
    ul.address {
      li {
        .radio-inline {
          .radiobox {
            input[type=radio].css-radio {
              &:before,
              &:after {
                top: 50%;
              }
            }
          }

        }
      }
    }
  }
  .cart-order {
    @media (max-width: $screen-md-min) {
      padding: 0 15px;
    }
    .order-title {
      padding-bottom: 1.5rem;
    }

    .no-style {
      margin-bottom: 1.5rem;
      tbody {

        tr {

          td {

            span {

            }
          }

          .text-right {

            strong {

            }
          }
        }

        .green {

          td {

            span {

            }
          }

          .text-right {

            strong {

            }
          }
        }
      }
    }

    .order {

      h3 {
        border-top: 1px solid #dadada;

        .amount {

        }
      }
    }

  }
  .form-submit.rendered {
    display: none;
    @media (max-device-width : $screen-md-min)
    and (-webkit-min-device-pixel-ratio : 2) {
      display: block;
      padding: 0.5rem 15px;
    }
    @media (max-device-width : $screen-xs-min)
     and (-webkit-min-device-pixel-ratio : 2) {
      display: block;
      padding: 0.5rem 15px;
      .btn-fly {
        width: 100%;
      }
    }

  }

  /** Shipping Options Step 2   */
  .cart-box {
    border-bottom: 1px solid #dadada;
    margin-bottom: 5rem;

    .cart-display {
      padding: 1rem 0;
      display: table;
      width: 100%;
      @media (max-width: $screen-md-min) {
        padding: 1rem  15px;
      }
      .count {
        padding: 10px 0;
        float: left;
      }

      .btn {
        float: right;
        font-size: 1rem;
        span {
          &.uncollapsed {
            display: none;
          }
          &.collapsed {
            display: inline-block;
          }

        }
        &.collapsed {
          span {
            &.uncollapsed {

              display: inline-block;
            }
            &.collapsed {
              display: none;
            }

          }
        }

        .icon {

        }
      }
    }

    .cart-wrapper {
      .cart-products {

        ul {

          .cart-product {

            .product-thumb {

              img {

              }
            }

            .product-description {

              .row {

                .btn-delete {

                  a {

                    .icon-trash {

                    }
                  }
                }

                h3 {

                }

                .subname {

                }

                span {

                }
              }
            }

            .extended-warranty {

              .no-style {

                tbody {

                  tr {

                    td {
                      padding: 1rem 0;
                      strong {

                      }

                      .underline {

                      }
                    }
                  }
                }
              }
            }
            .item-qty {

            }
            .order-box {
              width: 40%;
              padding: 0.5rem 0px;
              table {
                width: 100%;
                text-align: right;
              }
            }

          }
        }
      }
      .back-to-cart {
        bottom: 2rem;
        position: absolute;
        @media (max-width: $screen-md-min) {
          margin-left: 1rem;
        }
        .underline:hover {
          border-color: $red-fly;
        }
      }
    }
  }
  .shipping-main {

    .shipping-title {
      color: #1e1e1e;
      font-family: $Poppins;
      font-size: 1.875rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    .shipping-methods {

      padding-bottom: 3rem;
      margin-bottom: 1.5rem;
      .shipping-options {
        margin: 0;
        .shipping-option {

          margin: 0;
          padding: 0;
          .radio-inline {

            .radiobox {

              .css-radio {

              }

              .css-label {
                background-color: whitesmoke;
                border: 1px solid #dadada;
                border-right: none;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                padding: 2.5em 1em;
                margin: 0;
                .info-tips, .title, p, strong {
                  display: block;
                }
                .title {
                  display: block;
                  font-family: $Poppins;
                  font-size: 1.25rem;
                  font-weight: 600;
                  line-height: 1em;
                  margin: 0;
                }
                .info-tips {
                  font-family: $Raleway;
                  font-size: 1rem;
                  font-weight: 500;
                  display: block;
                  margin: 0.2rem auto 1.5rem;
                }

                p {
                  font-family: $Raleway;
                  font-size: 0.813rem;
                  font-weight: 500;
                  margin-bottom: 1.5rem;
                }

                strong {
                  font-family: $Poppins;
                  font-size: 1rem;
                  font-weight: 600;
                  margin-bottom: 1rem;
                }
              }
            }
          }
          &.ackron {
            .radio-inline .radiobox input[type=radio].css-radio:checked + label.css-label {
              *:last-child{
                &:after
                {
                  content: "";
                  position: absolute;
                  bottom: -24px;
                  left: 50%;
                  margin-left: -24px;
                  border-style: solid;
                  border-width: 25px 25px 0;
                  border-color: #FFFFFF transparent;
                  display: block;
                  width: 0;
                  z-index: 1;
                }

                &:before
                {
                  content: "";
                  position: absolute;
                  bottom: -25px;
                  left: 50%;
                  margin-left: -24px;
                  border-style: solid;
                  border-width: 25px 25px 0;
                  border-color: #000 transparent;
                  display: block;
                  width: 0;
                  z-index: 0;
                }
              }
            }
          }
          &:last-child {
            .radio-inline .radiobox input[type=radio].css-radio + label.css-label {
              border-right: 1px solid #dadada;
            }.radio-inline .radiobox input[type=radio].css-radio:checked + label.css-label {
              border-right: 1px solid #1e1e1e;
            }
          }
          &:first-child {
            .radio-inline .radiobox .css-label {
              //border-left: none;
            }
            .radio-inline .radiobox input[type=radio].css-radio:checked + label.css-label {
              border-left: 1px solid #1e1e1e;
            }
          }

          &.active{
            .mobile-rendered {
              @media (max-width: $screen-md-min) {
                display: block;
                padding: 2rem 0;
                width: 100%;
                box-sizing: border-box;
              }
            }
          }
        }
      }

      .shipping-option-details, .mobile-rendered {

        .title {
          color: #1e1e1e;
          font-family: $Poppins;
          font-size: 1.25rem;
          font-weight: 600;
          margin-bottom: 1rem;
          display: block;
        }

        table {
          @media (max-width: $screen-md-min) {
            width: 100%;
          }
          tbody {

            tr {

              td {
                padding-right: 1rem;

                &:last-child {
                  padding-right: 0;
                }
                .btn-fly.btn-lg {
                  line-height: inherit;
                  @media (max-width: $screen-md-min) {
                    width: 100%;
                    font-size: 1.2rem;
                    line-height: 1em;
                  }
                }
                #custom-search-input {

                  .input-group {

                    .form-control {
                      border-color: #1e1e1e;
                      font-size: 1rem;
                      border-radius: 4px 0 0 4px;
                      color: #fff;
                      min-width: 340px;
                      @media (max-width: $screen-md-min) {
                        min-width: auto;
                      }
                    }

                    .input-group-btn {

                      .btn {
                        background-color: #1e1e1e;
                        transition: background-color 0.2s ease-in-out;
                        border-radius: 0 4px 4px 0;
                        height: 46px;
                        color: #fff;
                        &:hover {
                          background-color: $red-fly;
                        }
                      }
                    }

                  }

                }
              }
            }
          }
        }

        .store-details {
          padding-left: 40px;
          &:before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 32px;
            height: 32px;
            background: url(../img/checkout/logo.tiny.png) top left no-repeat;
            left: 0;
            @include hdpi {
              background: url(../img/checkout/logo.tiny@2x.png) top left no-repeat;
              background-size: cover;
            }
          }
          @media (max-width: $screen-md-min) {
            padding-left: 3.5rem;
          }
          .store-name {
            font-family: $Poppins;
            font-size: 1rem;
            font-weight: 600;
            margin: 0.75em 0;
            padding-left: 0;
          }

          .store-adresss {
            font-family: $Raleway;
            font-size: 0.813rem;
            font-weight: 500;
            padding-left: 0;
          }

          .store-phone {
            font-family: $Raleway;
            font-size: 0.813rem;
            font-weight: 500;
            padding-left: 0;
            text-align: left;
            margin-bottom: 1rem;
          }

          .store-open-times {
            font-family: $Poppins;
            font-size: 0.813rem;
            font-weight: 500;
            padding: 0;
            clear: both;
            display: table;
            width: 100%;
            margin-bottom: 1rem;
            strong, .today {
              font-weight: 700;
            }
            td {
              padding: 0.2em 1em 0.2em 0;
            }
            .open-times-title {
              display: block;
              clear: left;
              padding-bottom: 0.5em;
            }
            .time-table {
              padding-left: 0;
              &:first-child {
                border-right: 1px solid #dadada;
              }
            }

          }
          .red {
            font-size: 0.813rem;
            clear: left;
            display: block;
          }

          .underline {
            font-size: 1rem;
            font-weight: 500;
            margin-top: 1.5em;
            display: table;
            padding-bottom: 0.5em;
          }
        }

        #fl-sl-map-container-checkout-selected {
          width: 100%;
          max-width: 360px;
          height: 360px;
          margin: 0 auto;
          @media (max-width: $screen-md-min) {
            max-width: inherit;
            height: 290px;
          }
        }
      }
      .mobile-rendered {
        display: none;
        .add-more-store{
          margin: 2rem 0 0;
        }
        > table{
          td{
            @media (max-width: $screen-md-min) {
              display: table;
              width: 100%;
            }
          }
        }
      }
      .shipping-option-details {
        padding: 2rem 2rem 0;
        display: table;
        width: 100%;

        @media (max-width: $screen-md-min) {
          display: none;
        }
        }

      .with-border{
        border: 1px solid #dadada;
        border-top: 0;
        margin: -2rem -2rem 0;
        padding: 2rem 2rem;
      }
    }

    .form-submit.js{
      @media (max-device-width : $screen-xs-min)
      and (-webkit-min-device-pixel-ratio : 2) {
        display: block;
        .btn-fly {
          width: 100%;
        }
      }
    }
  }
  
  .payment-main {

    .payment-title {
      color: #1e1e1e;
      font-family: $Poppins;
      font-size: 1.875rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }
    label{
      font-weight:normal;
    }
    .reset {
      line-height: 2.5rem;
    }
    .payment-methods {
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
      .payment-options {
        margin: 0;
        .payment-option {

          margin: 0;
          padding: 0;
          .radio-inline {

            .radiobox {

              .css-radio {

              }

              .css-label {
                background-color: whitesmoke;
                border: 1px solid #dadada;
                border-right: none;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                padding: 2.5em;
                margin: 0;
                .info-tips, .title, p, strong {
                  display: block;
                }
                .title {
                  display: block;
                  font-family: $Poppins;
                  font-size: 1.25rem;
                  font-weight: 600;
                  margin: 0.2rem auto 2.5rem;
                }

                img {
                  display: table;
                  clear: both;
                  margin: 0.5rem auto 2rem;
                }

              }
            }
          }
          &.ackron {
            .radio-inline .radiobox input[type=radio].css-radio:checked + label.css-label {
              &:before {
                width: 25px;
                height: 25px;
                border-top: 1px solid black;
                border-left: 1px solid #000;
                content: "";
                position: absolute;
                bottom: -14px;
                z-index: 0;
                display: inline-block;
                transform: rotate(-135deg);
                background: #fff;
                top: inherit;
                margin-left: -14px;
              }
            }
          }
          &:last-child {
            .radio-inline .radiobox input[type=radio].css-radio + label.css-label {
              border-right: 1px solid #dadada;
            }
            .radio-inline .radiobox input[type=radio].css-radio:checked + label.css-label {
              border-right: 1px solid #1e1e1e;
            }
          }
          &:first-child {
            .radio-inline .radiobox .css-label {
              //border-left: none;
            }
            .radio-inline .radiobox input[type=radio].css-radio:checked + label.css-label {
              border-left: 1px solid #1e1e1e;
            }
          }
        }
      }

      .payment-option-details {
        width: 100%;
        .title {
          color: #1e1e1e;
          font-family: $Poppins;
          font-size: 1.25rem;
          font-weight: 600;
          margin-bottom: 1rem;
          display: block;
        }

        table {

          tbody {

            tr {

              td {
                padding-right: 1rem;
                &:last-child {
                  padding-right: 0;
                }
                .btn-fly.btn-lg {
                  line-height: inherit;
                }
                #custom-search-input {

                  .input-group {

                    .form-control {
                      border-color: #1e1e1e;
                      font-size: 1rem;
                      border-radius: 4px 0 0 4px;
                      color: #fff;
                      min-width: 340px;
                    }

                    .input-group-btn {

                      .btn {
                        background-color: #1e1e1e;
                        transition: background-color 0.2s ease-in-out;
                        border-radius: 0 4px 4px 0;
                        height: 46px;
                        color: #fff;
                        &:hover {
                          background-color: $red-fly;
                        }
                      }
                    }

                  }

                }
              }
            }
          }
        }

        .store-details {
          padding-left: 40px;
          &:before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 32px;
            height: 32px;
            background: url(../img/checkout/logo.tiny.png) top left no-repeat;
            left: 0;
            @include hdpi {
              background: url(../img/checkout/logo.tiny@2x.png) top left no-repeat;
              background-size: cover;
            }
          }
          @media (max-width: $screen-md-min) {
            padding-left: 15px;
          }
          .store-name {
            font-family: $Poppins;
            font-size: 1rem;
            font-weight: 600;
            margin: 0.75em 0;
            padding-left: 0;
          }

          .store-adresss {
            font-family: $Raleway;
            font-size: 0.813rem;
            font-weight: 500;
            padding-left: 0;
          }

          .store-phone {
            font-family: $Raleway;
            font-size: 0.813rem;
            font-weight: 500;
            padding-left: 0;
            text-align: left;
            margin-bottom: 1rem;
          }

          .store-open-times {
            font-family: $Poppins;
            font-size: 0.813rem;
            font-weight: 500;
            padding: 0;
            clear: both;
            display: table;
            width: 100%;
            margin-bottom: 1em;
            strong, .today {
              font-weight: 700;
            }
            td {
              padding: 0.2em 1em 0.2em 0;
            }
            .open-times-title {
              display: block;
              clear: left;
              padding-bottom: 0.5em;
            }
            .time-table {
              padding-left: 0;
              &:first-child {
                border-right: 1px solid #dadada;
              }
            }

          }
          .red {
            font-size: 0.813em;
            clear: left;
            display: block;
          }

          .underline {
            font-size: 1rem;
            font-weight: 500;
            margin-top: 1.5em;
            display: table;
            padding-bottom: 0.5em;
          }
        }

        #fl-sl-map-container-checkout-selected {
          width: 100%;
          max-width: 360px;
          height: 360px;
          margin: 0 auto;
          @media (max-width: $screen-md-min) {
            max-width: inherit;
            height: 290px;
          }
        }
      }

      .tab-pane.in{
        border-top: 0;
        padding: 2rem 2rem;
        display: table;
        width: 100%;
        &.with-border{
          border: 1px solid #dadada;
          border-top: none ;
        }
      }
      #cvv-popover{
        border: none;
        background: none;
        display: block;
        position: relative;
        top: 2.7rem;
        left: -0.5rem;
      }

      .dropdown {

        .btn-select-arrow {

          &:before {
            @include font-icon();
            content: $icon-arrow-right-bold;
            color: #b3b3b3;
            position: absolute;
            margin-left: -1.8em;
            @include font-size(10px);
            font-weight: 900;
            line-height: 4.4em;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
          }
        }

        .dropdown-menu {
          min-width: inherit;
          .option {
            color: #1e1e1e;
            font-size: 1rem;
            padding: 3px 1em;
            &:hover {
              color: #fff;
            }
          }
        }
      }

      .expire-date {
        display: table;
        @media (max-width: $screen-md-min) {
          width: 100%;
        }
        .btn-group {
          float: left;
          @media (max-width: $screen-md-min) {
            width: 33.33%;
          }
          .btn-select {
            min-width: inherit;
            border-right: none;
            @media (max-width: $screen-md-min) {
              margin-bottom: 0;
            }
            .btn-select-value {

            }
            .dropdown-menu {
              min-width: inherit;
            }
          }
          &:last-child {
            .btn-select {
              border-right: 1px solid #dadada;
            }
          }
        }

      }
    }

    .accept-terms {
      display: inline-block;
      float: right;
      padding-top: 2rem;
      @media (max-width: $screen-md-min) {
        .css-label{
          font-size: 0.813rem;
          padding-left: 2.2rem !important;
        }

      }
    }

    .control-form-group{
      @media (max-device-width : $screen-xs-min)
      and (-webkit-min-device-pixel-ratio : 2) {
        display: block;
        width: 100%;
        padding: 1.5rem 0 0;
        .btn-fly {
          width: 100%;
        }
      }
    }
  }


  #gift-card-form{
    .btn-fly.btn-lg{
      line-height: inherit;
    }
    @media (max-width: $screen-md-min) {
      > div:last-child{
        float: inherit !important;
      }
    }
  }
  .gift-card{
    padding: 1rem 0;
    border-top: 1px solid #dadada;
    @media (max-width: $screen-md-min) {
      padding: 1rem  15px;
    }
    label{
      font-weight:normal;
      @media (max-width: $screen-md-min) {
        font-size: 1.1rem;
      }
    }
    .css-label strong{
      color: #1e1e1e;
      font-family: $Poppins;
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1rem;
    }
  }
  .royalty-cheque{
    display: table;
    padding: 1rem 0;
    width: 100%;
    border-top: 1px solid #dadada;
    @media (max-width: $screen-md-min) {
      padding: 1rem  15px;
    }
    @media (max-width: $screen-md-min) {
      .css-label{
        font-size: 1.1rem;
        padding-left: 2.5rem;
      }
      .first{
        display: inline-block;
        margin-right: 0.5rem;
      }
    }
    .royalty-cheque-title{
      margin-bottom: 0.5rem;
      label{

        strong{
          color: #1e1e1e;
          font-family: $Poppins;
          font-size: 1.25rem;
          font-weight: 600;
          @media (max-width: $screen-md-min) {
            font-size: 0.875rem;
          }
          .small{
            color: #adadad;
            font-family: $Raleway;
            font-size: 1rem;
            font-weight: 500;
          }
        }
      }
    }
  }

  .checkout-conformation-msg {
    text-align: center;
    margin: 1.5rem;
    .checkout-conformation-title {
      color: #1e1e1e;
      font-family: $Poppins;
      font-size: 1.875rem;
      font-weight: 600;
      margin-bottom:3.5rem;
    }

    p {
      margin:1.5rem 0;
      font-size: 1rem;
      font-family: $Raleway;
      font-weight: 500;
      strong {
        font-weight: 700;
      }
    }
    .underline{
      color: #1e1e1e;
      font-family: $Raleway;
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .timer{
      .shipping-option{
        padding: 6px !important;
        .css-label{
          height: auto;
        }
    }
    p{
      padding-top: 10px;
      margin-bottom: 10px;
      font-family: $Raleway;
      font-weight: 500;
      text-align: center;
      font-size: 30px * $resize-psd;
    }
    .radio-inline{
      text-align: center;
      .info-tips{
        display: block;
        padding: 6px 0;
      }
      .css-label{
        height: 140px !important;
      }
    }
    textarea{
      font-weight: 500;
      font-size: 11px;
    }
  }
}
