.contact {
    p{
        font-size: 32px * $resize-psd;
        font-weight: 500;
        font-family: $Raleway;
    }
    .contact-head{
        text-align: center;
        h1{
            font-size: 120px * $resize-psd;
            font-weight: 900;
            line-height: 60px;
        }
        @media (max-width: $screen-md-min) {
            padding: 20px;
            h1 {
                font-size: 24px;
                line-height: 30px;
            }
        }
        p{margin: 0;}
    }
    .contact-footer{
        @extend .contact-head;
    }
    .contact-body{
        .left-column, .middle-column, .right-column{
            height: 350px;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 40px;
            text-align: left;
            border : 1px solid #dadada;
            i{
                font-size: 32px;
            }
        }
        .middle-column{
            border-left: 0 none;
            border-right: 0 none;
        }
        @media (max-width: $screen-md-min) {
            .left-column, .middle-column, .right-column{
                margin: 0;
                border : 1px solid #CCC;
            }
        }
    }
    .contact-footer{
        h4{
            font-size: 32px * $resize-psd;
        }
        .infos-account{
            text-align: left;
            margin-top: 40px;
            .col-left{
                padding-left: 0;
            }
            .col-right{
                padding-right: 0;
            }
            @media (max-width: $screen-md-min) {
                .col-left{
                    padding-right: 0;
                }
                .col-right{
                    padding-left: 0;
                    padding-top: 14px;
                }
            }
            .field{
                .control{
                    line-height: 30px;
                    margin-top: 10px;
                    label{
                        font-family: $Raleway;
                        font-weight: 500;
                        font-size: 32px * $resize-psd;
                        line-height: 14px;
                    }
                    margin: 0;
                    .field-name{
                        margin-left: -15px;
                    }
                    .field-lastname{
                        margin-right: -15px;
                    }
                    .form-control, .btn-select-value, ul li{
                        height: 44px;
                        font-weight: 500;
                    }
                }
                .btn-select{
                    .btn-select-value {
                        color: #1e1e1e;
                        font-size: 1rem;
                    }
                    .btn-select-arrow {
                        top: -0.35rem;
                        position: absolute;
                        right: 0.5rem;
                        &:before {
                            @include font-icon();
                            content: $icon-arrow-right-bold;
                            color: #1e1e1e;
                            position: absolute;
                            margin-left: -1.8em;
                            font-size: 0.625rem;
                            line-height: 6.2em;
                            -webkit-transform: rotate(90deg);
                            -moz-transform: rotate(90deg);
                            -o-transform: rotate(90deg);
                            -ms-transform: rotate(90deg);
                            transform: rotate(90deg);
                        }
                    }
                    ul.dropdown-menu li{
                        &:hover {
                            background-color: #f9f9f9;
                        }
                    }
                }
                .btn-select{.open{
                    .btn-select-arrow {

                    }
                }
                }
            }
        }
    }
    .btn-fly{
        margin-top: 29px;
        display: block;
        padding: 8px 20px;
        border: 1px solid;
    }
    h2{
        font-size: 60px * $resize-psd;
        margin: 0;
        line-height: 30px;
    }
}
.contact-succes{
    .middle-column{
        border: 0 none !important;
        text-align: center !important;
        a{
            margin-top: 20px;
        }
       h5{
           font-weight: 600;
           margin: 12px 0 0 0;
       }
p{
    margin-bottom: 14px;}
    }
    i.icon-succes{
        margin: 20px;
        background-image: url("../img/recrutement/validate.png");
        background-size: 33px auto;
        background-repeat: no-repeat;
        padding-left: 40px;
    }
}