.credit-content {


  border-top: 1px solid #ededed;
  padding: 0;
  .credit-heading{

    text-align: center;
    margin-bottom: 39px;
    margin-top: 74px;

    .credit-heading-title{
      display: block;
      font-family: $Poppins;
      font-size: 49.12px;
      font-weight: bold;
      line-height: 61.41px;
      @media (max-width: $screen-md-min) {
        font-size: 2rem;
        line-height: 2.5rem;
      }

    }
    .credit-heading-sub-title{
      display: block;
      font-family: $Raleway;
      font-size: 13.1px;
      line-height: 32.75px;
      @media (max-width: $screen-md-min) {
        font-size: 16px;
        line-height: 27.75px;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }
  .credit-bandeau{
    margin-top: 27px;
    margin-bottom: 33px;
    text-align: center;
    background-color: #eb212e;
    height: 194px;

     div{
       &:nth-child(1){
         padding-top: 23px;
         font-family: $Poppins;
         font-size: 16.37px;
         color: #fff;
         line-height: 45.03px;
       }
       &:nth-child(2),&:nth-child(3){
         font-family: $Poppins;
         font-size: 49.12px;
         line-height: 61.41px;
         span{
           color: #fff;
           font-weight: bold;
         }
         @media (max-width: $screen-md-min) {
           font-size: 2rem;
           line-height: 45px;
         }
       }
     }
}
  li{
    .radio-inline {
      display: table;
      width: 97%;
      padding: 0;
      .radiobox {
       input[type=radio].css-radio {
          position: absolute;
          z-index: -1000;
          left: -1000px;
          overflow: hidden;
          clip: rect(0 0 0 0);
          height: 1px;
          width: 1px;
          margin: -1px;
          padding: 0;
          border: 0;
          + label.css-label {
            padding: 1.5em;
            text-align: center;
            cursor: pointer;
            @include hdpi {
              padding-left: 2em;
            }
            &:before {
            }
            &:after {
              height: 12px;
              width: 12px;
              display: inline-table;
              background-repeat: no-repeat;
              font-size: 12px;
              vertical-align: middle;
              cursor: pointer;
              position: relative;
              @include hdpi {
                height: 24px;
                width: 24px;
              }
            }
          }
          &:checked + label.css-label {
            border: 1px solid #1e1e1e;
            &:before {
              content: $radio-active;
              @include font-icon();
            }
            &:after {
              content: $radio-active-path2;
              @include font-icon();
              background-position: 0 -1em;
              @include hdpi {
                background-position: 0 -2em;
              }
            }
            span{
              &:after{
                border: 1px solid #090909;
                width: 26px;
                height: 26px;
                border-top: 1px solid black;
                border-left: 1px solid #000;
                border-right: none;
                border-bottom: none;
                content: "";
                position: absolute;
                bottom: -14px;
                z-index: 1;
                display: inline-block;
                transform: rotate(-135deg);
                background: #fff;
                top: inherit;
                margin-left: -34px;
              }
            }

          }
          &:checked + label.color-label {
            border-color: #1e1e1e;
          }
        }

        label.css-label {
          position: relative;
          background-color: #ffffff;
          display: table;
          //border-radius: 4px;
          width: 100%;
          margin-top: 45px;
          span {
            display: table;
            width: 80%;
            margin: 1rem auto;
            color: #1e1e1e;
            font-family: $Raleway;
            font-size: 0.813rem;
            font-weight: 500;
            line-height: 1.875rem;
          }
          &:after {
            content: $radio-desactive;
            @include font-icon();
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            @include hdpi {
            }
          }
        }
      }
    }
    @media (max-width: $screen-md-min) {
      width: 100%;
    }
  }
  .tab-content{
    display: table;
    width: 100%;
    .mensualites{
     display: inherit;
      width: inherit;
      position: absolute;
      text-align: center;

     &.active{
         position: inherit;
       }
      .detail_mensualites{
        padding-top: 69px;
        padding-bottom: 64px;
        height: 221px;
        margin-right: -22px;

      img{
        float: right;
        margin-top: -6rem;
        margin-right: -64px;
        width: 11%;

        @media (max-width : $screen-xxs-min) {
          margin-top: -0.5em;
          float: initial;
          margin-right: 0;
        }

        @media (min-width: $screen-xxs2-min) and (max-width: $screen-xs-min) {
          float: initial;
          margin-top: 5.5em;
          margin-right: 0em;
        }

        @media (min-width: $screen-xs-min) and (max-width: $screen-sm-min) {
          float: initial;
          margin-right: 0;
          margin-top: 3rem;
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-lg-min) {
          float: initial;
          margin-right: 0;
          margin-top: 2rem;
        }
        @media (min-width: $screen-lg-min) and (max-width: $screen-fhd-min) {
          margin-right: -3.35em;
        }
        @media (min-width: $screen-fhd-min) {
          float: initial;
          margin-top: -7rem;
          margin-right: -69em;
        }
      }
        &:nth-child(1){
          background-color: #f9f9f9;
          }
        &:nth-child(2){
          background-color: #f4f4f4;
          z-index: -1;
        }
        .detail_mensualites_elt{

          &:nth-child(1){
            display: inline;
            font-size: 73.69px;
            font-family: $Poppins;
            font-weight: bold;
            line-height: 36.84px;

          }
          &:nth-child(2){
            display: inline-block;
            line-height: 32.75px;
            .detail_mensualites_sub_elt{
              &:nth-child(1){
                float: left;
                line-height: 23.75px;
                font-size: 32.75px;
                font-family: $Poppins;
                font-weight: bold;
              }
              &:nth-child(2){
                text-align: left;
                line-height: 24.56px;
                font-size: 24.56px;
                font-family: $Poppins;

               }
            }
          }
          &:nth-child(3){
            font-family: $Poppins;
            font-size: 16.37px;
            line-height: 23.74px;
          }
        }
        @media (max-width: $screen-md-min) {
         width: 100%;
        }
        }
    }

   .icon-ou{
     /*position: absolute;
      top: 225em;
      left: 64em;
      display: inline-block;
      height: 70px;
      width: 70px;
      border-radius: 100%;
      border: 1px solid #f22838;
      //margin-left: 5px;
      //margin-top: 5px;
      text-align: center;
      background-color: #f22838;
      color: white;
      @media (max-width: $screen-md-min) {
        top: 356em;
        left: 17em;
      }
      &:after {
        content: "OU";
        position: absolute;
        top: 24px;
        left: 25px;
      }*/
    }
  }

  .credit_notes{
    padding: 53px 64px 69px 56px;
     .credit_notes_elt{
       font-family: $Raleway;
       font-size: 10.64px;
       line-height: 13.1px;
       &:nth-child(1){
         font-weight: bold;
         margin-bottom: 33px;
       }
       &:nth-child(2){
         font-weight: bold;

       }
       &:nth-child(3){
         margin-bottom: 18px;
       }
       &:nth-child(4){
         margin-bottom: 20px;
       }
       &:nth-child(5){

       }
     }
  }


  /*.collapse-pill{

    @media (max-width: $screen-md-min) {
     display: none;
    }
  }
  .collapse-accordion{
    display: none;
    @media (max-width: $screen-md-min) {
      display: inherit;
    }
  }*/
  }
