.personnel-data{
    h1{
      margin-bottom: 40px;
      text-align: center;
      font-size: 120px * $resize-psd;
    }
  h3{
    color: #eb212e;
    font-weight: 600;
    font-size: 40px * $resize-psd;
    margin: 20px 0;
  }
  p{
    font-family: $Raleway;
    font-weight: 500;
    font-size: 32px * $resize-psd;
    margin: 10px 0;
    text-align: justify;
    span{
      color: $red-fly;
      font-weight: 600;
      font-size: 36px * $resize-psd;
    }
  }
  h6{
    color: $red-fly;
  }
  @media (max-width: $screen-md-min) {
    h1 {
      font-size: 24px;
      line-height: 30px;
    }
  }
}