 .edit-address{
        @extend .my-informations;
   form{
     .field-country{
       .dropdown-menu{
         overflow-y: auto;
         max-height: 200px;
       }

     }
     .form-group{
       margin : 0;
       padding-bottom: 13px !important;
     }
     .btn-select{
       .btn-select-value{
         height: 38px;
         padding-top: 1em;

       }
       &.open{
         .icon-arrow-down-bold{
           transform: rotate(180deg);
           transition: all 200ms;
         }
       }
       .icon-arrow-down-bold{
         transition: all 200ms;
       }
       ul{
         li{
           &:hover{
             color:#FFF;
           }
         }
       }
     }
     .adresses{
       .checkbox{
         margin-top: 0;
       }
     }
     .btn-select-arrow {
       position: absolute;
       right: 10px;
       top: 38%;
     }
   }


    }