.faq {
  .page-heading{
    font-size: 60px * $resize-psd;
  }
    .block-title{
    border: 1px solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    font-family: $Poppins;
    font-weight: 600;
    font-size: 40px * $resize-psd;
    padding : 10px;
  .icon-arrow-down-bold{
    float: right;
    margin-right: 14px;
    margin-top: 18px;
    transition: all 200ms;
  }
      line-height: 46px;
      &.active{
        a{
          .icon-arrow-down-bold{
            -ms-transform: rotate(180deg); /* IE 9 */
            -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
            transform: rotate(180deg);
            transition: all 200ms;
          }
        }
      }
    }
  .block-content{
.panel-heading{
  h4.panel-title{
    margin: 0;
    padding: 6px 0;
    a{
      font-size: 32px * $resize-psd;
      font-weight: 700;
      .icon-arrow-right-bold{
        font-size: 26px * $resize-psd;
        font-weight: 500;
        float :left;
        padding: 8px;
        transition: all 200ms;
      }
      transition: all 200ms;
    }
    a.collapsed{
      .icon-arrow-right-bold{
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
        transform: rotate(90deg);
        transition: all 200ms;
      }
    }
    .icon-arrow-right-bold{
      padding-right: 14px;
    }

  }
}
    a{
      font-weight: 600;
    }
    .panel-body{
      padding-left: 30px;
      .btn-fly{
        display: block;
        margin:20px 0 40px 0;
        border: 1px solid;
        font-family: $Raleway;
        font-weight: 500;
        background: transparent;
        padding : 16px 24px;
        &:hover{
          color: $color-black;
        }
      }
    }
    a, .panel-body {
      font-size: 32px * $resize-psd;
      line-height: 26px;
      font-weight: 500;
    }
    .collapse.in{
    }
  }
.active{
  background-color: #f9f9f9;
}
  }

