.fid-container {
  padding: 2rem 0;
  .main-fid {
    .page-heading {
      margin-bottom: 46px;
      text-align: center;
        font-family: Poppins;
        font-size: 120px * $resize-psd;
        line-height: 26px;
        @media (max-width: $screen-sm-min) {
          font-size: 25px;
        }
    }
    @media (max-width: $screen-md-min) {
      margin: 59px 0px 59px 0px;
    }

  }

  .fid-avantage-block {
    margin-right: 23px;
    margin-left: 10px;
    padding: 0px;

    li {
      @media (max-width: $screen-sm-min) {
        display: inline-table;
        width: 100%;
      }
    }

    .fid-avantages {
      padding: 0;
      .anim-sous-block {
        background-color: whitesmoke;
        border: 1px solid #dadada;
        padding: 0;
      }
      &.active {
        .anim-sous-block {
          background-color: #ffffff;
          border: 1px solid #090909;
          &:before {
            width: 25px;
            height: 25px;
            border-top: 1px solid black;
            border-left: 1px solid #000;
            content: "";
            position: absolute;
            bottom: -12px;
            z-index: 0;
            display: inline-block;
            transform: rotate(-135deg);
            background: #fff;
            top: inherit;
            margin-left: -14px;
          }
        }

      }
    }
    .fid-plus-avantages {
      padding: 0;
      .anim-sous-block {
        background-color: whitesmoke;
        border: 1px solid #dadada;
        padding: 0;
      }
      &.active {
        .anim-sous-block {
          background-color: #ffffff;
          border: 1px solid #090909;
          &:before {
            width: 25px;
            height: 25px;
            border-top: 1px solid black;
            border-left: 1px solid #000;
            content: "";
            position: absolute;
            bottom: -12px;
            z-index: 0;
            display: inline-block;
            transform: rotate(-135deg);
            background: #fff;
            top: inherit;
            margin-left: -14px;
          }
        }
      }
    }
    .fid-sous-block {
      display: table;
      width: 100%;
      padding: 0px;
      text-align: center;
      background-color: #f5f5f5;
      .label-title {

        font-size: 24.83px;
        font-family: Poppins;
        margin-top: 39px;
        font-weight: bold;
        //padding-top: 39px;
      }
      .label-desc {
        font-size: 24.83px;
        font-family: Poppins;
        margin-top: 53px;
        margin-bottom: 46px;
        font-family: "Myriad Pro";
        //font-size: 60px;
        font-weight: bold;
        //padding-top: 53px;
        //padding-bottom: 46px;

      }
      .carte-fid {
        font-size: 60px;
        padding: 45px 123px 56px 128px;
      }
    }
    .anim-sous-block {
      background-color: whitesmoke;
      border: 1px solid #dadada;
      border-right: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      padding: 2.5em;
      margin: 0;
    }
  }

  .fid-avantage-block-content {
  }

  .tab-content {
    color: #1e1e1e;
    font-family: $Raleway;
    padding-bottom: 82px;
    .privileges-box {
      text-align: center;
      font-size: 1rem;
      margin-bottom: 2em;
      @media (max-width: $screen-md-min) {
        padding: 3em 0;
        margin-bottom: 0;
        width: 100%;
      }
      i {
        font-size: 2rem;
        font-style: normal;
        min-height: 1.5em;
        display: block;
        font-weight: 400;
        @media (max-width: $screen-md-min) {
          font-size: 3rem;
        }
      }
      strong {
        font-family: $Raleway;
        font-weight: 700;
        display: block;
        @media (max-width: $screen-md-min) {
          font-size: 2rem;
          line-height: 3rem;
        }
      }
      span {
        font-family: $Raleway;
        font-weight: 500;
        display: block;
        @media (max-width: $screen-md-min) {
          font-size: 1rem;
          line-height: 2rem;
        }
      }

    }
  }

  .tab-content {
    padding: 4.125rem 4.5625rem 5.0625rem;
    display: table;
    width: 100%;
    .tab-fid {
      //position: absolute;

      h2 {
        font-size: 16.55px;
        font-family: $Raleway;
        font-weight: bold;
        line-height: 20.7px;
        &:nth-child(6) {
          margin-bottom: 44px;
          font-size: 24.84px;
          font-family: $Poppins;
          @media (max-width: $screen-md-min) {
            font-size: 1.5rem;
          }
        }
      }
      p {
        font-size: 13.24px;
        font-family: $Raleway;
        line-height: 20.7px;
        &:nth-child(1) {
          margin-bottom: 55px;
        }
        &:nth-child(3) {
          margin-bottom: 25px;
        }
        &:nth-child(5) {
          margin-top: 30px;
          margin-bottom: 48px;
          display: inline-block;

        }

      }
    }
    .tab-fid-two {
      .fid-paiment-type {
        h3 {
          font-size: 16.56px;
          line-height: 20.7px;
          font-family: $Poppins;
          font-weight: 600;
        }
        p {
          font-size: 13.25px;
          line-height: 20.7px;
          font-family: $Raleway;
          padding-bottom: 34px;
        }
      }
      p {
        &:nth-child(3) {
          padding-bottom: 50px;
          padding-top: 35px;
          display: inline-block;
        }
        &:nth-child(7) {
          font-size: 10.76px;
          line-height: 16.56px;
          font-family: $Raleway;
        }
        &:nth-child(9) {
          font-size: 10.76px;
          line-height: 16.56px;
          font-family: $Raleway;
        }
      }
      b {
        &:nth-child(2) {
          font-size: 16.56+px;
          line-height: 20.7px;
          font-family: $Raleway;

        }
        &:nth-child(8) {
          padding-bottom: 36px;
          padding-top: 48px;
          display: inline-block;
        }
      }
      .fid-services-block {
        font-size: 13.25px;
        line-height: 20.7px;
        font-family: $Raleway;
        h3 {
          font-size: 13.25px;
          line-height: 20.7px;
          font-family: $Raleway;
          font-weight: 600;
        }
        p {
          font-size: 13.25px;
          line-height: 20.7px;
          font-family: $Raleway;
          padding-bottom: 34px;
        }
      }
    }
  }
  table {
    width: 50%;
    font-size: 13.24px;
    font-family: raleway;
    @media (max-width: $screen-md-min) {
      width: 100%;
    }
    thead {
      tr {
        font-weight: bold;
      }
    }
  }
}

.no-card-container {

  .page-heading-title {
    font-family: Poppins;
    font-size: 49.57px;
    @media (max-width: $screen-sm-min) {
      font-size: 25px;
      display: inline;
    }
  }
  .heading {
    padding-top: 175px * $resize-psd;
    padding-bottom: 96px * $resize-psd;
    font-size: 60px * $resize-psd;
    line-height: 80px * $resize-psd;
    font-family: $Poppins;
    font-weight: 600;
    @media (max-width: $screen-md-min) {
      font-size: 40px * $resize-psd;
      line-height: 97.47px *$resize-psd;
    }
  }
  .qst {
    //padding-top: 66px * $resize-psd;
    padding-bottom: 66px * $resize-psd;
    font-size: 32px * $resize-psd;
    line-height: 120px * $resize-psd;
    font-family: $Raleway;
    font-weight: bold;
    @media (max-width: $screen-md-min) {
      font-size: 28px * $resize-psd;
      line-height: 101.66px *$resize-psd;
    }
  }
  .add-card {
    text-decoration: underline;
    padding-bottom: 134px * $resize-psd;
    font-size: 32px * $resize-psd;
    line-height: 50px * $resize-psd;
    font-family: $Raleway;
    font-weight: 500;
    @media (max-width: $screen-md-min) {
      font-size: 26px * $resize-psd;
      line-height: 42.23px * $resize-psd;
    }
  }
}

.add-card-container {

  .page-heading-title {
    font-size: 60px * $resize-psd;
    font-family: $Poppins;
    font-weight: bold;

    @media (max-width: $screen-md-min) {
      font-size: 36px * $resize-psd;
    }
  }
  @media (max-width: $screen-md-min) {
    padding: 26px *$resize-psd 21px * $resize-psd 20px * $resize-psd;
    /*padding-top: 26px *$resize-psd;
    padding-left: 20px * $resize-psd;
    padding-right: 21px * $resize-psd;*/
  }

  .page-content {
    padding-bottom: 155px * $resize-psd;
  }
  .fly-card {
    display: table;
    .card-thumb {
      display: table-cell;
      vertical-align: middle;
      padding-right: 81px * $resize-psd;
    }
    .card-confirm {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .add-card-form {
    padding-top: 80px * $resize-psd;
    label {
      font-size: 32px * $resize-psd;
      font-family: $Raleway;
      font-weight: 500;
      line-height: 50px * $resize-psd;
    }
    .dropdown {
      .btn-select-value {
        color: #adadad;
        font-size: 32px * $resize-psd;
        font-family: $Raleway;
        font-weight: 500;
        //line-height: 140px * $resize-psd;
      }
      .btn-select-arrow {
        &:before {
          @include font-icon();
          content: $icon-arrow-right-bold;
          color: #b3b3b3;
          position: absolute;
          margin-left: -1.8em;
          @include font-size(10px);
          font-weight: 900;
          line-height: 4.4em;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
        }
      }
      .dropdown-menu {
        min-width: inherit;
        .option {
          color: #1e1e1e;
          font-size: 1rem;
          padding: 3px 1em;
          &:hover {
            color: #fff;
          }
        }
      }
    }
    .birth-date {
      display: table;
      .btn-group {
        float: left;
      }
      .btn-select {
        min-width: inherit;
        border-right: none;
      }
      .btn-group {
        &:last-child {
          .btn-select {
            border: 1px solid #dadada;
          }
        }
      }
    }
    .form-group {
      .btn {
        font-family: $Raleway;
        font-size: 32px * $resize-psd;
        font-weight: 500;
      }
      .reset {
        @extend .btn;
      }
    }
  }
}

.no-cheque-fid-container {
  .cheque-content {
    h1 {
      font-family: $Poppins;
      font-weight: 600;
      font-size: 60px * $resize-psd;
      line-height: 80px *$resize-psd;
      padding-bottom: 58px * $resize-psd;
      @media (max-width: $screen-md-min) {
        font-size: 36px * $resize-psd;
        line-height: 97.47px *$resize-psd;
      }
    }
    p {
      font-family: $Raleway;
      font-weight: 600;
      font-size: 32px * $resize-psd;
      line-height: 80px *$resize-psd;
      &:before {
        @include font-icon();
        content: $icon-cheque;
        padding-right: 23px * $resize-psd;
        font-size: 40px * $resize-psd;
      }
      @media (max-width: $screen-md-min) {
        font-size: 26px * $resize-psd;
        line-height: 80px *$resize-psd;
      }
    }
  }
}

.devouv-card-container {
  .devouv-card-title {
    font-size: 120px * $resize-psd;
    font-family: $Poppins;
    font-weight: bold;
    line-height: 80px * $resize-psd;
    text-align: center;
    padding-bottom: 140px *$resize-psd;
  }
  .globalH1Pro {
    font-size: 60px * $resize-psd;
    font-family: $Poppins;
    font-weight: 600;
    line-height: 80px * $resize-psd;
    text-align: center;
  }
  .globalPProp {
    font-size: 32px * $resize-psd;
    font-family: $Raleway;
    font-weight: 500;
    line-height: 80px * $resize-psd;
    text-align: center;
  }
  .contour {
    border: 1px solid;
    height: 1443px * $resize-psd;
    padding: 78px * $resize-psd 81px * $resize-psd 78px * $resize-psd 81px * $resize-psd;
    margin: 0;
    &:nth-child(2) {
      border-color: #e6e6e6;
      background-color: #e6e6e6;
      h1 {
        @extend .globalH1Pro;
        color: #000000;
      }
      p {
        @extend .globalPProp;
        color: #000000;
      }
    }
    &:nth-child(3) {
      border-color: #000000;
      background-color: #000000;
      h1 {
        @extend .globalH1Pro;
        color: #e6e6e6;
      }
      p {
        @extend .globalPProp;
        color: #e6e6e6;
      }
    }
  }
}

