.flyby{
  /*==================
VARIABLES
===================*/
  $font-size-70px: 4.375rem;
  $font-size-60px: 4.286rem;
  $font-size-58px: 4.143rem;
  $font-size-50px: 3.333rem;
  $font-size-36px: 2.25rem;
  $font-size-30px: 2.143rem;
  $font-size-28px: 2rem;
  $font-size-25px: 1.786rem;
  $font-size-23px: 1.643rem;
  $font-size-21px: 1.5rem;
  $font-size-20px: 1.429rem;
  $font-size-18px: 1.286rem;
  $font-size-16px: 1.143rem;
  $font-size-14px: 1rem;
  $font-size-13px: 0.9286rem;

  $color-black: #1e1e1e;
  /*==================
  GENERAL
  ===================*/
  h1, h2, h3, h4, h5{
    color: $color-black;
    font-family: "Poppins", sans-serif;
    float: left;
    width: 100%;
  }
  h1{
    &.flyby{
      display: inline-block;
      width: 278px;
      height: 85px;
      background: url("../img/flyby/flyby-logo.png") center center no-repeat transparent;
      background-size: auto 100%;
      text-indent: -9999px;
      float: none;
      margin: 30px auto;
    }
    font-size: $font-size-58px;
    font-weight: 700;
  }
  h2{
    font-size: $font-size-58px;
    line-height: $font-size-58px;
    font-weight: 700;
    margin: 0;
  }
  h3{
    font-size: $font-size-28px;
    font-weight: 600;
    margin: 5px 0;
  }
  p{
    font-size: $font-size-14px;
    line-height: $font-size-23px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  hr{
    float: left;
    width: 100%;
    border-color: #d6d6d6;
    margin: 28px 0;
  }
  .border-left{
    border-left: 1px solid #d6d6d6;
  }
  .border-right{
    border-right: 1px solid #d6d6d6;
  }
  a.button {
    border-radius: 2px;
    background-clip: padding-box;
    background-color: #1d1d1d;
    border: 1px solid #1d1d1d;
    font-family: "Raleway", sans-serif;
    font-size: $font-size-13px;
    color: #fff;
    font-weight: 400;
    padding:16px 30px 16px 24px;
    transition: all 200ms;
    margin: 15px 0;
    display: inline-block;
    &:hover {
      color: #1d1d1d;
      background: #fff;
    }
    i{
      margin-right: 8px;
      position: relative;
      top: 1px;
    }
  }
  .icon-flag-fr:before{
    content: "";
    background: url(../img/flyby/flag_france.png) top left no-repeat;
    display: inline-block;
    width: 27px;
    height: 18px;
  }
  .nopadding{
    padding:0;
  }
  .main-content{
    padding:0;
  }
  /*==================
  INDEX
  ===================*/
  section{
    float: left;
    width: 100%;
    margin-bottom: 90px;
    .title-block{
      text-align: center;
      margin-bottom: 50px;
    }
    &:last-child{
      margin-bottom: 50px;
    }
    .name{
      font-size: $font-size-18px;
      line-height: $font-size-50px;
      font-weight: 300;
      color: $color-black;
      font-family: "Poppins", sans-serif;
      display: block;
      text-transform: uppercase;
      .icon-flag-fr{
        top: -22px;
        position: relative;
      }
    }
    .job{
      display: block;
      font-size: $font-size-14px;
    }
    .padding-vertical{
      padding: 35px 45px 35px 0;
      .title{
        font-size: $font-size-18px;
        line-height: $font-size-23px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        display: block;
        margin-bottom: 10px;
      }
      .img-block{
        height: 380px;
        display: block;
        line-height: 380px;
        position: relative;
        float: left;
        width: 100%;
      }
    }
    .img-container{
      position: relative;
      img{
        width: 100%;
      }
      .infos{
        position: absolute;
        left: 80px;
        top: 60px;
        .name{
          font-size: $font-size-58px;
          letter-spacing: 6px;
          line-height: $font-size-70px;
        }
        .job{
          display: block;
          font-size: $font-size-28px;
          line-height: $font-size-28px;
        }
      }
    }
    article{
      float: left;
      width: 100%;
      margin-top: 35px;
      &:last-child{
        margin-top: 0;
      }
      &.designer{
        .padding-vertical{
          padding-left: 30px;
        }
        .margin-top{
          margin-top: 37px;
        }
        img{

        }
        .name{
          font-size: 2.143rem;
          line-height: 2.25rem;
          font-weight: 300;
          letter-spacing: 2px;
        }
        a{
          &.categ, &.product-name{
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-size: $font-size-14px;
            line-height: $font-size-18px;
            display: inline-block;
          }
          &.button{
            background: #fff;
            color: $color-black;
            display: inline-block;
            font-weight: 400;
            padding: 14px 20px 14px 24px;
            &:hover {
              background: $color-black;
              color: #fff;
            }
          }
          &.categ, &.product-name{
            line-height: 24px;
            display: block;
          }
        }
        .padding-vertical{
          .img-block{
            height: 350px;
            line-height: 350px;
          }
        }
      }
    }
  }
  /*==================
  CREATION
  ===================*/
  &.creation{
    .title-block{
      text-align: center;
      margin-bottom: 50px;
      margin-top: 65px;
      h1{
        font-size: $font-size-58px;
        line-height: $font-size-58px;
        letter-spacing: 6px;
      }
      .job{
        display: inline-block;
        font-size: 34px;
        margin-right: 10px;
        margin-left: 20px;
      }
      .flag{
        display: block;
        margin-bottom: 20px;
        margin-top: 22px;
        &:before{
          display: inline-block;
          width: 32px;
          height: 22px;
          background-size: 100% auto;
        }
      }
    }
    .block-presentation{
      .outer {
        display: table;
        height: 100%;
        width: 100%;
      }
      .middle {
        display: table-cell;
        vertical-align: middle;
      }
      .inner {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }
      h3{
        display: inline-block;
        margin-bottom: 20px;
      }
      p{
        margin-bottom: 15px;
        float: left;
      }
      .vertical-align{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .image-presentation{
      display: table;
      max-width: 490px;
      max-height: 456px;
      img{
        width: 100%;
      }
    }
    section{
      margin-bottom:0;
      &.gallery{
        div{
          padding:0;
          overflow: hidden;
          a{
            &:hover{
              img{
                opacity:0.7;
              }
            }
          }
          img{
            width: 100%;
            transition: all 400ms;
            -webkit-backface-visibility: hidden;
          }
        }
      }
      .img-container{
        padding: 0;
        img{
          width: 100%;
        }
        blockquote{
          padding: 0 45px;
          color: #666;
          font-family: "Raleway", sans-serif;
          font-size: 21px;
          line-height: 27px;
          font-weight: 500;
          position: absolute;
          right: 0;
          top: 50.7%;
          letter-spacing: 1px;
          display: block;
          border: none;
          max-width: 57%;
          transform: translateY(-50%);
          &:before, &:after{
            content: "";
            background: url(../img/flyby/quote-left.png) top left no-repeat;
            display: block;
            width: 32px;
            height: 23px;
            position: absolute;
            left: 0;
            top: 0;
          }
          &:after{
            background: url(../img/flyby/quote-right.png) bottom right no-repeat;
            left: auto;
            top: auto;
            right: 55px;
            bottom: 0;
          }
        }
      }
    }
    .fly-by-products{
      .products-row{
        padding: 0 15px;
        li{
          padding: 0 15px;
          &.item{
            .item-inner{
              border: none;
              &:hover{
                &:last-child{
                  border-color: transparent !important;
                }
              }
              .item-title {
                a{
                  display: block;
                  line-height: 22px;
                  transition: all 200ms;
                  &:hover{
                    img{
                      opacity:0.7;
                    }
                  }
                }
                &:hover{
                  a{
                    opacity:0.7;
                  }
                }

              }
              .item-cta {
                position: relative;
                opacity:0;
                visibility: hidden;
                top: 20px;
                width: 100%;
                float: left;
                transition: all 200ms;
                .button{
                  background: #fff;
                  color: $color-black;
                  &:hover{
                    border-color: #eb212e;
                    background: #eb212e;
                    color:#fff;
                  }
                }
              }
            }
            &:hover{
              .item-cta{
                opacity:1;
                visibility: visible;
                top: 0;
              }
            }
            &:before{
              border: none;
            }
          }
        }
      }
    }
  }
}
  /*==================
  RESPONSIVE
  ===================*/
@media screen and (max-width: 1440px) {
  .flyby {
    section {
      .button{
        padding: 16px 13px 17px;
      }
      .padding-vertical {
        .img-block {
          height: 280px;
          line-height: 280px;
        }
      }
      article{
        &.designer {
          a.button {
            background: #fff none repeat scroll 0 0;
            color: #1e1e1e;
            display: inline-block;
            font-size: 13px;
            font-weight: 400;
            padding: 16px 18px 17px 17px;
          }
          .padding-vertical {
            .img-block {
              height: 270px;
              line-height: 270px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  .flyby {
    section {
      margin-bottom: 50px;
      .padding-vertical {
        padding:20px 45px 20px 0;
        .img-block {
          height: 200px;
          line-height: 200px;
          img{
            height: 100%;
            width: auto;
          }
        }
        p {
          font-size: 14px;
          line-height: 18px;
        }
      }
      .img-container{
        .infos {
          left: 50px;
          position: absolute;
          top: 40px;
          .name {
            font-size: 40px;
            letter-spacing: 4px;
            line-height: 40px;
            .icon-flag-fr {
              top: -6px;
            }
          }
          .job {
            display: block;
            font-size: 22px;
            line-height: 28px;
          }
        }
      }
      article{
        &.designer {
          .padding-vertical {
            .button{
              font-size: 13px;
              padding: 14px 18px 14px 19px;
            }
            .img-block {
              height: 230px;
              line-height: 230px;
            }
          }
          .name {
            font-size: 22px;
            line-height: 24px;
          }
          .job{
            line-height: 30px;
          }
        }
        &.img-left {
          .padding-vertical {
            padding: 20px 20px 20px 0;
          }
        }
        &.img-right {
          .padding-vertical {
            padding: 20px 0 20px 20px;
          }
        }
      }
    }
    &.creation{
      .block-presentation {
        padding-left: 40px;
        p {
          font-size: 15px;
          line-height: 20px;
        }
      }
      .image-presentation img {
        float: right;
        height: 100%;
        width: auto;

      }
    }
  }
}
@media screen and (max-width: 991px) {
  .flyby {
    h2 {
      font-size: 40px;
      line-height: 55px;
    }
    .center-sm{
      text-align: center;
    }
    &.creation{
      .block-presentation {
        padding-left: 20px;
        p {
          font-size: 14px;
          line-height: 19px;
        }
      }
    }
    section {
      .padding-vertical {
        padding: 20px 15px;
        .img-block {
          height: auto;
          line-height: 0;
          img {
            height: auto;
            width: 100%;
          }
        }
      }
      article{
        &.designer{
          .padding-vertical {
            padding: 10px 15px;
            .img-block {
              height: auto;
              line-height: 0;
              img {
                height: auto;
                width: 100%;
              }
            }
            .button{
              font-size: 13px;
              padding: 14px 9px 14px 6px;
              i {
                font-size: 10px;
                margin-right: 3px;
                position: relative;
                top: 0;
              }
            }
          }
          &.img-left{
            .padding-vertical{
              padding-left:0;
            }
          }
          &.img-right{
            .padding-vertical{
              padding-right:0;
            }
          }
          a.product-name,
          a.categ{
            font-size: 14px;
            line-height: 17px;
          }
          .name {
            font-size: 20px;
            line-height: 22px;
          }
        }
      }
      .category-products {
        .products-grid {
          .products-row{
            border-bottom: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .flyby {
    &.creation{
      .title-block {
        margin-bottom: 30px;
        margin-top: 45px;
        h1 {
          font-size: 40px;
          letter-spacing: 3px;
          line-height: 40px;
        }
        h2{
          font-size: 30px;
          line-height:40px;
        }
        .job {
          display: inline-block;
          font-size: 21px;
          margin-left: 0;
          margin-right: 10px;
        }
      }
      .block-presentation {
        padding: 30px 40px;
        p {
          font-size: 14px;
          line-height: 20px;
        }
      }
      .image-presentation{
        img{
          width: 100%;
          height: auto;
        }
      }
      section{
        margin-bottom: 0;
        .img-container {
          blockquote {
            font-size: 16px;
            letter-spacing: 1px;
            line-height: 21px;
            max-width: 60%;
            padding: 0 15px;
            position: absolute;
            right: 10px;
            text-shadow: 0 0 1px #fff;
            top: 50.7%;
            transform: translateY(-50%);
            &:before{
              background: rgba(0, 0, 0, 0) url("../img/flyby/quote-left.png") no-repeat scroll left top / 20px auto;
              left: 10px;
              top: -20px;
            }
            &:after{
              background: rgba(0, 0, 0, 0) url("../img/flyby/quote-right.png") no-repeat scroll right bottom / 20px auto;
              bottom: -20px;
              right: 25px;
              top: auto;
              left: auto;
            }
          }
        }
      }
    }
    .title-block{
      h2{
        font-size: 30px;
        line-height:40px;
      }
    }
    section{
      hr{
        display: none;
      }
      margin-bottom: 0;
      .img-container{
        padding: 0;
      }
      .padding-vertical {
        .img-block {
          height: auto;
          line-height: 0;
          img {
            height: auto;
            width: 100%;
          }
        }
      }
      article.designer {
        .col-sm-6 {
          border-bottom: 1px solid #ccc;
          margin-bottom: 20px;
          padding-bottom: 20px;
        }

        &.img-left{
          .image{
            padding-left:0;
          }
        }
        &.img-right{
          .image{
            padding-right:0;
          }
          .col-sm-6{
            &:last-child{
              border-bottom:0;
            }
          }
        }
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .flyby{
    section {
      .img-container {
        .infos {
          left: 15px;
          .name {
            font-size: 33px;
            letter-spacing: 2px;
            line-height: 34px;
          }
          .job{
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
      article.designer {
        .padding-vertical {
          .button{
            font-size: 13px;
            padding: 14px 15px;
            i{
              display: none;
            }
          }
        }
      }
    }
    &.creation{
      .block-presentation {
        p {
          font-size: 15px;
          line-height: 22px;
        }
      }
    }
  }

}
@media screen and (max-width: 479px) {
  .flyby{
    &.creation{
      section{
        .img-container {

        }
      }
    }
    section {
      article{
        &.img-left {
          .padding-vertical {
            padding: 10px 20px 10px 0;
          }
        }
        &.img-right{
          .padding-vertical{
            padding: 10px 0 10px 20px;
          }
        }
        &.designer {
          .name {
            font-size: 20px;
            line-height: 20px;
          }
          a{
            &.categ, &.product-name {
              font-size: 15px;
              line-height: 19px;
            }
          }
          .padding-vertical {
            .button {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
