.legals{
  .title{
    margin-bottom: 40px;
    h1{
      text-align: center;
      font-size: 120px * $resize-psd;
      margin-bottom: 0;
    }
    p{
      padding: 10px 0;
      text-align: center;
    }
  }
  h3{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h4{
    margin-top: 40px;
    font-weight: 600;
  }
  h5{
    color: #eb212e;
    font-weight: 600;
    font-size: 40px * $resize-psd;
    margin: 20px 0;
  }
  p{
    font-family: $Raleway;
    font-weight: 500;
    font-size: 32px * $resize-psd;
    margin: 10px 0;
    text-align: justify;
    span{
      font-weight: 600;
      font-size: 36px * $resize-psd;
    }
  }
  .guarante-icons{

    i{
      font-size: 10px;
      color: $red-fly;
    }
    img{
      max-width: 120px;
    }
    .link{
      margin-top: 14px;
    }
    a{
      padding-top: 6px;
      font-weight: 600;
      color: $red-fly;
    }
    .fly-bed {
      text-align: center;
    }
    .icon-arrow-right-bold{
      &:before{
        font-weight: 600;
      }
    }
  }
  @media (max-width: $screen-md-min) {
    h1 {
      font-size: 24px;
      line-height: 30px;
    }
    .guarante-icons{
      .fly-bed {
        text-align: right;
      }
    }
  }
}