#header {
  .header-wrapper {

    .logo {
        .text {
          font-family: $Raleway;
          text-transform: uppercase;
          font-weight: 500;
          display: inline-block;
          padding-left: 20px;
          vertical-align: middle;
          span {
            display: block;
            font-size: 60px * $resize-psd;
            font-weight: 600;
          }
        }

    }
}
}