.landing-page {
  .title {
    margin-bottom: 40px;
    h1 {
      text-align: center;
      font-size: 120px * $resize-psd;
      margin-bottom: 0;
    }
    p {
      font-family: $Raleway;
      font-weight: 500;
      font-size: 18px;
      padding: 10px 0;
      text-align: center;
    }

  }
  @media (max-width: $screen-md-min) {
  .title {
    h1 {
      font-size: 24px;
      line-height: 30px;
    }
  }
  .section-fly-by {
    display: none !important;
  }
}

  .category-products {
    .products-grid {
      .products-row {
        text-align: center;
        .item-title {
          font-family: $Raleway;
          font-size: 18px;
          font-weight: 500;
          h3 {
            font-size: 26px;
            font-weight: 600;
            padding: 0 0 10px;

          }
          a {
            margin-top: 10px;
            display: inline-block;
          }
          @media (max-width: $screen-md-min) {
            h3 {
              font-size: 20px;

            }
          }
        }

        .item {
          &:before {
            border: none;
          }
        }
      }
    }
  }
}

