.main-listings {

  .page-heading {

    .page-heading-title {
      font-family: $Poppins;
      @include font-size(60px);
      font-weight: 400;
      line-height: 1.1em;
    }
    @media (max-width: $screen-md-min) {
      display: none;
    }
  }

  .page-description {
    @media (max-width: $screen-md-min) {
      display: none;
    }
  }

  .display-product-option {
    padding: 1em 0;
    clear: both;
    display: table;
    width: 100%;
    @media (max-width: $screen-md-min) {
      display: none;
    }
    @media (min-width: $screen-md-min) {
      .show-filter-mobile {
        display: none;
      }
    }
    .catalog-results-count {
      font-family: $Poppins;
      @include font-size(20px);
      font-weight: 600;
      float: left;
      padding: 0.5em 0;

    }

  }
}

.product-option-right {
  float: right;
  @media (max-width: $screen-md-min) {
    float: left;
  }
  div#sort-by {

    .dropdown {

      a#sortid {

        .btn-select-value {

        }

        .btn-select-arrow {
          &:before {
            @include font-icon();
            content: $icon-arrow-right-bold;
            color: #1e1e1e;
            position: absolute;
            margin-left: -1.8em;
            @include font-size(10px);
            //font-weight: 900;
            line-height: 4.4em;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
          }
        }
      }


    }
  }
}

@media (min-width: 992px){
  .open > .dropdown-menu {
    padding: 10px 0 !important;
    height: auto;
  }
}

.category-products {

  .products-grid {
    .products-row {
      padding: 0;

      @media (max-width: $screen-md-min) {
        border-bottom: #ededed 1px solid;
      }

      .item {
        position: relative;
        margin-bottom: 3em;
        &:before {
          content: "";
          width: 100%;
          left: 0;
          position: absolute;
          top: -1em;
        }
        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
          &:before {
            content: none;
          }
        }

        @media (max-width: $screen-md-min) {
          &:nth-child(3) {
            &:before {
              content: "";
            }
          }
        }

        .item-inner {

          .item-img {
            height: 280px;
            position: relative;
            overflow: hidden;
            .add-wishlist {
              position: absolute;
              z-index: 2;
              right: 0.5em;
              top: 1.1em;
              display: none;
              opacity: 0;
              transition: opacity 0.5s ease-in-out;
              .link-wishlist {
                &.active, &:hover {
                  .icon-heart-empty {
                    color: $red-fly;
                    &:before {
                      content: $icon-heart;
                    }
                  }
                }
              }
            }

            .price-off {
              position: absolute;
              z-index: 2;
              left: 0.5em;
              top: 0.5em;
              .price-off {
                width: 30px;
                height: 30px;
                background-color: $red-fly;
                color: #fff;
                font-family: $Poppins;
                @include font-size(10px);
                font-weight: 500;
                border-radius: 100%;
                overflow: hidden;
                line-height: 32px;
                text-align: center;
              }
            }

            .item-img-info {
              height: 100%;
              width: 100%;
              vertical-align: middle;
              .img-responsive {
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                left: 50%;
                max-width: 100%;
              }
            }
          }

          .item-info {

            .info-inner {

              .item-title {
                font-size: 30px * $resize-psd;
                font-weight: 600;
                color: #1e1e1e;
                font-family: $Poppins;
              }

              .item-content {
                .item-price {
                  float: left;
                  margin-right: 1em;
                  margin-top: 4px;
                  .price-box {
                    @include font-size(15px);
                    .sale-price {

                      .price {
                        font-weight: 600;
                      }
                    }

                    .regular-price {

                      .price {
                        @include font-size(15px);
                        font-weight: 400;
                        text-decoration: line-through;
                      }
                    }
                  }
                }

                .item-status {
                  float: right;
                  visibility: hidden;
                  opacity: 0;
                  span {
                    display: block;
                    @include font-size(13px);
                    font-weight: 600;
                    text-align: right;
                    &.shipping-info {
                      color: #1e1e1e;
                      font-size: 26px * $resize-psd;
                      font-family: $Raleway;
                      font-weight: 600;
                    }

                    &.available {
                      color: #3fb34f;
                      font-size: 26px * $resize-psd;
                      font-family: $Raleway;
                      font-weight: 600;
                    }

                    &.outofstock {
                      font-size: 26px * $resize-psd;
                      font-family: $Raleway;
                      font-weight: 600;
                    }
                  }
                }
              }
              &:first-child {
                .item-colors {
                  max-height: 0;
                  overflow: hidden;
                }
              }
            }
          }
        }
        &.rendered {
          .item-inner {
            opacity: 0;

            &:last-child {
              position: absolute;
              top: 0;
              opacity: 1;
              border: 1px solid transparent;
              margin: 0 -6px;
              padding: 0 7px;
              width: 98%;
              transition: border 0.15s ease;

              .item-colors {
                font-size: 26px * $resize-psd;
                font-family: $Raleway;
                font-weight: 600;
                display: block;
                max-height: 0;
                transition: max-height 0.10s ease-in-out;
                overflow: hidden;
                position: relative;

                .total-items{

                }

              }
            }

            &:hover {
              z-index: 10;

              @media (min-width: $screen-md-min) {
                .item-status {
                  opacity: 1 !important;
                  visibility: visible !important;
                }
              }
              &:last-child {

                background-color: #fff;
                @media (min-width: $screen-md-min) {
                  border: 1px solid #dadada;
                  .item-colors {
                    max-height: 800px;
                    transition: max-height 0.20s ease-in-out;
                  }
                  .add-wishlist {
                    display: block;
                    opacity: 1;
                    transition: opacity 1s ease-in-out;
                  }
                }


              }

            }
          }

        }
      }
    }
  }

}