.liv-retours{
  h1{
    text-align: center;
    font-size: 120px * $resize-psd;
    margin-bottom: 40px;
  }
  h3{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h5{
    color: #eb212e;
    font-weight: 600;
    font-size: 40px * $resize-psd;
  }
  p{
    font-family: $Raleway;
    font-weight: 500;
    font-size: 32px * $resize-psd;
    margin: 4px 0;
  }
  .table{
    text-align: center;
    background-color: #f9f9f9;
    width: 100%;
    font-size: 40px * $resize-psd;
    font-family: $Poppins;
    font-weight: 500;
    .grey{
      background-color: #f4f4f4;
    }
    span{
      font-size: 14px;
      font-weight: 600;
    }
    td{
      .btn-select-value {
        color: #1e1e1e;
        font-size: 1rem;
      }

      .btn-select-arrow {
        top: -0.35rem;
        position: absolute;
        right: 0.5rem;
        &:before {
          @include font-icon();
          content: $icon-arrow-right-bold;
          color: #1e1e1e;
          position: absolute;
          margin-left: -1.8em;
          font-size: 0.625rem;
          line-height: 6.2em;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
        }
      }
      ul.dropdown-menu li{
        &:hover {
          background-color: #f9f9f9;
        }
      }
    }
    td, th{
      padding: 10px;
      border: 1px solid #CCC;
    }
  }
  @media (max-width: $screen-md-min) {
    h1 {
      font-size: 24px;
      line-height: 30px;
    }
  }
}