.legals{
  h1{
    text-align: center;
    font-size: 120px * $resize-psd;
    margin-bottom: 40px;
  }
  h3{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h5{
    margin-top: 6px;
    color: #eb212e;
    font-weight: 600;
    font-size: 40px * $resize-psd;
  }
  p{
    font-family: $Raleway;
    font-weight: 500;
    font-size: 32px * $resize-psd;
    margin: 4px 0;
    text-align: justify;
  }
  @media (max-width: $screen-md-min) {
    h1 {
      font-size: 24px;
      line-height: 30px;
    }
  }
}