
.page-connection {

  .modal-header {
    padding: 20px;
    .close {

    }

    .modal-title {
      color: #1e1e1e;
      font-family: $Poppins;
      font-size: 1.25rem;
      font-weight: 600;
      a.back {
        float: left;
        i.icon-arrow-left-bold {
          position: relative;
          left: -0.8em;
          bottom: -0.22em;
        }
        span {
          color: #1e1e1e;
          font-family: "Raleway", sans-serif;
          font-size: 1rem;
          font-weight: 500;
          display: inline-block;
          position: relative;
          top: 0;
        }
      }
    }
  }

  .modal-body {
padding: 0 15px 15px 0;
    .connection-wrapper {
      display: table;
      h3, form, p {
        margin-bottom: 0.8rem;
      }
      h3 {
        color: #1e1e1e;
        font-family: $Poppins;
        font-size: 1.25rem;
        font-weight: 600;
      }
      p {
        color: #1e1e1e;
        font-family: $Raleway;
        font-size: 0.8rem;
        font-weight: 500;
      }
      i.icon-arrow-right-bold {
        position: relative;
        bottom: -0.10em;
      }
      .connection-form {
        padding-top: 15px;
        border-bottom: 1px solid #dadada;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        label {
          color: #1e1e1e;
          font-family: $Raleway;
          font-size: 1rem;
          font-weight: 500;
        }
        .form-group {
          .form-control {
            font-size: 0.8rem;
          }
          #lostpassword {
            font-family: $Raleway;
            font-size: 0.813rem;
            font-weight: 500;
            &:hover {
              border-bottom: 1px solid #eb212e;
            }
          }
        }

        .btn {
          &:hover {
            background-color: #eb212e;
            color: #fff;
            border-color: #eb212e;
          }
          .icon-arrow-right-bold {

          }
        }
      }

      .new-connection {
        padding-top: 15px;
        border-left: 1px solid #dadada;
        @media (max-width: $screen-md-min) {
          border-left: none;
        }
        .btn {

          .icon-arrow-right-bold {

          }
        }
      }
    }
    .lostpass-wrapper {
      text-align: center;
      margin: 3em auto;
      display: table;
      width: 100%;
      .recovery-form {
        p {
          color: #1e1e1e;
          font-family: $Raleway;
          font-size: 1rem;
          font-weight: 500;
          margin-bottom: 1rem;
        }
        .form-group {
          margin: 1.5rem auto;
          max-width: 350px;
          label {
            float: left;
            color: #1e1e1e;
            font-family: $Raleway;
            font-size: 1rem;
            font-weight: 500;
          }
          .form-control{
            font-size: 0.8rem;
          }
          button {
            color: white;
            font-family: $Raleway;
            font-size: 1rem;
            font-weight: 500;
            &:hover {
              background-color: #eb212e;
              border-color: #eb212e;
            }
          }
        }
        .success-msg {
          color: #3fb34f;
          font-family: $Raleway;
          font-size: 1rem;
          font-weight: 500;
        }
      }

    }
  }
}
