.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal {

  .modal-backdrop {
    background-color: #fff;
    @media (max-width: $screen-md-min) {
      background-color: #000;
    }
  }
  .modal-dialog {
    @media (max-width: $screen-md-min) {
      width: 96%;
      margin: 50px auto;
    }
    .modal-content {
      background-color: #fff;
      border: 1px solid #dadada;
      border-radius: 4px;
      box-shadow: 0 0 7px rgba(30, 30, 30, 0.05);
      .modal-header {

        .close {
          opacity: 1;
          line-height: 1.5em;
          transition: all 0.2s linear;
          margin-top: 0;
          font-size: 2rem;
          &:hover {
            color: #93161f;
          }
        }

        .modal-title {
          padding-right: 3rem;
        }
      }

      .modal-body {
        display: block;
        padding: 15px;
        max-height: calc(100vh - 130px);
        overflow-y: auto;
        @media (max-width: $screen-md-min) {
          padding: 15px 0;
        }
      }

      .modal-footer {

        .btn {

        }
      }
    }
  }


  &#composition {
    .modal-dialog {
      width: 100%;
      max-width: 860px;
      @media (min-width: $screen-xl-min) {
        max-width: 1083px;
        margin: 8% auto;
      }
      @media (max-width: $screen-md-min) {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 1em 1em 0;
      }

    }
    .modal-title {
      text-align: center;
      color: #1e1e1e;
      font-family: $Poppins;
      @include font-size(20px);
      font-weight: 400;
    }
    .modal-body {

      ul {
        padding-left: 0;
        li {
          padding-left: 0;
          margin-bottom: 1em;
          @media (max-width: $screen-md-min) {
            padding: 0 15px 15px;
            border-bottom: 1px solid #efefef;
            &:last-child {
              border-bottom: none;
            }
          }
          .price {
            color: #1e1e1e;
            font-family: $Poppins;
            @include font-size(20px);
          }
          .sub-price {
            color: #424448;
            font-family: $Raleway;
            @include font-size(11px);
            font-weight: 500;
            display: block;
          }
          p {
            color: #1e1e1e;
            font-family: $Raleway;
            @include font-size(13px);
            b {
              font-weight: 700;
            }
          }
          .composition-img {
            border: 1px solid #efefef;
            text-align: center;
            margin-bottom: 1em;
            @media (max-width: $screen-md-min) {
              border: none;
            }
          }
        }
      }
    }
  }

  &#storelocator {

    .modal-dialog {
      width: 100%;
      max-width: 910px;
      @media (min-width: $screen-xl-min) {
        max-width: 910px;
        margin: 8% auto;
      }
      @media (max-width: $screen-md-min) {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 1em 5px 0;
      }
      .modal-content {

        .modal-header {
          padding: 0.5em 0;
          display: table;
          width: 100%;
          .close {
            right: 1em;
            position: absolute;
            z-index: 2;
            top: 1rem;
            @media (max-width: $screen-md-min) {
              top: .4rem;
            }
          }
          .head-label {
            @media (max-width: $screen-md-min) {
              padding-bottom: 1em;
              border-bottom: 1px solid #bababa;
            }
          }

          .head-input {
            @media (max-width: $screen-md-min) {
              margin: 1em auto;
              display: table;
            }
            .btn-fly {
              padding: 0.2em 1em 0.5em;
              margin-right: 0.5em;
              font-size: 1em;
              @media (max-width: $screen-md-min) {
                padding: 0.2em 0.5em 0.5em;
                min-width: 133px;
              }
              .icon-location {
                position: relative;
                bottom: -4px;
                font-size: 1.5em;
              }
            }

            #custom-search-input {

              .input-group {

                .form-control {
                  max-width: 142px;
                  border-radius: 0;
                  color: #1e1e1e;
                  font-family: $Raleway;
                  font-size: 1rem;
                  font-weight: 500;
                  @media (max-width: $screen-md-min) {
                    font-size: 14px;
                    max-width: inherit;
                    height: auto;
                  }
                }

                .input-group-btn {
                  background-color: #1e1e1e;
                  border-radius: 0px 4px 4px 0px;
                  .btn {
                    border: transparent;
                    background: transparent;
                    transition: all 0.15s ease-in-out;
                    @media (max-width: $screen-md-min) {
                      padding: 0.4em 0.5em;
                    }

                    .icon-search {
                      color: #fff;
                    }
                    &:hover {
                      .icon-search {
                        color: $red-fly;
                      }
                    }
                  }
                }
              }
            }
          }

          strong {
            margin-right: 0.5em;
            font-family: $Poppins;
            &.sp-top {
              padding: 0.75em 0 0;
              display: block;
            }
          }
        }

        @media (min-width: $screen-md-min) {
          .nano {
            background: #fff;
            width: 100%;
            height: 300px;
            > {
              .nano-content {
                padding: 10px;
              }
              .nano-pane {
                background: #888;
                > .nano-slider {
                  background: #111;
                }
              }
            }
          }
        }

        .modal-body {
          max-height: calc(100vh - 150px);
          overflow-y: auto;
          .back-to-result {
            padding-left: 0;
            @media (max-width: $screen-md-min) {
              margin-bottom: 1em;
              padding-right: 0;
            }
            a {
              border-bottom: 1px solid #dadada;
              padding-bottom: 1em;
              display: block;
              @media (max-width: $screen-md-min) {
                padding-left: 10px;
                padding-right: 10px;
              }
              .icon-arrow-left-bold {
                margin-right: 0.5em;
                @media (max-width: $screen-md-min) {
                  margin-right: 1.5em;
                }
              }
            }
          }
          .map-container {
            padding-left: 0;
            padding-right: 0;
            @media (max-width: $screen-md-min) {
              padding-left: 10px;
              padding-right: 10px;
            }
            #fl-sl-map-container {
              width: 100%;
              height: 350px;
              @media (max-width: $screen-md-min) {
                height: 290px;
              }
            }
          }


          .store-result {
            padding-left: 0;
            @media (max-width: $screen-md-min) {
              padding-left: 10px;
              padding-right: 10px;
              padding-bottom: 8em;
            }
            .count-result {
              color: #1e1e1e;
              font-family: $Poppins;
              @include font-size(16px);
              font-weight: 600;
              padding: 0.8em 0;
            }

            table.no-style {
              width: 100%;
              tr {
                border-bottom: 1px solid #dadada;
                td {
                  padding: 0.7em 0;
                  color: #1e1e1e;
                  font-family: $Raleway;
                  @include font-size(13px);
                  font-weight: 500;
                }
                .distance {
                  color: #1e1e1e;
                }

                strong {
                  color: #1e1e1e;
                  font-family: $Poppins;
                  @include font-size(16px);
                  font-weight: 600;
                  min-width: 100px;
                  display: inline-block;

                }
                .bold {
                  font-weight: 700;
                }

                .no-style {

                  .icon-arrow-right-bold {

                  }
                }

              }

            }
          }
          .store-details {
            padding-left: 0;
            @media (max-width: $screen-md-min) {
              padding-left: 15px;
            }
            .store-name {
              font-family: $Poppins;
              font-size: 1rem;
              font-weight: 600;
              margin: 0.75em 0;
              padding-left: 0;
            }

            .store-adresss {
              font-family: $Raleway;
              font-size: 0.813em;
              font-weight: 500;
              padding-left: 0;
            }

            .store-phone {
              font-family: $Raleway;
              font-size: 0.813em;
              font-weight: 500;
              padding-left: 0;
              text-align: right;
            }

            .store-open-times {
              font-family: $Poppins;
              font-size: 0.813em;
              font-weight: 500;
              padding: 0;
              clear: both;
              display: table;
              width: 100%;
              margin-bottom: 1em;
              strong, .today {
                font-weight: 700;
              }
              td{
                padding: 0.2em 1em 0.2em 0;
              }
              .open-times-title{
                display: block;
                clear: left;
                padding-bottom: 0.5em;
              }
              .time-table{
                padding-left: 0;
                &:first-child{
                  border-right: 1px solid #dadada ;
                }
              }

            }
            .red {
              font-size: 0.813em;
              clear: left;
              display: block;
            }

            .underline {
              font-size: 1em;
              font-weight: 500;
              margin-top: 1.5em;
              display: table;
              padding-bottom: 0.5em;
            }
          }
        }
      }
    }
  }

  &#storelocator-checkout {

    .modal-dialog {
      width: 100%;
      max-width: 910px;
      @media (min-width: $screen-xl-min) {
        max-width: 910px;
        margin: 8% auto;
      }
      @media (max-width: $screen-md-min) {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 1em 5px 0;
      }
      .modal-content {

        .modal-header {
          padding: 0.5em 0;
          display: table;
          width: 100%;
          .close {
            right: 1em;
            position: absolute;
            z-index: 2;
            top: 1rem;
            @media (max-width: $screen-md-min) {
              top: .4rem;
            }
          }
          .head-label {
            @media (max-width: $screen-md-min) {
              padding-bottom: 1em;
              border-bottom: 1px solid #bababa;
            }
          }

          .head-input {
            @media (max-width: $screen-md-min) {
              margin: 1em auto;
              display: table;
            }
            .btn-fly {
              padding: 0.2em 1em 0.5em;
              margin-right: 0.5em;
              font-size: 1em;
              @media (max-width: $screen-md-min) {
                padding: 0.2em 0.5em 0.5em;
                min-width: 133px;
              }
              .icon-location {
                position: relative;
                bottom: -4px;
                font-size: 1.5em;
              }
            }

            #custom-search-input {

              .input-group {

                .form-control {
                  max-width: 142px;
                  border-radius: 0;
                  color: #1e1e1e;
                  font-family: $Raleway;
                  font-size: 1rem;
                  font-weight: 500;
                  @media (max-width: $screen-md-min) {
                    font-size: 14px;
                    max-width: inherit;
                    height: auto;
                    padding: 0.4em 0.2em;
                  }
                }

                .input-group-btn {
                  background-color: #1e1e1e;
                  border-radius: 0px 4px 4px 0px;
                  .btn {
                    border: transparent;
                    background: transparent;
                    transition: all 0.15s ease-in-out;
                    @media (max-width: $screen-md-min) {
                      padding: 0.4em 0.5em;
                    }

                    .icon-search {
                      color: #fff;
                    }
                    &:hover {
                      .icon-search {
                        color: $red-fly;
                      }
                    }
                  }
                }
              }
            }
          }

          strong {
            margin-right: 0.5em;
            font-family: $Poppins;
            &.sp-top {
              padding: 0.75em 0 0;
              display: block;
            }
          }
        }

        .modal-body {
          max-height: calc(100vh - 150px);
          overflow-y: auto;
          .back-to-result {
            padding-left: 0;
            @media (max-width: $screen-md-min) {
              margin-bottom: 1em;
              padding-right: 0;
            }
            a {
              border-bottom: 1px solid #dadada;
              padding-bottom: 1em;
              display: block;
              @media (max-width: $screen-md-min) {
                padding-left: 10px;
                padding-right: 10px;
              }
              .icon-arrow-left-bold {
                margin-right: 0.5em;
                @media (max-width: $screen-md-min) {
                  margin-right: 1.5em;
                }
              }
            }
          }
          .map-container {
            padding-left: 0;
            padding-right: 0;
            @media (max-width: $screen-md-min) {
              padding-left: 10px;
              padding-right: 10px;
            }
            #fl-sl-map-container-checkout {
              width: 100%;
              height: 350px;
              @media (max-width: $screen-md-min) {
                height: 290px;
              }
            }
          }

          @media (min-width: $screen-md-min) {
            .nano {
              background: #fff;
              width: 100%;
              height: 300px;
              > {
                .nano-content {
                  padding: 10px;
                }
                .nano-pane {
                  background: #888;
                  > .nano-slider {
                    background: #111;
                  }
                }
              }
            }
          }

          .store-result {
            padding-left: 0;
            @media (max-width: $screen-md-min) {
              padding-left: 10px;
              padding-right: 10px;
              padding-bottom: 8em;
            }
            .count-result {
              color: #1e1e1e;
              font-family: $Poppins;
              @include font-size(16px);
              font-weight: 600;
              padding: 0.8em 0;
            }

            table.no-style {
              width: 100%;
              tr {
                border-bottom: 1px solid #dadada;
                td {
                  padding: 0.7em 0;
                  color: #1e1e1e;
                  font-family: $Raleway;
                  @include font-size(13px);
                  font-weight: 500;
                }
                .distance {
                  color: #1e1e1e;
                }

                strong {
                  color: #1e1e1e;
                  font-family: $Poppins;
                  @include font-size(16px);
                  font-weight: 600;
                  min-width: 100px;
                  display: inline-block;

                }
                .bold {
                  font-weight: 700;
                }

                .no-style {

                  .icon-arrow-right-bold {

                  }
                }

              }

            }
          }
        }
      }
    }
  }

  &#added-to-cart {

    .modal-dialog {
      width: 100%;
      max-width: 910px;
      @media (min-width: $screen-xl-min) {
        max-width: 910px;
        margin: 8% auto;
      }
      @media (max-width: $screen-md-min) {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 1em 1em 0;
      }
      .modal-content {

        .modal-header {

          .close {

          }

          .modal-title {

          }
        }

        .modal-body {

          .item-thumb {
            padding-left: 0;
            @media (max-width: $screen-md-min) {
              padding-right:0;
            }
            img{
              height: inherit;
              margin: 0 auto;
              display: block;
            }
          }

          .cart-details {
            padding-right: 0;
            padding-top: 2em;
            @media (max-width: $screen-md-min) {
              padding-left:0;
            }
            table.no-style {
              width: 100%;
              margin-bottom: 1em;
              td{
                font-size: 1rem;
                font-weight: 400;
                &.label{
                  width: 50%;
                  strong{
                    font-size: 1.25rem;
                    font-weight: 600;
                  }
                  p{
                    font-weight: 400;
                  }
                }
                &.qty{
                  vertical-align: top;
                  text-align: center;
                  width: 20%;
                }
                &.price{
                  width: 30%;
                  text-align: right;
                  font-weight: 400;
                  vertical-align: top;
                }
                .regular-price {
                  font-size: 0.938rem;
                  text-decoration: line-through;
                }
                .sale-price {
                  font-size: 1rem;
                }
              }
            }

            .shipping-notice {

              strong{
                font-family: $Poppins;
                font-size: 1rem;
                font-weight: 600;
              }
            }

            .block {

              .block-content {
                margin: 2em -15px 0;
                #continue-shop {


                }

                .btn {
                  width: 100%;
                  font-family: $Raleway;
                  font-size: 1rem;
                  font-weight: 500;
                  @media (max-width: $screen-md-min) and (orientation : portrait) {
                    width: auto;
                  }
                  &.btn-inverse{
                    background-color: #eb212e;
                    border-color: #eb212e;
                    color: white;
                    &:hover{
                      background-color: #93161f;
                      border-color: #93161f;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &#share-by-email {

    .modal-dialog {
      width: 100%;
      max-width: 910px;
      @media (min-width: $screen-xl-min) {
        max-width: 910px;
        margin: 8% auto;
      }
      @media (max-width: $screen-md-min) {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 1em 1em 0;
      }
      .modal-content {

        .modal-body {

          .email-form {
             margin-bottom: 1em;
            .item-thumb {
              margin-bottom: 1.5em;
              .label {
                color: #1e1e1e;
                font-family: $Poppins;
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: 0.5em;
              }

              img {
                margin-bottom: 0.5em;
                height: auto;
              }

              table.no-style {
                width: 100%;
                margin-bottom: 1em;
                td{
                  font-size: 1rem;
                  font-weight: 400;
                  vertical-align: top;
                  &.label{
                    width: 50%;
                    strong{
                      font-size: 1.25rem;
                      font-weight: 600;
                    }
                    p{
                      font-weight: 400;
                    }
                  }
                  &.qty{
                    text-align: center;
                    width: 20%;
                  }
                  &.price{
                    width: 30%;
                    text-align: right;
                    font-weight: 400;
                  }
                  .regular-price {
                    font-size: 0.938rem;
                    text-decoration: line-through;
                  }
                  .sale-price {
                    font-family: $Poppins;
                    font-weight: 500;
                    font-size: 1.25rem;
                  }
                }
              }

              .shipping-notice {

                .underline {
                  font-family: $Raleway;
                  font-size: 1rem;
                  font-weight: 500;
                }
              }
            }

            .contact-form {
              border-left: 1px solid #dadada;
              margin-bottom: 1.5em;
              form {

                .form-group {

                  label {
                    color: #1e1e1e;
                    font-family: $Raleway;
                    font-size: 1rem;
                    font-weight: 500;
                  }

                  #from {

                  }
                  .input-lg{
                    font-size: 0.8rem;
                  }
                }

                .btn {
                  font-size: 1em !important;
                }
              }
            }
          }

          .email-msg {
            margin-bottom: 5rem;
            width: 100%;
            text-align: center;
            clear: both;
            h3 {
              font-family: $Poppins;
              font-size: 1.875rem;
              font-weight: 600;
              padding: 1.5em 0;
            }

            p {
              padding: 0 30% 2rem;
              font-family: $Raleway;
              strong {
                font-weight: 700;
              }
            }

            .back-to-product {

              .underline {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }

  &#user-connexion {
    text-align: center;
    padding: 0!important;
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -4px;
    }
    .modal-dialog {
      width: 100%;
      max-width: 910px;
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      @media (min-width: $screen-xl-min) {
        max-width: 910px;
        margin: 8% auto;
      }
      @media (max-width: $screen-md-min) {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 1em 1em 0;
      }
      .modal-content {

        .modal-header {
          padding: 20px;
          .close {

          }

          .modal-title {
            color: #1e1e1e;
            font-family: $Poppins;
            font-size: 1.25rem;
            font-weight: 600;
            a.back{
              float: left;
              i.icon-arrow-left-bold{
                position: relative;
                left: -0.8em;
                bottom: -0.22em;
              }
              span{
                color: #1e1e1e;
                font-family: "Raleway", sans-serif;
                font-size: 1rem;
                font-weight: 500;
                display: inline-block;
                position: relative;
                top: 0;
              }
            }
          }
        }

        .modal-body {

          .connection-wrapper {
            display: table;
            h3,form,p{
              margin-bottom: 0.8rem;
            }
            h3{
              color: #1e1e1e;
              font-family: $Poppins;
              font-size: 1.25rem;
              font-weight: 600;
            }
            p{
              color: #1e1e1e;
              font-family: $Raleway;
              font-size: 0.8rem;
              font-weight: 500;
            }
            i.icon-arrow-right-bold{
              position: relative;
              bottom: -0.10em;
            }
            .connection-form {
              label{
                color: #1e1e1e;
                font-family: $Raleway;
                font-size: 1rem;
                font-weight: 500;
              }
              .form-group {
                .form-control{
                  font-size: 0.8rem;
                }
                #lostpassword {
                  font-family: $Raleway;
                  font-size: 0.813rem;
                  font-weight: 500;
                  &:hover{
                    border-bottom: 1px solid #eb212e;
                  }
                }
              }

              .btn {
                &:hover{
                  background-color: #eb212e;
                  color: #fff;
                  border-color: #eb212e;
                }
                .icon-arrow-right-bold {

                }
              }
            }

            .new-connection {
              border-left: 1px solid #dadada;
              @media (max-width: $screen-md-min) {
                border-left: none;
              }
              .btn {

                .icon-arrow-right-bold {

                }
              }
            }
          }
          .lostpass-wrapper{
            text-align: center;
            margin: 3em auto;
            display: table;
            width: 100%;
            .recovery-form{
              p{
                color: #1e1e1e;
                font-family: $Raleway;
                font-size: 1rem;
                font-weight: 500;
                margin-bottom: 1rem;
              }
              .form-group{
                margin: 1.5rem auto;
                max-width: 350px;
                label{
                  float: left;
                  color: #1e1e1e;
                  font-family: $Raleway;
                  font-size: 1rem;
                  font-weight: 500;
                }
                .form-control{
                  font-size: 0.8rem;
                }
                button{
                  color: white;
                  font-family: $Raleway;
                  font-size: 1rem;
                  font-weight: 500;
                  &:hover{
                    background-color: #eb212e;
                    border-color:  #eb212e;
                  }
                }
              }
              .success-msg{
                color: #3fb34f;
                font-family: $Raleway;
                font-size: 1rem;
                font-weight: 500;
              }
            }

          }
        }
      }
    }
  }
}

#popup-vide{
  .logo{
    max-width: 48px;
    position: absolute;
    top: 8px;
  }
  .btn-fly{
    padding: 16px 40px;
    float: right;
  }
}