 .my-feebacks {
   h1{
     font-family: $Poppins;
     font-weight: 600;
     margin-bottom: 20px;
   }
   h2{
     margin-top: 40px;
     margin-bottom: 20px;
   }
        .msg, .block-title > a{
          font-family: $Raleway;
            font-size : 32px * $resize-psd;
            font-weight: bold;
        }
        .block-title{
      border: 1px solid #dadada;
          border-left: 0 none;
          border-right: 0 none;
      padding: 1rem 0;
        }
   .block-content{
     p{
       font-weight: 500;
       padding: 1rem 0;
     }
   }
        .icon-arrow-down-bold{
      background-color:  rgba(0, 0, 255, 0);
      font-size: 12px;
      margin-right: 12px;
    }

    .icon-arrow-down-bold-rotate{
      -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
      transform: rotate(180deg);
      margin-top: -10px;
    }
    }