  .my-purchases {
        .first-bloc{
            border-top: $color-gray-light solid 1px;
            padding: 0;
          line-height: 40px;
          @media (max-width: $screen-md-min) {
            padding: 2% 0;
            line-height: 22px;
          }
            .mrg-t-14{
                margin-top: 14px;
            }
            .btn-md{
                font-size: 1em;
                text-align: center;
                margin: 1%;
                display: block;
              width : 188px;
                @media (max-width: $screen-md-min) {
                    margin: 0 1% 1%;
                  width : 100%;
                }
            }
        }
    .bloc-f-border{
      border-top: $color-gray-light solid 1px;
      border-bottom: $color-gray-light solid 1px;
    }
    .last, .second{
      border-top: 0 none !important;
      border-bottom: $color-gray-light solid 1px;
    }
        .btn{
            float: right;
            @media (max-width: $screen-md-min) {
                float: initial;
            }
        }
        .second{
            border-top: $color-gray-dark solid 1px;
        }
        .bloc{
            border-bottom: $color-gray-dark solid 1px;
            padding: 10px 0;
        }
        .date, .ref{
            font-weight: 100;
            font-family: $Raleway;
        }
        .statut-pending{
            @include status(green);
        }
        .statut-cancel{
            @include status($color-black);
        }
    @media (max-width: $screen-md-min) {
      h1{
        font-size: 24px;
        line-height: 30px;
      }
    }
    }