 .my-informations{
        .form{
            font-family: $Raleway;
            padding: 20px 0;
            .field{
                padding: 8px 0;
                input {
                    font-size: 32px * $resize-psd;
                }
                .radio, .checkbox {
                    display: inline-block;
                    line-height: 12px;
                }
                .radio input[type="radio"], .radio input[type="checkbox"]{
                    position: relative;
                }
                label {
                    font-weight: 500;
                    padding: 0 0 2px 0;
                    margin: 0;
                    line-height: 1.4;
                    vertical-align: bottom;
                }
            }
            @media (max-width: $screen-md-min) {
                .field {
                    padding: 4px 0;
                    input {
                        font-size: 12px;
                    }
                }
            }
            .form-group{
                padding: 0;
            }
            .field-password, .field-password2 {
                .showpass {
                    cursor: pointer;
                    font-size: 12px;
                    float: right;
                    line-height: 18px;
                    position: absolute;
                    right: 27px;
                    top: 38px;
                }
                @media (max-width: $screen-md-min) {
                    .showpass {
                        font-size: 10px;
                        line-height: 12px;
                        top: 34px;
                    }
                }
            }
            .field-civility{
                label{
                    margin: 0;
                    display: inline-block;
                    vertical-align: middle;
                    span{
                        width: 126px;
                        display: inline-block;
                    }
                }
                .control{
                    @extend label;
                    .radio{
                        width: 112px;
                    }
                }
            }
            .form-control{
                line-height: 12px;
                height: 38px;
                box-shadow: none;
                @media (max-width: $screen-md-min) {
                    height: 34px;
                    margin-top: 3px;
                    margin-bottom: 3px;
                }
            }
                .cancel{
                border-bottom: $color-black 1px solid;
                @media (max-width: $screen-md-min) {
                    display: inline-block;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
            .field-newsletter {
                padding: 10px;
            }
            .access{
                margin-top: 26px;
            }
            .checkbox{
                padding-left: 12px;
            }
        }
        .newsletter {
            input, .label{
                float: left; 
            }
        }

    }
 @media (max-width: $screen-md-min) {
     .my-informations{
         margin-top: 14px;
         h1 {
             font-size: 24px;
             line-height: 30px;
         }
     }
 }