    .my-favories{
        .page-heading, p{
            text-align: center;
        }
        .item-content, .item-title{
            line-height: 28px;
        }
      .add-to-basket {

        .btn-group {
          width: 100%;
          .dropdown {
            min-width: inherit;
            width: auto;
            background-color: #fff;
            display: table;
            float: left;
            border: 2px solid #1e1e1e;
            border-radius: 0;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            margin-bottom: 0.5em;
            @media (max-width: $screen-md-min) {

            }
            #add-to-basket-id {
              min-width: inherit;
              .btn-select-value {
                color: #1e1e1e;
                font-size: 1rem;
                font-weight: 600;
              }

              .btn-select-arrow {
                &:before {
                  @include font-icon();
                  content: $icon-arrow-right-bold;
                  color: #b3b3b3;
                  position: absolute;
                  margin-left: -1.8em;
                  @include font-size(10px);
                  font-weight: 900;
                  line-height: 4.4em;
                  -webkit-transform: rotate(90deg);
                  -moz-transform: rotate(90deg);
                  -o-transform: rotate(90deg);
                  -ms-transform: rotate(90deg);
                  transform: rotate(90deg);
                }
              }
            }

            .dropdown-menu {
              min-width: inherit;
              .option {
                color: #1e1e1e;
                font-size: 1rem;
                font-weight: 600;
                padding: 3px 1em;
                &:hover {
                  color: #fff;
                }
              }
            }
          }

          .btn {
            width: 100%;
            background-color: $red-fly;
            color: #fff;
            font-family: $Poppins;
            font-size: 1rem;
            padding: 1rem 1.5em;
            transition: background-color 0.25s ease-in-out;
            @media (max-width: $screen-md-min) {
              border-radius: 0;
              float: none;
              display: block;
            }
            &:hover {
              background-color: #93161f;

            }
          }
        }
      }
    }