#newsletter{
    .modal-dialog{
        width: 60%;
    }
    h5{
        font-size: 18px;
        text-align: center;
    }
    p{
         font-family: $Raleway;
         font-size: 32px * $resize-psd;
        text-align: center;
     }
    p.desc{
        font-size: 26px * $resize-psd;
        text-align: left;
    }
    .btn-fly{
        padding: 16px 50px;
    }
        .form{
            .input{
                display: inline-block;
            }
            .btn-select{
                min-width: 32%;
                .btn-select-value{
                    color: #666;

                }
            }
            .dropdown-menu{
                min-width: inherit;
            }
        .btn-select-value{
            line-height: 5px;
            height: 38px;
        }
        .btn-select-arrow {
            &:before {
                @include font-icon();
                content: $icon-arrow-right-bold;
                color: #1e1e1e;
                position: absolute;
                margin-left: -1.8em;
                font-size: 0.625rem;
                font-weight: 900;
                line-height: 4.4em;
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }
    }
    .modal-content{
    }
    @media (max-width: $screen-md-min) {
        .modal-content{
            padding: 0 10px;
        }
        .form{
            .form-control, .btn-select-value{
                height: 34px;
            }
        }
    }
    @media (max-width: $screen-xs-min) {
        .modal-dialog{
            width: 94%;
        }
        .modal-body{
            width: 100%;
        }
        .form{
            .btn-select{
                margin-top: 10px;
            }
        }
    }
}
#newsletter2{
   @extend #newsletter;
    text-align: center;
    i{
        font-size: 32px;
    }
    h5{
        font-family: $Poppins;
        font-size: 16px;
    }
    p{
        margin-bottom: 20px;
    }
    .underline {
        display: inline-block;
        margin-top: 40px;
    }
    i.icon-succes{
        margin: 20px;
        background-image: url("../img/recrutement/validate.png");
        background-size: 33px auto;
        background-repeat: no-repeat;
        padding-left: 40px;
    }
}