.normes{
  h1{
    text-align: center;;
  }
  h3{
    margin-bottom: 10px;
  }
  h4, h3{
    font-weight: 600;
  }
  .underline{
    font-weight: 600;
  }
  .icon-eco-mobilier{
    display: inline-block;
  }
    h2{
      font-family: $Raleway;
      font-weight: 500;
      text-transform: uppercase ;
      font-size: 66px * $resize-psd;
      vertical-align: bottom;
      display: inline-block;
      color: #78694a;
      line-height: 30px;
      span{
        font-weight: 700;
        color: #81b934;
      }
    }
  h2.eco{
    margin : 4px 0 6px;
    }
  p{
    font-family: $Raleway;
    font-weight: 500;
    font-size: 32px * $resize-psd;
    margin: 10px 0;
    text-align: justify;
    span{
      font-weight: 600;
      font-size: 36px * $resize-psd;
    }
  }
  p.sign{
    height: 80px;
    background: url("../img/normes/sign.jpg") no-repeat;
    padding-left: 100px;
    padding-top: 30px;
  }
  .fsc{
    padding: 20px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: $color-gray-light;
    h3{
      padding: 20px 0;
    }
    h2{
      margin: 0;
      span{
        color: $red-fly;
      }
    }
    p{
      color: $gray-light;
      margin-top: 0;
    }
  }
  .nf{
   @extend .fsc;
    h2{
      span{
        color: #104d7a;
      }
    }
  }
  .qualite{
    h4{
      font-weight: 600;
    }
    .blocs{
      padding: 20px;

    }

    .guarantee{
      border: 1px solid;
      border-bottom: 0 none;
      border-color: $color-gray-light;
      padding: 20px;
      background: url("../img/normes/ico-guarantee.jpg");
      background-position: top right;
      background-repeat: no-repeat;
    }
    .certif{
      @extend .guarantee;
      background: url("../img/normes/ico-certif.jpg");
      background-position: 99% 0;
      background-repeat: no-repeat;
    }
    .domest{
      border: 1px solid;
      border-top: 0 none;
      border-color: $color-gray-light;
      padding: 20px;
      background: url("../img/normes/ico-domest.jpg");
      background-position: 97% 0;
      background-repeat: no-repeat;
    }
    .verif{
      @extend .domest;
      background: url("../img/normes/ico-verif.jpg");
      background-position: 99% 0;
      background-repeat: no-repeat;
    }
  }
  h6{
    color: $red-fly;
  }
  @media (max-width: $screen-md-min) {
    .icon-eco-mobilier{
      max-width: 172px;
      vertical-align: top;
      margin-top: 12x;
    }
    h1 {
      font-size: 24px;
      line-height: 30px;
    }
    h2{
      text-align: left;
      font-size: 16px;
      line-height: 24px;
    }
    h2.eco{
      font-size: 12px;
    }
    h3{
      margin-bottom: 16px;
    }
    h4, h3{
      font-size: 16px;
    }
    p.sign{
      padding-top: 0px;
    }
      .mobile {
      display: inline-block;
      padding-top: 22px;
       margin-top: 24px;
      border-top: 1px solid #eee;;
    }
    .nf{
      margin-top: 24px;
      h3{
        padding: 10px 0;
      }
    }
  }
  @media (max-width: $screen-xs-min) {
    h4{
      max-width: 232px;
      br{
        display: none;
      }
    }
    .icon-eco-mobilier{
      max-width: 140px;
    }
    h2.eco{
      font-size: 12px;
    }
    .nf{
    margin-top: 0;
    border-top: 0 none;
    }
    .qualite{
      .guarantee{
        background-position: top 8%;
      }
      .certif{
        background-position: 99% 8%;
      }
      .domest{
        background-position: 97% 8%;
      }
      .verif{
        background-position: 99% 8%;
      }
    }
  }
}