#header {
    .header-wrapper {
        .logo {
            .text {
                font-family: $Raleway;
                text-transform: uppercase;
                font-weight: 500;
                display: inline-block;
                padding-left: 20px;
                vertical-align: middle;
                span {
                    display: block;
                    font-size: 60px * $resize-psd;
                    font-weight: 600;
                }
            }
            @media (max-width: $screen-md-min) {
                height: auto;
            }
            @media (max-width: $screen-xs-min) {
                .text {
                    margin-top: 18px;
                }
            }

        }
    }
}
h1 {
    margin: 30px 0;
    font-size: 120px * $resize-psd;
}
.page-maintenance {
        .social {
            margin: 0 auto 34px;
            width: 200px;
            ul.links {
                padding: 0;
                li {
                    background-color: #fff;
                    display: inline-block;
                    line-height: 0.8em;
                    padding-bottom: 10px;
                    text-align: center;
                    vertical-align: middle;
                }
            }
        }
        h4 {
            font-family: $Raleway;
            font-size: 32px * $resize-psd;
        }
        h3 {
            font-family: $Poppins;
            font-size: 60px * $resize-psd;
            font-weight: 600;
            margin: 10px
        }

        text-align: center;
        .section-catalogue-caption {
            position: absolute;
            left: 0;
            right: 0;
            top: 4%;
            margin: 0 auto;
            max-width: 460px;
            img {
                width: 100%;
            }
        }
        .col-md-6 {
            padding: 0;
        }
        .section-catalogue-visual {
            padding: 0;
        }
        .btns {
            bottom: 6%;
            left: 0;
            position: absolute;
            right: 0;
            a {
                margin: 4px;
            }
            .btn-fly {
                font-family: $Raleway;
                font-weight: 500;
                font-size: 32px * $resize-psd;
            }
        }
        @media (max-width: $screen-md-min) {
            h1 {
                font-size: 36px;
            }
            h4 {
                font-size: 18px;
            }
            .section-catalogue-caption {
            }
            .btns {
                a {
                    font-size: 12px;
                }
                .btn-read, .btn-more {
                    width: 35%
                }
                .btn-download {
                    width: 71.4%;
                }
            }
        }
        @media (max-width: $screen-xs-min) {
            h1 {
                font-size: 30px;
            }
            h4 {
                font-size: 12px;
            }
            .btns {
                .btn-read, .btn-more {
                    width: 36%
                }
                .btn-download {
                    width: 75%;
                }
            }
        }

    .footer{
        background-color: transparent;
        text-align: center;
        h1{
            color: $color-black;
        }
        .footer-wrapper{
            background: none;
            padding-top: 0;
            .footer-top{
                padding-top: 0;
                .social{
                    margin-top: 20px;
                    margin-left: 0;
                    width: 100%;
                    ul.links{
                        li{
                            height: 3.5em;
                            line-height: 56px;
                            margin-left: 8px;
                            width: 3.5em;
                            a{
                                i{
                                    font-size: 20px;
                                }
                            }
                            @media (max-width: $screen-xs-min) {
                                .text {
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    }