.page-404 {
    height: 600px;
    @extend .contact-succes;
background: url("../img/bg-404.png");
    .middle-column{
        height: 380px;
        width: 380px;
        margin: 100px auto 0;
        background-color: #f0f0f0;
        border-radius: 50%;
        padding-top: 80px;
        position: absolute;
        left: 0;
        right: 0;
        h5{
            line-height: 20px;
        }
        a{
            display: inline-block;
            margin-top: 40px;
        }
    }
}