.secure-payment{
  .title{
    margin-bottom: 60px;
    h1{
      text-align: center;
      font-size: 120px * $resize-psd;
    }
  }
    .payment{
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
    h3{
      font-family: $Poppins;
      font-weight: 600;
      font-size: 60px * $resize-psd;
      margin: 10px 0;
    }
    p{
      font-family: $Raleway;
      font-weight: 500;
      font-size: 32px * $resize-psd;
      margin: 10px 0;
      text-align: justify;
    }
    &.last{
      border: 0 none;
    }
  }
  @media (max-width: $screen-md-min) {
    .payment{
      h3{
        font-size: 22px;
      }
    }
    .title{
      margin-bottom: 0;
      h1 {
        margin: 10px 0;
        font-size: 24px;
        line-height: 30px;
      }
    }
  }
}