.product-container {

  .product-view {
    background-color: #f5f5f5;

    .product-img-box {
      position: relative;
      padding: 0 0.5em 0 3em;
      @media (max-width: $screen-md-min) {
        padding: 0 1em;
      }
      .badges {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        @media (max-width: $screen-md-min) {
          width: 50px;
        }

        ul {
          list-style: none;
          padding-left: 1em;
          li {
            text-align: center;
            margin-bottom: 0.5em;
            @media (max-width: $screen-md-min) {
              img {
                max-width: 100%;
                height: inherit;
                &.flag {
                  max-width: 60%;
                }
              }
            }
          }
        }
      }
      .add-wishlist{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        @media (max-width: $screen-md-min) {
          right: 1em;
        }
        .link-wishlist {
          font-size: 2em;
          &.active, &:hover {
            .icon-heart-empty {
              color: $red-fly;
              &:before {
                content: $icon-heart;

              }
            }
          }
        }
      }
      .carousel {
        position: relative;
        width: 100%;
        margin: 0 auto;
        float: right;
        padding: 0 2rem;
        .carousel-outer {
          .carousel-inner {
            width: 100%;
            margin: 0 auto;
            padding: 0;
            .item {
              text-align: center;
               img{
                 display: inline-block;
                 max-height: 490px;
               }
            }
          }
          .carousel-control {
            background: none;
            -ms-filter: none;
            filter: none;
            position: absolute;
            top: 50%;
            left: auto;
            bottom: auto;
            width: 5%;
            margin-top: -1em;
            i {
              font-size: 2em;
              color: #dbdbdb;
              position: absolute;
              top: 25%;
            }
            &.right {
              right: 0.5rem;
              height: 25%;
              width: 25%;
              i{
                right: 0;
              }
              @media (max-width: $screen-md-min) {
                right: -0.4em;
              }

            }
            &.left {
              left: 0.5rem;
              height: 25%;
              width: 25%;
              i{
                left: 0;
              }
              @media (max-width: $screen-md-min) {
                left: -0.6rem;
              }
            }
          }
        }
      }
      .carousel-indicators {
        width: 100%;
        padding: 0 2rem;
        bottom: -20px;
        left: inherit;
        margin-left: 0;
        text-align: center;
        right: 0;
        @media (max-width: $screen-md-min) {
          position: inherit;
          display: table;
          bottom: 0;
        }
        li {
          display: inline-block;
          position: relative;
          width: 10px;
          height: 10px;
          background-color: #cccccc;
          margin-right: 0.3em;
          &.active {
            background-color: #1e1e1e;
          }
          @media (min-width: $screen-md-min) {
            width: 70px;
            height: 70px;
            margin: 1px;
            text-indent: inherit;
            border: none;
            border-radius: 0;
            cursor: pointer;
            background-color: #000 \9;
            background-color: transparent;
            &.active {
              width: 70px;
              height: 70px;
              background-color: transparent;
              &:after {
                background-color: #dadada;
                @media (max-width: $screen-md-min) {
                  background-color: inherit;
                }
              }
            }
          }
          &:after {
            content: "";
            background-color: transparent;
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
          }
          @media (max-width: $screen-md-min) {
            img {
              display: none;
            }
          }

        }
      }

    }

    .product-shop {
      @media (max-width: $screen-md-min) {
        &:before {
          content: "";
          display: block;
          position: absolute;
          background: #fff;
          height: 100%;
          width: 10000%;
          left: -100%;
          z-index: 0;
        }
      }
      .product-name {
        color: #1e1e1e;
        font-family: $Poppins;
        @media (max-width: $screen-md-min) {
          position: relative;
          z-index: 1;
          padding-top: 1.5em;
        }
        h1 {
          @include font-size(60px);
          line-height: 1em;
          font-weight: 600;
          .small {
            @include font-size(30px);
            line-height: 1em;
            color: #1e1e1e;
            font-weight: 400;

          }

          @media (min-width: $screen-md-min) {

            .small {
              display: block;
            }
          }
          @media (max-width: $screen-md-min) {
            @include font-size(45px);
            .small {
              @include font-size(21px);
              display: inline-block;
            }
          }
        }

        .availability {
          color: #3fb34f;
          font-size: 1rem;
          font-weight: 600;
          @media (max-width: $screen-md-min) {
            @include font-size(14px);
          }
        }

        .price-box {
          @media (max-width: $screen-md-min) {
            margin-bottom: 1em;
          }
          .solde {
            display: inline-table;
            top: -0.5em;
            position: relative;
            margin-right: 0.5em;
            .price-off {
              color: #fff;
              display: inline-block;
              width: 30px;
              height: 30px;
              background-color: $red-fly;
              border-radius: 100%;
              line-height: 32px;
              @include font-size(10px);
              text-align: center;
              position: relative;
            }
          }

          .sale-price {
            display: inline-block;
            margin-right: 0.5em;
            .price {
              @include font-size(30px);
              font-weight: 600;
              @media (max-width: $screen-md-min) {
                @include font-size(26px);
              }
            }
          }

          .regular-price {
            display: inline-block;
            margin-right: 1em;
            .price {
              @include font-size(15px);
              font-weight: 400;
              text-decoration: line-through;
              @media (max-width: $screen-md-min) {
                @include font-size(13px);
              }
            }
          }

          .notice {
            display: inline-block;
            @include font-size(13px);
            font-weight: 500;
            font-family: $Raleway;
          }
        }

        .payment-box {
          margin-bottom: 1em;
          strong{
            margin-right: 0.5em;
          }
          #payment-period {
            margin-right: 0.8em;
            margin-left: 0.4em;
            .btn-select {
              min-width: inherit;
              background-color: #fff;
              margin-bottom: 0;
              @media (max-width: $screen-md-min) {
                min-width: 120px;
              }
              #payment-period-id {

                .btn-select-value {
                  color: #1e1e1e;
                  font-size: 1rem;
                  font-weight: 600;
                  padding: 0.8em 1.5rem 0.8em 1rem;
                }

                .btn-select-arrow {
                  top: -0.35rem;
                  position: absolute;
                  right: 0.5rem;
                  &:before {
                    @include font-icon();
                    content: $icon-arrow-right-bold;
                    color: #1e1e1e;
                    position: absolute;
                    margin-left: -1.8em;
                    font-size: 0.625rem;
                    line-height: 5.2em;
                    -webkit-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    transform: rotate(90deg);
                  }
                }
              }

              .dropdown-menu {
                min-width: inherit;
                .option {
                  color: #1e1e1e;
                  font-size: 1rem;
                  font-weight: 600;
                  padding: 3px 1em;
                  &:hover {
                    color: #fff;
                  }
                }
              }
            }
          }

          .underline {
            color: #1e1e1e;
            font-family: $Raleway;
            font-size: 0.8125rem;
            font-weight: 500;
            display: table;
            margin-top: 0.8rem;
          }
        }

        .product-colors {
          margin-bottom: 1em;
          .total-items {

          }

          .item-carousel {
            max-height: 70px;
            overflow: hidden;
            .slick-slide {
              img {
                border-bottom: 2px solid transparent;
              }
              &.slick-current {
                img {
                  border-bottom-color: #dadada;
                }
              }
            }
            .slick-next:before {
              background-color: transparent;
            }
          }
        }

        .product-infos {
          margin-bottom: 1em;
          p {
            margin-bottom: 0.8em;
          }
          ul {
            li {
              padding: 0;
              @include font-size(13px);
              font-weight: 500;
              list-style: disc;
              color: #1e1e1e;
              font-family: $Raleway;
            }
          }
          button {
            position: relative;
            bottom: -0.5em;
            border: none;
            background: none;
            .icon-info {
              @include font-size(23px);
              display: inherit;
              color: #000000;
            }
          }
        }

        .add-to-basket {

          .btn-group {
            @media (max-width: $screen-md-min) {
              width: 100%;
            }
            .dropdown {
              min-width: inherit;
              width: auto;
              background-color: #fff;
              display: table;
              float: left;
              border: 2px solid #1e1e1e;
              border-radius: 0;
              border-top-left-radius: 3px;
              border-bottom-left-radius: 3px;
              margin-bottom: 0.5em;
              @media (max-width: $screen-md-min) {

              }
              #add-to-basket-id {
                min-width: inherit;
                .btn-select-value {
                  color: #1e1e1e;
                  font-size: 1rem;
                  font-weight: 600;
                }

                .btn-select-arrow {
                  &:before {
                    @include font-icon();
                    content: $icon-arrow-right-bold;
                    color: #b3b3b3;
                    position: absolute;
                    margin-left: -1.8em;
                    @include font-size(10px);
                    font-weight: 900;
                    line-height: 4.4em;
                    -webkit-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    transform: rotate(90deg);
                  }
                }
              }

              .dropdown-menu {
                min-width: inherit;
                .option {
                  color: #1e1e1e;
                  font-size: 1rem;
                  font-weight: 600;
                  padding: 3px 1em;
                  &:hover {
                    color: #fff;
                  }
                }
              }
            }

            .btn {
              background-color: $red-fly;
              color: #fff;
              font-family: $Poppins;
              font-size: 1rem;
              padding: 1rem 1.5em;
              transition: background-color 0.25s ease-in-out;
              @media (max-width: $screen-md-min) {
                width: calc(100% - 62px);
                border-radius: 0;
                float: none;
                display: block;
              }
              &:hover {
                background-color: #93161f;

              }
            }
          }
        }

        .availability-info {
          display: inline-block;
          @include font-size(13px);
          font-weight: 500;
          font-family: $Raleway;
          margin-bottom: 1em;
          margin-top: 0.5rem;
        }

        .social {
          text-align: left;
          padding: 0;
          margin-bottom: 1.5rem;
          .links {
            padding: 0;
            li {
              display: inline-block;
              text-align: left;
              margin-right: 1.5rem;
            }

          }
        }
      }
    }

  }

  .product-descriptive {
    padding-top: 5em;
    @media (max-width: $screen-md-min) {
      padding-top: 1em;
    }
    .product-descriptive-title {
      font-family: $Poppins;
      @include font-size(30px);
      font-weight: 600;
      margin-bottom: 1em;
      @media (max-width: $screen-md-min) {
        margin-bottom: 0.2em;
      }
    }

    ul {
      padding: 0;
      margin-bottom: 3rem;
      li {
        padding: 0.8em 0;
        @media (max-width: $screen-md-min) {
          padding: 0.5em 0;
        }
        strong {
          color: #1e1e1e;
          font-family: $Poppins;
          font-size: 1rem;
          font-weight: 600;
        }
      }
    }

    .icon-triman {

    }

    .icon-fsc {

    }

    .underline {

    }
  }

  .product-design {
    border-left: #dadada 1px solid;
    @media (max-width: $screen-md-min) {
      border-left: none;
      text-align: center;
    }
  }

  .product-technical-details {
    margin-bottom: 3em;
    @media (max-width: $screen-md-min) {
      margin-bottom: 0;
    }
    .product-descriptive-title {
      font-family: $Poppins;
      @include font-size(30px);
      font-weight: 600;
      margin-bottom: 1em;

    }

    p {
      font-family: $Raleway;
      font-size: 1rem;
      font-weight: 500;
    }
    ul {
      padding: 0;
      li {
        width: 20%;
        float: left;
        padding: 0 1em;
        border-left: 1px solid #dadada;
        font-family: $Poppins;
        font-size: 0.85714rem;

        @media (max-width: $screen-md-min) {
          width: 50%;
          margin-bottom: 2em;
          &:nth-child(2n+1) {
            border-left: none;
            padding-left: 0;
          }
        }

        &:first-child {
          padding-left: 0;
          border-left: none;
        }
        &:last-child {
          padding-right: 0;
          @media (max-width: $screen-md-min) {
            width: 65%;
            clear: both;
          }
        }
        strong {
          color: #1e1e1e;
          font-family: $Poppins;
          font-size: 0.85714rem;
          font-weight: 600;
          display: block;
          margin-bottom: 0.3em;
          @media (max-width: $screen-md-min) {
            @include font-size(14px);
          }
        }
        span {
          display: block;
          font-family: $Poppins;
          line-height: 1.8em;
          @media (max-width: $screen-md-min) {
            @include font-size(12px);
          }
          &.underline {
            display: table;
            font-size: 13px;
            @media (max-width: $screen-md-min) {
              @include font-size(12px);
            }
          }
          i {
            font-size: 1.5em;
            position: relative;
            bottom: -0.15em;
          }
        }
      }
    }
    .btn-fly {
      display: block;
      margin-top: 1em;
      text-align: center;
      padding: 1em 0.5em;
      border-radius: 4px;
      font-family: $Raleway;
      font-weight: 500;
      font-size: 1rem;
      @media (min-width: $screen-md-min) {
        max-width: 170px;
        margin-top: 0.5em;
      }
      @media (max-width: $screen-md-min) {
        @include font-size(14px);
      }
    }
  }

  .related-products {
    padding: 5em 1em 3em;
    border-top: #dadada 1px solid;
    @media (max-width: $screen-md-min) {
      padding: 1em 1em 1em;
    }
    .title {
      color: #1e1e1e;
      font-family: $Poppins;
      @include font-size(30px);
      font-weight: 600;
      text-align: center;
      margin-bottom: 2em;
    }

    .category-products {

      .products-grid {

        .products-row {
          @media (max-width: $screen-md-min) {
            border-bottom: none;
          }

          .item {
            &:before {
              border: 0 none;
            }
          }
        }
      }
    }
  }
}

.zoomWindow {
  border: none !important;
}