#recrutement{
  /*==================
  VARIABLES
  ===================*/
  $font-size-60px: 4.286rem;
  $font-size-50px: 3.571rem;
  $font-size-30px: 2.143rem;
  $font-size-25px: 1.786rem;
  $font-size-21px: 1.5rem;
  $font-size-20px: 1.429rem;
  $font-size-18px: 1.286rem;
  $font-size-16px: 1.143rem;
  $font-size-14px: 1rem;
  $font-size-13px: 0.9286rem;

  $color-black: #1e1e1e;
  /*==================
  GENERAL
  ===================*/
  h1, h2, h3, h4, h5{
    color: $color-black;
    font-family: "Poppins", sans-serif;
    float: left;
    width: 100%;
  }
  h1{
    font-size: $font-size-60px;
    line-height: $font-size-50px;
    font-weight: 700;
    margin-top: 21px;
    letter-spacing: 1px;
    margin-bottom: 22px;
  }
  h2{
    font-size: $font-size-30px;
    font-weight: 600;
    margin-top: 38px;
    margin-bottom: 5px;
  }
  h3{
    font-size: $font-size-20px;
    font-weight: 600;
    margin: 5px 0;
  }
  h4{
    font-family: "Raleway", sans-serif;
    font-size: $font-size-20px;
    font-weight: 700;
    margin: 15px 0;
  }
  h5{
    font-family: "Raleway", sans-serif;
    font-size: $font-size-16px;
    font-weight: 700;
    margin: 0 0 8px 0;
  }
  p{
    font-size: $font-size-14px;
    line-height: $font-size-21px;
    margin: 25px 0;
    float: left;
    width: 100%;
  }
  hr{
    float: left;
    width: 100%;
  }
  .button {
    border-radius: 4px;
    background-clip: padding-box;
    background-color: #1d1d1d;
    border: 1px solid #1d1d1d;
    font-family: "Raleway", sans-serif;
    font-size: $font-size-16px;
    color: #fff;
    font-weight: 400;
    padding: 20px 30px;
    transition: all 200ms;
    margin: 15px 0;
    display: inline-block;
    &:hover {
      color: #1d1d1d;
      background: #fff;
    }
    &.arrow{
      i{
        margin-right: 10px;
        position: relative;
        top: 1px;
      }
    }
  }
  /*==================
  SIDEBAR
  ===================*/
  .sidebar {
    margin-top: 2.5rem;
    .side-nav-categories {
      border: none;
      padding:0;
      .block-title{
        font-size: $font-size-20px;
        font-weight: 500;
        margin-bottom: 23px;
      }
      .category-menu{
        padding: 0;
         li{
           margin-bottom: 15px;
           &.active, &:hover{
             a{
               font-weight: 700;
               margin-left: 25px;
             }
             &:before {
               /* use !important to prevent issues with browser extensions that change fonts */
               font-family: 'icofly' !important;
               speak: none;
               font-style: normal;
               font-weight: normal;
               font-variant: normal;
               text-transform: none;
               line-height: 1;
               /* Better Font Rendering =========== */
               -webkit-font-smoothing: antialiased;
               -moz-osx-font-smoothing: grayscale;
               content: "";
               color: #e00024;
               position: absolute;
               margin-left: -1.8em;
               font-size: 10px;
               font-size: 0.71429rem;
               font-weight: 900;
               line-height: 2em;
               padding-left: 20px;

             }
           }
           a{
              font-size: $font-size-14px;
             transition: all 200ms linear;
           }
         }
      }
    }
  }
  /*==================
  FICHES POSTES
  ===================*/
  .accordion-job{
    float: left;
    margin-bottom: 45px;
    margin-top: 30px;
    width: 100%;
    .container-acc{
      border: 1px solid #cfcfcf;
      margin-left: -1px;
      margin-top: -1px;
      cursor: pointer;
      .title{
        height: 79px;
        line-height:79px;
        position: relative;
        padding-right: 30px;
        &:after{
          content: "";
          background: url('../img/recrutement/arrow-down-black.png') right center no-repeat transparent;
          display: inline-block;
          width: 24px;
          height: 13px;
          position: absolute;
          right:0;
          top: 35px;
          background-size: 100% auto;
          transition: all 200ms;
        }
        span{
          color: $color-black;
          font-family: "Raleway", sans-serif;
          font-size: $font-size-16px;
          line-height: $font-size-21px;
          display: inline-block;
          font-weight: 700;
          vertical-align: middle;
        }
      }
      .content{
        transition: all 200ms;
        left: -1px;
        margin-bottom: 20px;
        max-height: 390px;
        opacity: 0;
        overflow-y: auto;
        padding: 0 20px;
        position: absolute;
        top: 50px;
        visibility: hidden;
        width: calc(100% + 2px);
        z-index: 4;
        font-size: $font-size-16px;
        line-height:$font-size-21px;
        border: 1px solid #cfcfcf;
        border-top: none;
          p{
            margin: 0;
          }
        }
      &:hover{
        background: #f9f9f9;
      }
      &.active{
        background: #f9f9f9;
        .title {
          &:after {
            transform: rotate(180deg);
          }
        }
        .content{
          top: 76px;
          opacity:1;
          visibility: visible;
          background: #f9f9f9;
          cursor: default;
        }
      }
    }
  }
  /*==================
  LISTE OFFRES
  ===================*/
  .btn-select {
    .btn-select-value{
      color: #adadad;
    }
    .btn-select-arrow::before {
      -moz-osx-font-smoothing: grayscale;
      color: #adadad;
      content: "";
      font-family: "icofly" !important;
      font-size: 0.71429rem;
      font-style: normal;
      font-variant: normal;
      font-weight: 900;
      line-height: 5.4em;
      margin-left: -1.8em;
      position: absolute;
      text-transform: none;
      transform: rotate(90deg);
    }
    .dropdown-menu{
      margin-top: 1px;
      padding: 0 !important;
      box-shadow: 0 12px 20px -10px rgba(30, 30, 30, 0.15);

      li{
        padding: 6px;
        &.active{
          background: #000;
          a{
            background-color: transparent;
            &:focus,
            &:active{
              background-color: transparent;
            }
          }
        }
      }
    }
  }
  .block-search {
    border: 1px solid #cfcfcf;
    width: 100%;
    float: left;
    padding: 25px 30px 25px;
    margin-top: 20px;
    margin-bottom: 15px;
    h3{
      margin: -10px 0;
      padding: 10px 0 5px;
      position: relative;
      cursor: pointer;
      &:after{
        content: "";
        background: url('../img/recrutement/arrow-down-black.png') right center no-repeat transparent;
        display: inline-block;
        width: 24px;
        height: 13px;
        position: absolute;
        right:0;
        top: 15px;
        background-size: 100% auto;
        transition: all 200ms;
      }
    }
    .content{
      transition: all 300ms ease;
      float: left;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      width: 100%;
      .col-sm-6{
        margin-bottom: 25px;
      }
      .label{
        font-size: $font-size-14px;
        font-weight:600;
        padding-bottom: 5px;
        display: block;
      }
      .localisation{
        border: 1px solid $color-black;
        height: 48px;
        line-height:48px;
        text-align: center;
        transition: all 200ms;
        cursor: pointer;
        i.picto{
          width: 19px;
          display: inline-block;
          margin-right: 12px;
          background: url(../img/recrutement/localisation.png) left 0 no-repeat transparent;
          background-size: 38px;
          height: 30px;
          position: relative;
          top: 12px;
        }
        span{
          font-family:"Raleway", sans-serif;
          color: $color-black;
          font-size: $font-size-16px;
        }
        &:hover{
          background: $color-black;
          i.picto{
            background-position: right 0;
          }
          span{
            color: #fff;
          }
        }
      }
    }
    input[type="reset"]{
      color: $color-black;
      font-size: $font-size-16px;
      font-family: "Raleway", sans-serif;
      background: none;
      height: 47px;
      font-weight: 500;
      border: none;
      padding: 0;
      line-height: 60px;
      border-bottom: 1px solid #1e1e1e;
      &:hover{
        border: none;
      }
    }
    button[type="submit"]{
      font-family: "Raleway", sans-serif;
      color: #fff;
      font-size: $font-size-16px;
      border-radius: 2px;
      background-color: #1d1d1d;
      border: 1px solid #1d1d1d;
      font-weight: 500;
      height: 50px;
      line-height: 48px;
      padding: 0 30px;
      transition: all 200ms;
      &:hover{
        background: #fff;
        color: $color-black;
        i{
          color: $color-black;
        }
      }
      i{
        color: #fff;
        margin-top: 12px;
        margin-left: 16px;
        font-size: 22px;
        float: right;
        display: inline-block;
        margin-right: -10px;
      }
    }
    &.active{
      h3{
        padding-bottom: 15px;
        &:after{
          transform: rotate(180deg);
        }
      }
      .content{
        max-height: 2000px;
        overflow: visible;
        opacity: 1;
        margin-top:25px;
      }
    }
  }
  .select-filter{
    float: right;
    width: 400px;
    margin-top: -48px;
    .dropdown.btn-select{
      width: 225px;
      float: right;
    }
    .label{
      display: inline-block;
      float: right;
      line-height: 45px;
      margin-right: 20px;
    }
  }
  table.list-offers{
    width: 100%;
    margin-top: 5px;
    float: left;
    font-size: $font-size-16px;
    line-height: $font-size-21px;
    tr{
      border-top: 1px solid #dadada;
      &:last-child{
        border-bottom: 1px solid #dadada;
      }
      td{
        vertical-align: middle;
        padding: 0 22px;
        &:first-child{
          padding-left: 0;
        }
        &:last-child{
          padding-right: 0;
        }
        &.t1{
          width: 300px;
          .status{
            color: #adadad;
            display: block;
          }
        }
        &.t2{
          .city,
          .type{
            display: inline-block;
            float: left;
          }
          .city{
            width: 195px;
          }
          .type{
            width: 80px;
          }

        }
        &.t3{
          .date{
            span{
              color: #a8a8a8;
              font-size: $font-size-13px;
            }
          }
        }
        &.t4{
           width: 205px;
          .button{
            background: #fff;
            color: #1d1d1d;
            border-radius: 2px;
            padding: 18px 25px;
            line-height: $font-size-16px;
            font-weight: 500;
            &:hover{
              color: #fff;
              background: #1d1d1d;
            }
          }
        }
      }
    }
  }
  /*==================
  DETAIL OFFRE
  ===================*/
  table{
    &.heading{
      float: left;
      margin: 15px 0 35px;
      width: 100%;
      tr{
        border: 1px solid #dadada;
        border-left: 0;
        border-right:0;
        td{
          height: 90px;
          padding: 0;
          width: 27%;
          font-family: "Raleway",sans-serif;
          font-size: $font-size-16px;
          line-height: $font-size-25px;
          font-weight: 500;
          span{
            display: inline-block;
            width: 100%;
          }
          strong{
            font-weight: 700;
          }
          &.date{
            color: #a8a8a8;
            strong{
              font-family: "Poppins", sans-serif;
              font-weight: 300;
            }
          }
          .num-offer{
            font-family: "Poppins", sans-serif;
            font-weight: 500;
          }
        }
      }
    }
  }
  form{
    float:left;
    label, .label, input[type="text"], input[type="file"], textarea, .inputfile + label{
      color: $color-black;
      font-family: "Raleway",sans-serif;
      font-weight: 500;
      width: 100%;
      font-size: $font-size-14px;
    }
    textarea{
      max-width: 100%;
      min-width: 100%;
      border: 1px solid #dadada;
      padding: 15px;
      min-height:125px;
      max-height: 300px;
    }
    input[type="text"], input[type="file"], .inputfile + label{
      width: 100%;
      height: 48px;
      line-height:48px;
      border: 1px solid #dadada;
      margin-top: 5px;
      padding: 0 15px;
    }
    .infos{
      color: #a8a8a8;
      font-size: $font-size-13px;
    }
    .radiobox{
      label{
        &:before{
          background-size: 17px auto;
          height: 17px;
          min-height: 17px;
          top: 0;
          left: -2px;
          background-image: url("../img/cssradiobox@2x.png");
        }
      }
      input[type=radio].css-radio:checked + label.css-label:before{
         background-position: 0 -17px;
       }
    }
    &.form{
      h3{
        margin-bottom: 10px;
      }
      &.bordertop{
        border-top: 1px solid #dadada;
        padding: 30px 0 20px 0;
        margin-top: 15px;
      }
      padding: 20px 0 20px 0;
      .form-group{
        margin: 11px 0;
        line-height: $font-size-21px;
        .label{
          margin-bottom:0;
        }
        &.radio{
          span.label{
            display: inline;
            padding-right: 35px;
          }
          label, input{
            display: inline;
            padding-left: 5px;
            padding-right: 40px;
          }
        }
      }
      .back{
        height: 40px;
        line-height: 50px;
        padding: 0;
        margin: 20px 0 25px;
        border-bottom: 1px solid $color-black;
        &:hover{
          border: none;
        }
      }
      .button{
        height: 50px;
        line-height: 50px;
        padding: 0 30px;
        margin: 20px 0 25px;
        &.back{
          background: #fff;
          color: $color-black;
          padding: 0 30px;
          height: 50px;
          i{
            display: inline-block;
            padding-top: 0;
            padding-right: 12px;
            margin-right: 9px;
            font-size: 11px;
          }
          &:hover{
            background: $color-black;
            color: #fff;
            border: 1px solid $color-black;
          }
        }
      }

      input[type="submit"]{
        &:hover{
          background: #eb212e;
          border-color: #eb212e;
          color: #fff;
        }
      }
      .conditions
      p{
        margin: 10px 0;
        font-size: $font-size-13px;
        line-height: $font-size-18px;
      }
    }
    .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    .inputfile + label {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      position: relative;
      /* 10px 20px */
    }

    .no-js .inputfile + label {
      display: none;
    }

    .inputfile:focus + label,
    .inputfile.has-focus + label {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
    }

    .inputfile + label * {
      /* pointer-events: none; */
      /* in case of FastClick lib use */
    }

    .inputfile + label span {
      width: 100%;
      min-height: 48px;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: top;
      padding-right: 80px;
    }

    .inputfile + label strong {
      display: inline-block;
      font-size: $font-size-13px;
      border-bottom: 1px solid $color-black;
      height: 35px;
      position: absolute;
      right: 10px;
      padding: 0;
      margin: 0;
      top: 0;
      font-family: "Raleway", sans-serif;
    }

    @media screen and (max-width: 50em) {
      .inputfile + label strong {
        display: block;
      }
    }

  }
  /*==================
  VALIDATION
  ===================*/
  .validate{
    margin: 20px 0;
    padding-left:55px;
    background: url("../img/recrutement/validate.png") left center no-repeat;
    background-size: 33px auto;
  }
  .button{
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    margin: 20px 0 25px;
    &.back{
      background: #fff;
      color: $color-black;
      padding: 0 30px;
      height: 50px;
      i{
        display: inline-block;
        padding-top: 0;
        padding-right: 12px;
        margin-right: 9px;
        font-size: 11px;
      }
      &:hover{
        background: $color-black;
        color: #fff;
        border: 1px solid $color-black;
      }
    }
  }
}

/*==================
  RESPONSIVE
  ===================*/
@media screen and (max-width: 1440px) {
  #recrutement {
    table.list-offers {
      tr {
        td{
          &.t2{
            .type{
              width: auto;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  #recrutement {
    h1{
      font-size: 50px;
      line-height:50px;
    }
    table.list-offers {
      tr {
        td{
          &.t2{
            .city{
              width: 100px;
            }
          }
          &.t4{
            padding-left: 0;
            .button{
              padding: 16px 20px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  #recrutement{
    .sidebar {
      .side-nav-categories {
        .block-title{
          padding-left: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  #recrutement {
    .sidebar {
      margin-top: 20px;
      .side-nav-categories {
        border: medium none;
        margin-bottom: -10px;
        padding: 0;
        .block-title{
          margin-bottom: 0;
          margin-top: 0;
          padding-left: 0;
          text-align: center;
        }
      }
    }
    h1{
      font-size: 36px;
      line-height: 36px;
    }
    h2{
      font-size: 25px;
      line-height:29px;
    }
    h3{
      font-size: 20px;
      line-height:22px;
    }
    h4{
      margin: 5px 0;
    }
    p{
      font-size: 14px;
      line-height: 20px;
      margin: 10px 0;
    }
    .block-search{
      padding:25px 20px;
    }
    .accordion-job {
      .container-acc {
        .title {
          span{
            font-size: 16px;
            line-height:22px;
          }
        }
      }
    }
    table.heading {
      tr {
        border-top: none;
        td {
          display: inline-block;
          float: left;
          height: auto;
          margin: 0;
          padding: 10px 0;
          width: 50%;
        }
      }
    }
    table.list-offers {
      tr{
        td{
          display: inline-block;
          float: left;
          padding: 10px 0;
          &.t1{
            width: 60%;
            span{
              font-size: 14px;
            }
          }
          &.t2{
            width: 40%;
            text-align: right;
            .city,
            .type{
              width: 100%;
            }
          }
          &.t3{
            width:50%;
          }
          &.t4{
            width: 50%;
            .button {
              float: right;
              height: 40px;
              line-height: 40px;
              margin: -10px 0 0;
              padding: 0 10px;
              font-size: 13px;
            }
          }
        }
      }
    }
    .page-validate{
      text-align:center;
      float: left;
      width: 100%;
      hr{
        display: none;
      }
      .validate {
        background-position: center 25px;
        line-height: 25px;
        padding: 100px 0 0;
      }
    }
    &.offre-detail{
      h5{
        margin-bottom:0;
      }
      p{
        margin: 0 0 10px 0;
      }
    }
  }
}
@media screen and (max-width: 630px) {
  #recrutement{
    .select-filter {
      float: left;
      margin-bottom: 20px;
      margin-top: 20px;
      text-align: center;
      width: 100%;
      .label{
        float: left;
      }
    }
  }
}
@media screen and (max-width: 515px) {
  #recrutement{
    .container{
      form.form{
        .buttons-action{
          input, button, a{
            margin: 10px 0;
            text-align: center;
            padding: 0 14px;
            font-size: 14px;
          }
          button{
            i{
              float: none;
              top: 4px;
              margin-top: 0;
              position: relative;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 460px ){
  #recrutement{
    .block-search {
      #search{
        .buttons-action{
          input, button{
            font-size: 14px;
          }
          button{
            padding: 0 20px;
            i{
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 419px) {
  #recrutement {
    .block-search {
      h3{
        font-size: 16px;
      }
      #search{
        .buttons-action{
          input, button{
            width: 100%;
            margin: 10px 0;
            text-align: center;
          }
          button{
            i{
              float: none;
              top: 4px;
              margin-top: 0;
              position: relative;
            }
          }
        }
      }
    }
    form.form{
      .buttons-action{
        input, button, a{
          width: 100%;
          margin: 10px 0;
          text-align: center;
        }
        button{
          i{
            float: none;
            top: 4px;
            margin-top: 0;
            position: relative;
          }
        }
      }
    }
     form.form {
       .form-group.radio {
         span.label{
           padding-right: 15px;
         }
         label,
         input{
           padding-right: 20px;
         }
       }
     }
    .select-filter{
      .dropdown.btn-select{
        float: right;
        min-width: 0;
        width: 205px;
      }
    }
  }
}
