.retour-commande{
    h2{
        font-size: 60px *$resize-psd;
        margin: 20px 0 8px 0;
    }
    p{
        font-family: $Raleway;
        font-weight: 500;
        font-size: 32px * $resize-psd;
        padding-top: 10px;
        a{
            color: $red-fly;
        }
        span{
            font-weight: 600;
        }
    }
        .cart-products{
            ul{
                .cart-product{
                    .product-description{
                        padding-top: 2em;
                        h3{
                            margin: 0;
                        }
                    }
                    .checkbox{
                        .css-checkbox{
                            width: 120px;
                        }
                        .css-label{
                            &:before {
                                display: block;
                            }
                        }
                    }
                    .table{
                        background-color: #f9f9f9;
                        width: 100%;
                        font-size: 40px * $resize-psd;
                        font-family: $Poppins;
                        span{
                            font-size: 14px;
                            font-weight: 600;
                        }
                        thead{
                            tr{
                                background-color: #f9f9f9;;
                            }
                        }
                        tr{
                            background-color: #FFF;
                        }
                        td, th{
                            vertical-align: middle;
                            border: 1px solid #dadada;
                            padding: 4px 10px;
                            @media (max-width: $screen-md-min) {
                                width: 100%;
                                display: inline-block;
                            }
                        }
                        td.qte{
                            .order-box{
                                width: 130px;
                                margin-top: 0;
                            }
                        }
                        td{
                            .order-box{
                                width: 160px;
                                margin: 1rem auto 0;
                                button{
                                    background: transparent;
                                    border: 0 none;
                                }
                                .input-number{
                                    width: 44px;
                                    margin: 0 16px;
                                }
                                td{
                                    border: 0 none;
                                }
                                .sale-price{
                                    .price{
                                        font-size: 18px ;
                                    }
                                }
                                .regular-price{
                                    .price{
                                        font-weight: 500;
                                    }
                                }
                            }
                            .product-description{
                                padding-left: 3em;
                                span{
                                    font-weight: 500;
                                }
                                .price-box{
                                    margin-top: 1rem;
                                    span{
                                        font-weight: 500;
                                    }
                                }
                            }
                            .btn-select{
                                .btn-select-arrow{
                                    right: 18px;
                                    top: 18px;
                                    &:before {

                                    }
                                }
                                ul{
                                    li{
                                        font-size: 12px;
                                        padding: 10px 6px;
                                        &:hover{
                                            color:#FFF;
                                        }
                                    }
                                }
                                &.open{
                                    .icon-arrow-down-bold{
                                        transform: rotate(180deg);
                                        transition: all 200ms;
                                    }
                                }
                                .icon-arrow-down-bold{
                                    transition: all 200ms;
                                }
                            }
                    }
                        @media (max-width: $screen-md-min) {
                            td.qte, td.motif{
                                float: left;
                                height: 65px;
                                background-color: $color-gray-lighter;
                            }
                            td.qte{
                                width: 35%;
                                border: 0 none;
                            }
                            td.motif{
                                width: 65%;
                                border: 0 none;
                            }
                        }
                }
                    .center{
                        text-align: center;
                    }
            }
        }
}
    @media (max-width: $screen-md-min) {
        .cart-products {
            ul {
                .cart-product {
                    .checkbox {
                        text-align: right;
                    }
                }
            }
        }
    }
    .commentaire{
        margin-top: 10px;
    }
    textarea{
        width: 99%;
    }
    .btn-fly{
        max-width: 190px;
        vertical-align: middle;
        @media (max-width: $screen-md-min) {
            display: block;
            margin-top: 20px;
            max-width: 100%;
            width: 100%;
        }
    }
    .access{
        padding: 40px 0;
        a{
            vertical-align: middle;
            border-bottom: $color-black 1px solid;
        }
    }
}