.service-magasin{
  text-align: center;
  h2{
    padding: 40px 0;
  }
  .title{
    padding: 40px;
    h1{
      font-family: $Poppins;
      font-size: 120px * $resize-psd;
      line-height: 32px;
      margin-bottom: 0;
      @media (max-width: $screen-md-min) {
        font-size: 24px;
        line-height: 50px;
      }
    }
  }

  p{
    font-family: $Raleway !important;
    font-weight: 500 !important;
    font-size: 32px * $resize-psd;
    padding-top: 20px;
  }
  .icons{
    .icon{
         font-family: $Poppins !important;
      font-weight: 600;
         font-size: 32px * $resize-psd !important;
         line-height: 22px;
         padding: 40px;
         border: 1px solid #CCC;
      h3{
        font-size: 60px * $resize-psd !important;
        line-height: 1.3;
      }
         i{
           font-size: 42px;
           display: block;
           margin-bottom: 20px;
         }
         span{
           font-weight: 600 !important;
         }
      .underline{
        font-weight: 500;
        font-size: 12px;
        color: $color-black;
      }
    }
    .icon-2{
       border-left: 0 none;
       border-right: 0 none;
       border-bottom: 0 none;
     }
    .icon-5{
      border-left: 0 none;
      border-right: 0 none;
    }
    .icon-1, .icon-3{
      border-bottom: 0 none;
    }

    .col-md-4{
      padding : 0;
    }
  }

  @media (max-width: $screen-md-min) {
    p{
      padding-top: 0;
    }
    .title{
      h1{
        font-size: 36px;
        margin: 0;
      }
      p{
        br{
          display: none;
        }
      }
    }
    .icons{
      margin-top: 40px;
      .icon{
        padding:56px;
        margin: 0 18px;
        border: 1px solid #CCC;
      }
      .icon-1, .icon-2, .icon-3, .icon-4, .icon-5{
        border-bottom: 0 none;
      }
    }
  }
  @media (max-width: $screen-xs-min) {
    .title{
      padding: 10px;
      h1{
        font-size: 24px;
        margin: 0;
      }
    }
    img{
      width: 100%;
    }
    .icons{
      .icon{
      }
      }
  }
}
