.service-client{
  .icons{
    padding: 10px 0;
    margin: 30px 0;
    border-top : 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    .icon{
      padding: 20px 0;
      i{
        font-size: 30px ;
        margin-right: 10px;
        display: inline-block;
      }
      span{
        font-family: $Raleway;
        font-size: 40px * $resize-psd;
        font-weight: 700;
        display: inline-block;
        line-height: 55px * $resize-psd;
      }
    }
  }
  h2{
    font-size: 60px * $resize-psd;
    margin: 0;
  }
  h2,h4{
    font-family: $Poppins;
    font-weight: 600;
    margin-top: 14px;
  }
  h4{
    font-size: 40px * $resize-psd;
    margin-top: 26px;
  }
  .btn{
    margin-top: 14px;
    padding: 11px 30px;
  }

}
.side-nav-service{
  @extend .side-nav-profil;
  p{
    font-family: $Raleway;
    font-weight: 500;
    font-size: 32px * $resize-psd;
    b{
      font-family: $Poppins;
    }
    span.Hourly{
      font-family: $Raleway;
      font-weight: 600;
      margin-top: 6px;
      display: block;
      font-size: 32px * $resize-psd;
    }
    span{
      font-size: 26px * $resize-psd;
    }
  }
  i{
    color : #eb212e;
  }
  ul {
    li {
      padding-left: 1em;
      &:before {
        @include font-icon();
        content: $icon-arrow-right-bold;
        color: #e00024;
        position: absolute;
        margin-left: -1.8em;
        @include font-size(10px);
        line-height: 2em;
      }
    }
  }
}
