/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/mesachats.css" media="print" rel="stylesheet" type="text/css" /> */
$btn-width-small : 230px;
$cgv-page-size : 1036px;

.side-nav-profil {
    font-family: $Poppins;
}
h1{
    @extend .side-nav-profil;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}
h2{
    @extend .side-nav-profil;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    margin: 20px 0 ;
    padding: 8px 0;
}

