.side-nav-profil {
  h1{
    @extend .side-nav-profil;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
  }
  h2{
    @extend .side-nav-profil;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    margin: 20px 0 ;
    padding: 8px 0;
  }
  .logout{
        font-family: $Raleway;
        font-size: 13px;
        color: $color-black;
        border-bottom: $color-black 1px solid;
    }
     ul {
              list-style: none;
              padding-left: 0;
              li {
                padding: 0 0 1em 0;
                &:last-child {
                  padding-bottom: 0;
                }
                transition: all 0.2s ease-in-out;

                &:hover {
                  padding-left: 1em;
                  &:before {
                    @include font-icon();
                    content: $icon-arrow-right-bold;
                    color: #e00024;
                    position: absolute;
                    margin-left: -1.8em;
                    @include font-size(10px);
                    line-height: 2em;
                  }
                }
                a{
                  font-family: $Raleway;
                  font-weight: 500;
                }
              }
            }
    .btn-fly{
        @include btn-fly($color-white, $color-black);
    }
  .btn-help{
    margin-top: 10px;
  }

  @media (max-width: $screen-md-min) {
    h1 {
      font-size: 24px;
      line-height: 30px;
      br{
        display: none;
      }
    }
    .btn-help {
      display: none;
    }
    .profil-items{
      li{
        a{
          br{
            display: none;
          }
        }
      }
    }
    @media (max-width: $screen-xs-min) {
    }
  }
}