@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

<!-- BEGIN Main Container -->
<main class="main-container">
    <div class="container">
        <div class="row">

            <div class="main-content col-md-12  col-xs-12">
                <div class="carte-cadeau">
                    <div class="title">
                        <h1>cartes cadeaux</h1>
                        <p>Cartes cadeau Pour faire plaisir à tous les coups, offrez une carte cadeaux fly !</p>
                    </div>
                    <div class="row">
                        <div class="col-md-3 ">

                        </div>
                        <div class="col-md-2 col-xs-4">
                            <img class=="img-responsive" src="../img/cartes-cadeaux/cadeaux1.jpg" />
                        </div>
                        <div class="col-md-2 col-xs-4">
                            <img class=="img-responsive" src="../img/cartes-cadeaux/cadeaux2.jpg" />
                        </div>
                        <div class="col-md-2 col-xs-4">
                            <img class=="img-responsive" src="../img/cartes-cadeaux/cadeaux3.jpg" />
                        </div>
                        <div class="col-md-3">

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h2>Les avantages de la carte cadeaux</h2>
                        </div>
                    </div>
                    <div class="icons">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="icon icon-1">
                                    <i class="icon-clock2"></i>
                                    Disponible <br />
                                    <span>immédiatement</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="icon icon-2">
                                    <i class="icon-cart2"></i>
                                    Valable en <span>magasin</span> <br/>
                                        ou sur <span>fly.fr</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="icon icon-3">
                                    <i class="icon-cadeau"></i>
                                    <span class="">Un large choix</span><br/>
                                    de cadeaux
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="icon icon-4">
                                    <i class="icon-card-use"></i>
                                    Utilisable en
                                    <span>une  <br /></span>ou <span>plusieurs fois<span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="icon icon-5">
                                    <i class="icon-value-purchase"></i>
                                    Des valeurs d'achat <br />
                                        entre<span>10€</span> et  <span>50€</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="icon icon-6">
                                    <i class="icon-calandrier"></i>
                                    Valable<span class="">1 an</span><br/>
                                    sur tout le magasin
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="desc">
                        nim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                    </p>
                </div>
            </div>

        </div>
    </div>
</main>

@@include('_templates/_footer.html')