@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

<!-- BEGIN Main Container -->
<main class="fid-container">
    <div class="container">
        <div class="card-fly-classic-container row">
            <div class="col-md-12  col-xs-12">


                <div class="catalogue">
                    <h1>Découvrez nos catalogues</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="section-catalogue">
                                <div class="section-catalogue-visual">
                                    <div class="section-catalogue-caption">
                                        <h3>Catalogue <span>#Accueillant</span></h3>
                                        <h4>Découvrez toutes les nouveautés et nouvelles tendances 2016</h4>
                                    </div>
<img src="../img/catalogue/VISUEL_CATALOGUE_SOLDE.png" />
                                    <div class="btns">
                                        <a href="#" class="btn btn-fly btn-inverse  btn-lg btn-read"> <i class="icon icon-arrow-right-bold"></i> Feuilleter</a>
                                        <a href="#" class="btn btn-fly btn-inverse  btn-lg btn-more"> <i class="icon icon-arrow-right-bold"></i> En savoir plus</a>
                                        <a href="#" class="btn btn-fly btn-lg btn-download"> Télécharger (PDF)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="section-catalogue">
                                <div class="section-catalogue-visual">
                                    <div class="section-catalogue-caption">
                                        <h3>Catalogue 2016</h3>
                                        <h4>Découvrez toutes les nouveautés et nouvelles tendances 2016</h4>
                                    </div>
                                    <img src="../img/catalogue/VISUEL_CATALOGUE_2016.png" />
                                    <div class="btns">
                                        <a href="#" class="btn btn-fly btn-inverse  btn-lg btn-read"> <i class="icon icon-arrow-right-bold"></i> Feuilleter</a>
                                        <a href="#" class="btn btn-fly btn-inverse  btn-lg btn-more"> <i class="icon icon-arrow-right-bold"></i> En savoir plus</a>
                                        <a href="#" class="btn btn-fly btn-lg btn-download"> Télécharger (PDF)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
@@include('_templates/_footer.html')
