@@include('_templates/_header_checkout.html')
<div class="checkout-container">
    <div class="container">
        <div class="checkout-main col-md-8">
            <h1 class="checkout-title">Votre adresse</h1>

            <form action="" method="post" id="adresse-form">

                <div class="profile-info my-address row">

                    <ul class="address">
                        <li class="col-xs-12 col-md-4 ">
                            <div class="radio-inline">
                                <div class="radiobox">
                                    <input type="radio" name="my-address" id="my-address-0" class="css-radio">
                                    <label for="my-address-0" class="css-label">
                                        <span>
                                            Mr Christophe Sube <br>
                                        53 rue des Belles Feuilles <br>
                                        5eme gauche<br>
                                        75016 PARIS <br>
                                        0601020304
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </li>
                        <li class="col-xs-12 col-md-4 ">
                            <div class="radio-inline">
                                <div class="radiobox">
                                    <input type="radio" name="my-address" id="my-address-2" class="css-radio">
                                    <label for="my-address-2" class="css-label">
                                        <span>
                                            Mr Christophe Sube <br>
                                        53 rue des Belles Feuilles <br>
                                        5eme gauche<br>
                                        75016 PARIS <br>
                                        0601020304
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </li>
                        <li class="col-xs-12 col-md-4 ">
                            <div class="radio-inline">
                                <div class="radiobox">
                                    <input type="radio" name="my-address" id="my-address-3" class="css-radio">
                                    <label for="my-address-3" class="css-label">
                                        <span>
                                            Mr Christophe Sube <br>
                                        53 rue des Belles Feuilles <br>
                                        5eme gauche<br>
                                        75016 PARIS <br>
                                        0601020304
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="profile-info shipping-address ">

                    <div class="form-group">
                        <div class="checkbox">
                            <input type="checkbox" name="same_adresse" id="same_adresse" checked="true"
                                   class="css-checkbox"
                                   data-toggle="collapse" data-target="#other-address"
                            >
                            <label for="same_adresse" class="css-label">
                                <span>
                                          Mon adresse de livraison est la même
                                       </span>
                            </label>
                        </div>
                        <div id="other-address" class="collapse ">
                            <strong class="legend">Adresse de livraison</strong>

                            <ul class="address row">
                            <li class="col-xs-12 col-md-4 ">
                                <div class="radio-inline">
                                    <div class="radiobox">
                                        <input type="radio" name="shipping-address" id="shipping-address-0" class="css-radio">
                                        <label for="shipping-address-0" class="css-label">
                                        <span>
                                            Mr Christophe Sube <br>
                                        53 rue des Belles Feuilles <br>
                                        5eme gauche<br>
                                        75016 PARIS <br>
                                        0601020304
                                        </span>
                                        </label>
                                    </div>
                                </div>
                            </li>
                            <li class="col-xs-12 col-md-4 ">
                                <div class="radio-inline">
                                    <div class="radiobox">
                                        <input type="radio" name="shipping-address" id="shipping-address-2" class="css-radio">
                                        <label for="shipping-address-2" class="css-label">
                                        <span>
                                            Mr Christophe Sube <br>
                                        53 rue des Belles Feuilles <br>
                                        5eme gauche<br>
                                        75016 PARIS <br>
                                        0601020304
                                        </span>
                                        </label>
                                    </div>
                                </div>
                            </li>
                            <li class="col-xs-12 col-md-4 ">
                                <div class="radio-inline">
                                    <div class="radiobox">
                                        <input type="radio" name="shipping-address" id="shipping-address-3" class="css-radio">
                                        <label for="shipping-address-3" class="css-label">
                                        <span>
                                            Mr Christophe Sube <br>
                                        53 rue des Belles Feuilles <br>
                                        5eme gauche<br>
                                        75016 PARIS <br>
                                        0601020304
                                        </span>
                                        </label>
                                    </div>
                                </div>
                            </li>
                            </ul>
                        </div>
                    </div>


                </div>
                <div class="form-group form-submit js " data-form-id="adresse-form">

                    <button type="submit" class="btn btn-fly btn-lg">
                        <i class="icon-arrow-right-bold"></i> Modifier mon adresse
                    </button>
                    <button class="btn btn-fly btn-inverse  btn-lg pull-right "> <i class="icon icon-arrow-right-bold"></i> Valider et passer à l’étape suivante</button>
                </div>
            </form>

        </div>
        <div class="cart-order  col-md-4">
            <h1 class="order-title">Votre commande </h1>
            <table class="no-style sub-total">
                <tr>
                    <td><span>Sous-total</span></td>
                    <td class="text-right"><strong>2019,50€</strong></td>
                </tr>
                <tr class="green">
                    <td><span>Frais de livraison estimés</span></td>
                    <td class="text-right"><strong>Offert</strong></td>
                </tr>
            </table>
            <div class="order">
                <h3>Total <span class="amount" content="2019.50">2019,50€</span></h3>

            </div>
        </div>
    </div>
</div>

<script src='https://www.google.com/recaptcha/api.js'></script>
@@include('_templates/_footer.html')