@@include('_templates/_header_checkout.html')
<div class="checkout-container">
    <div class="container">
        <form action="#">
            <div class="checkout-main col-md-8">
                <h1 class="checkout-title">Paiement</h1>

                <div class="cart-box">
                    <div class="cart-display">
                        <span class="count">5 articles</span>
                        <button type="button" data-toggle="collapse" data-target="#show-cart-items"
                                class="btn btn-fly   btn-lg  collapsed">
                            <span class="uncollapsed">Afficher les articles</span>
                            <span class="collapsed">Masquer les articles</span>
                            <i class="icon icon-arrow-down-bold"></i>
                        </button>
                    </div>
                    <div class="cart-wrapper collapse" id="show-cart-items">
                        <div class="cart-products">
                            <ul>
                                <li class="cart-product">
                                    <div class="product-thumb col-xs-5 col-md-3">
                                        <img src="../img/products/PRODUIT_01.png" alt="">
                                    </div>
                                    <div class="product-description col-xs-7 col-md-9">
                                        <div class="row">
                                            <h3>Norway</h3>
                                            <strong class="subname">Canapé fixe 3 pl tissu rose bonbon</strong>
                                            <span>  Livré sous 10 jours</span>
                                        </div>

                                        <div class="row">
                                            <div class="price-box">
                                                <div class="sale-price">
                                                    <span class="price">499,90 €</span>
                                                </div>
                                                <div class="regular-price">
                                                    <span class="price">599€ </span>
                                                </div>
                                                <div class="notice">
                                                    dont 1,00€ d’<span class="underline">éco part</span>
                                                </div>

                                            </div>
                                            <div class="order-box">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <strong class="item-qty">4</strong>
                                                        </td>
                                                        <td>
                                                            <div class="sale-price">
                                                                <span class="price">499,90 €</span>
                                                            </div>
                                                            <div class="regular-price">
                                                                <span class="price">599€ </span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>


                                    </div>
                                    <div class="extended-warranty col-xs-12">
                                        <table class="no-style">
                                            <tr>
                                                <td>
                                                    <strong>Garantie 100% immediat 3 ans</strong>
                                                    <span class="underline">En savoir plus</span>
                                                </td>
                                                <td class="text-right"><strong>10,00€</strong></td>
                                            </tr>
                                        </table>
                                    </div>
                                </li>
                                <li class="cart-product">
                                    <div class="product-thumb col-xs-5 col-md-3">
                                        <img src="../img/products/PRODUIT_02.png" alt="">
                                    </div>
                                    <div class="product-description col-xs-7 col-md-9">
                                        <div class="row">
                                            <h3>Norway</h3>
                                            <strong class="subname">Canapé fixe 3 pl tissu rose bonbon</strong>
                                            <span class="green">En stock</span>
                                        </div>

                                        <div class="row">
                                            <div class="price-box">
                                                <div class="sale-price">
                                                    <span class="price">499,90 €</span>
                                                </div>
                                                <div class="regular-price">
                                                    <span class="price">599€ </span>
                                                </div>
                                                <div class="notice">
                                                    dont 1,00€ d’<span class="underline">éco part</span>
                                                </div>

                                            </div>
                                            <div class="order-box">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <strong class="item-qty">1</strong>
                                                        </td>
                                                        <td>
                                                            <div class="sale-price">
                                                                <span class="price">499,90 €</span>
                                                            </div>
                                                            <div class="regular-price">
                                                                <span class="price">599€ </span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>


                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="back-to-cart">
                            <a class="underline" href="#">Modifier (retour au panier)</a>
                        </div>
                    </div>

                    <div class="gift-card">
                        <div class="checkbox">
                            <input type="checkbox" name="card-confirm" id="card-confirm" class="css-checkbox"
                                   data-toggle="collapse" data-target="#gift-card-form"
                            >
                            <label for="card-confirm" class="css-label">
                                <strong>
                                    Utiliser une carte cadeau
                                </strong>
                            </label>
                        </div>
                        <div id="gift-card-form" class="collapse row">
                            <div class="form-group col-md-5">
                                <label>*Numéro de carte :</label>
                                <input class="form-control input-lg" type="text" placeholder="xxxx xxxx xxxx xxxx"/>
                            </div>
                            <div class="form-group col-md-5 pull-right">
                                <div class="col-xs-12 first">
                                    <label>*Code de sécurité :</label>
                                </div>

                                <div class="pull-left col-xs-6  first">
                                    <input class="form-control input-lg text-center  " type="text"
                                           placeholder="xxxx xxxx xxxx"/>
                                </div>
                                <div class="pull-right  col-xs-6  col-md-4  last">
                                    <button class="btn btn-fly   btn-lg pull-right">Valider</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="royalty-cheque">
                        <div class="royalty-cheque-title">
                            <label>
                                <strong>
                                    Utiliser un chèque de fidélité <span class="small">(choix multiple)</span>
                                </strong>
                            </label>
                        </div>
                        <div class="col-md-2 first">
                            <div class="checkbox ">
                                <input type="checkbox" name="royalty-cheque-25" id="royalty-cheque-25"
                                       class="css-checkbox">
                                <label for="royalty-cheque-25" class="css-label">
                                    <strong>
                                        25,00€
                                    </strong>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 first">
                            <div class="checkbox ">
                                <input type="checkbox" name="royalty-cheque-50" id="royalty-cheque-50"
                                       class="css-checkbox">
                                <label for="royalty-cheque-50" class="css-label">
                                    <strong>
                                        50,00€
                                    </strong>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 first">
                            <div class="checkbox">
                                <input type="checkbox" name="royalty-cheque-75" id="royalty-cheque-75"
                                       class="css-checkbox">
                                <label for="royalty-cheque-75" class="css-label">
                                    <strong>
                                        75,00€
                                    </strong>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <div class="cart-order  col-md-4">
                <h1 class="order-title">Votre commande </h1>
                <table class="no-style sub-total">
                    <tr>
                        <td><span>Sous-total</span></td>
                        <td class="text-right"><strong>2019,50€</strong></td>
                    </tr>
                    <tr class="green">
                        <td><span>Frais de livraison estimés</span></td>
                        <td class="text-right"><strong>Offert</strong></td>
                    </tr>
                    <tr class="green">
                        <td><span>Carte cadeau</span></td>
                        <td class="text-right"><strong>- 50,00€</strong></td>
                    </tr>
                    <tr class="green">
                        <td><span>Chèques fidélité</span></td>
                        <td class="text-right"><strong>- 100,00€</strong></td>
                    </tr>
                </table>
                <div class="order">
                    <h3>Total <span class="amount" content="1869,50">1869,50€</span></h3>

                </div>
            </div>
            <div class="payment-main col-xs-12">
                <h1 class="payment-title">Choisissez un mode de paiement</h1>
                <div class="payment-methods">
                    <ul class="payment-options address row">
                        <li class="payment-option col-xs-12 col-md-3 ">
                            <a data-toggle="pill" href="#payment-option-1">
                                <div class="radio-inline">
                                    <div class="radiobox">
                                        <input type="radio" name="payment-method" id="payment-method-0" checked
                                               class="css-radio">
                                        <label data-mh="payment-method-option" for="payment-method-0" class="css-label">
                                            <strong class="title">Carte bancaire </strong>

                                            <img src="../img/checkout/LOGO_CB.png" data-rjs="2" alt="">

                                        </label>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="payment-option col-xs-12 col-md-3 ">
                            <a data-toggle="pill" href="#payment-option-2">
                                <div class="radio-inline">
                                    <div class="radiobox">
                                        <input type="radio" name="payment-method" id="payment-method-1"
                                               class="css-radio">
                                        <label data-mh="payment-method-option" for="payment-method-1" class="css-label">
                                            <strong class="title">4 x sans frais</strong>

                                            <img src="../img/checkout/LOGO_4-x-sans-frais.png" data-rjs="2" alt="">

                                        </label>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="payment-option col-xs-12 col-md-3 ">
                            <a data-toggle="pill" href="#payment-option-3">
                                <div class="radio-inline">
                                    <div class="radiobox">
                                        <input type="radio" name="payment-method" id="payment-method-2"
                                               class="css-radio">
                                        <label data-mh="payment-method-option" for="payment-method-2" class="css-label">
                                            <strong class="title">5, 10 ou 20 x sans frais</strong>

                                            <img src="../img/checkout/Logo-Cetelem-Presto.png" data-rjs="2" alt="">

                                        </label>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="payment-option col-xs-12 col-md-3 ">
                            <a data-toggle="pill" href="#payment-option-4">
                                <div class="radio-inline">
                                    <div class="radiobox">
                                        <input type="radio" name="payment-method" id="payment-method-3"
                                               class="css-radio">
                                        <label data-mh="payment-method-option" for="payment-method-3" class="css-label">
                                            <strong class="title">Carte Aurore</strong>

                                            <img src="../img/checkout/logo_CA.png" data-rjs="2" alt="">

                                        </label>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="payment-option-details">

                    </div>
                </div>
                <div class="form-group col-md-12 first">
                    <div class="accept-terms">
                        <div class="checkbox">
                            <input type="checkbox" name="read_terms" id="read_terms" class="css-checkbox">
                            <label for="read_terms" class="css-label">
                                <span>J'ai lu et j'accepte les <span class="underline">conditions générales de vente</span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group control-form-group col-sm-6 last pull-right">
                    <button class="btn btn-fly btn-inverse  btn-lg pull-right col-xs-12 col-md-8">
                        Payer 1869,50€
                    </button>
                </div>
                <div class="form-group control-form-group col-sm-6 first">
                    <button type="reset" class="reset no-style"><span class="underline">Retour</span></button>
                </div>

            </div>
        </form>
    </div>
</div>

@@include('_templates/_modals.html')
@@include('_templates/_footer.html')