@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')
<!-- BEGIN Main Container -->
<main class="main-container">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12 col-xs-12">
                <div class="contact">
                    <div class="contact-head">
                        <div class="row">
                            <div class="col-md-2 col-xs-1">

                            </div>
                            <div class="col-md-8 col-xs-10">
                                <h1>Nous contacter</h1>
                                <p>Si vous avez la moindres question, contactez-nou</p>
                                <p>en choisissant l'une des options ci-dessous</p>
                            </div>
                            <div class="col-md-2 col-xs-1">

                            </div>
                        </div>
                        </div>
                    <div class="contact-body">
                        <div class="row">
                            <div class="col-md-4 col-xs-12 left-column">
                                    <i class="icon-call"></i>
                                    <h2>Par téléphone</h2>
                                    <p>Par téléphone Un conseiller vous répond par <br />téléphone du  <br /><br />Lundi au Samedi <br />de 9H au 22H <br /><br />
                                        au <b>08 00 40 20</b><br />
                                        <span>numéro (gratuit)</span></p>
                            </div>
                            <div class="col-md-4 col-xs-12 middle-column">
                                    <i class="icon-message"></i>
                                    <h2>Live chat</h2>
                                    <p>Discuter par le Live Chat avec <br />un expert pour toute question du
                                        <br /><br />
                                        Lundi au samedi <br />
                                        de 9h au 22h</p>
                                    <button class="btn-fly btn-sm">
                                        Démarrer le chat
                                    </button>
                            </div>
                            <div class="col-md-4 col-xs-12 right-column">
                                    <i class="icon-presse"></i>
                                    <h2>Relation presse</h2>
                                    <p>Relation presse Besoin de contacter notre service relation presse?
                                        Veuillez adresser votre requette à l'adresse suivante :</b><br /><br />
                                        <span>Service-presse@fly.fr</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="contact-footer">
                        <div class="row">
                            <div class="col-md-3 col-xs-1">

                            </div>
                            <div class="col-md-6 col-xs-10 col">
                                <h2>Vous ne trouvez pas ce que vous cherchez ?</h2>
                                <h4>Vous ne trouvez pas ce que vous cherchez ? </h4> <h4>Vous n’avez pas trouvé la réponse à votre question dans notre FAQ</h4>
                                <form class="form infos-account">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12 col-left">

                                            <div class="field field-name required">
                                                <div class="control">
                                                    <div class="name">
                                                        <label>* Nom :</label></div>
                                                    <input class="form-control" value="" type="text" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-right">
                                            <div class="field field-lastname required form-group">
                                                <div class="control">
                                                    <div class="adresse">
                                                        <label>*Adresse e-mail :</label>
                                                        <input class="form-control" type="email" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="field field-lastname required form-group">
                                            <div class="control">
                                                <div class="Sujet">
                                                    <label>*Sujet :</label>
                                                    <div id="payment-period">
                                                        <div class="dropdown btn-select">
                                                            <a id="payment-period-id" data-toggle="dropdown"
                                                               aria-haspopup="true"
                                                               aria-expanded="false">
                                                                <span class="btn-select-value">Choisissez</span>
                                                                <input type="hidden" class="btn-select-input" value="Choisissez">
                                                                <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                                                            </a>
                                                            <ul class="dropdown-menu" aria-labelledby="payment-period-id">
                                                                <li class="option" data-value="4">Votre commande n’est jamais arrivée à l’adresse indiquée lors de la commande</li>
                                                                <li class="option" data-value="5">Votre compte a été débité deux fois suite à un double clic</li>
                                                                <li class="option" data-value="10">Le produit reçu n’est pas conforme à la commande</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="field field-lastname required form-group">
                                            <div class="control">
                                                <div class="Commentaire">
                                                    <label>*Commentaire :</label>
                                                    <textarea class="form-control" ></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="g-recaptcha" data-sitekey="6LfXTQ0UAAAAAB2eebypOjo9LNh0qmJ5JXmA7zc-"></div>
                                        <button class="btn-fly btn-sm">
                                            Envoyer
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-3 col-xs-1">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>

@@include('_templates/_footer.html')