@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

<!-- BEGIN Main Container -->
<main class="dashboard-container">
    <div class="container">
        <div class="row">
            @@include('_templates/_user_sidebar.html')
            <div class="col-md-9  col-xs-12">
                <div class="empty-dashboard col-md-12 col-xs-12">
                    <div class="block-card col-md-6">
                        <h1>Ma carte Fly</h1>
                        <div class="contour">
                            <div class="contour-title col-md-8 col-xs-8">
                                    <h3>Vous n’avez pas encore de carte de fidélité</h3>
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <img src="../img/fid-avantage/CARDS.png"/>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <div class="col-md-6 col-xs-6">
                                    <a class="btn-fly-red btn-lg" href="#">
                                        <span>Voir mes avantages</span>
                                    </a>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <a class="btn-fly btn-lg" href="#">
                                        <span>Découvrir les avantages</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-magasin col-md-6">
                        <h1>Mon magasin</h1>
                        <div class="contour">
                            <div class="store-lib-2 col-md-8 col-xs-8">
                                <h3>Vous n'avez pas encore de magasin préféré</h3>
                            </div>
                            <div class="pointer-map-2 col-md-4 col-xs-4">
                                <img src="../img/common/POINTER_MAP.png"/>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <a class="btn-fly-red btn-lg" href="#">
                                    <span>Choisir un magasin</span>
                                </a>
                            </div>
                            <!--<div class="col-md-6 col-xs-6">
                                <a href="#">
                                    <span class="chang-card">Modifier mon magasin</span>
                                </a>
                            </div>-->
                        </div>
                    </div>
                    <div class="content col-md-12 col-xs-12">
                        <p>Retrouvez ici : <br>vos chèques cadeaux, vos dernières commandes,<br> vos avantages fidélité et plus encore !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
@@include('_templates/_footer.html')