@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

<!-- BEGIN Main Container -->
<main class="dashboard-container">
    <div class="container">
        <div class="row">
            <div class="hidden-xs"> @@include('_templates/_user_sidebar.html')</div>
            <div class="dashboard-my-adress col-md-9  col-xs-12">
                <div class="retour"><a href="#">Retour</a></div>
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <h1>Mes adresses</h1>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <a class="btn-fly-red btn-lg btn-size pull-right" href="#">
                            <span> Ajouter une adresse</span>
                        </a>
                    </div>
                </div>
                <div class="row">
                <div class=" default col-md-4">
                    <div class="contour">
                        <h3>Mr Christophe Sube</h3>
                        <p> 53 rue des Belles Feuilles 5ème gauche 75016 PARIS 0601020304 </p>
                        <div class="center">
                            <div class="row">
                                <a class="btn-fly btn-lg btn-inverse btn-size" href="#">
                                    <span>Choisir par default</span>
                                </a>
                                <a class="btn-fly btn-lg btn-size" href="#">
                                    <span>Modifier</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" default col-md-4">

                    <div class="contour white">
                        <h3>Mr Christophe Sube</h3>
                        <p> 53 rue des Belles Feuilles 5ème gauche 75016 PARIS 0601020304 </p>
                        <div class="center">
                            <div class="row">
                                <a class="btn-fly btn-lg btn-inverse btn-size" href="#">
                                    <span>Choisir par default</span>
                                </a>
                                <a class="btn-fly btn-lg btn-size" href="#">
                                    <span>Modifier</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class=" default col-md-4">
                    @@include('_templates/_my_dafault_adress.html')
                </div>
            </div>
                <div class="row">
                    <div class=" default col-md-4">
                        @@include('_templates/_my_dafault_adress.html')
                    </div>
                    <div class=" default col-md-4">
                        @@include('_templates/_my_dafault_adress.html')
                    </div>
                    <div class=" default col-md-4">
                        @@include('_templates/_my_dafault_adress.html')
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
@@include('_templates/_footer.html')