@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')
<!-- BEGIN Main Container -->
<main class="main-container">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12 col-xs-12">
                <div class="personnel-data">
                    <div class="row">
                        <div class="col-md-2 col-xs-1">

                        </div>
                        <div class="col-md-12 col-xs-12">

                            <h1>Données personnelles</h1>

                            <p>Le société FLY, 90 route de Guebwiller - CS 60101 - 68 265 KINGERSHEIM Cedex, France,
                                franchiseur de la marque Fly, propriétaire et exploitant du site Internet www.fly.fr et
                                des mini-sites rattachés, notamment www.cuisines.fly.fr etc, ci-après dénommée « FLY »,
                                ainsi que les exploitants des magasins Fly, franchisés commerçants indépendants,
                                accordent une importance particulière au respect de votre vie privée et de la protection
                                des données personnelles que vous leur fournissez.
                                La présente Charte de protection des données personnelles (ci-après « Charte ») a pour
                                objet de vous informer des modalités suivant lesquelles FLY collecte et utilise vos
                                données personnelles, dans le respect de la législation applicable (loi Informatique et
                                Libertés du 6 janvier 1978 modifiée).</p>
                            <h3>APPLICATION DE LA CHARTE</h3>
                            <p>La présente Charte s'applique à toute personne connectée au site Internet www.fly.fr ou à l'un des mini-sites rattachés, notamment www.cuisines.fly.fr etc, ou sur l'une des applications mobiles FLY.</p>
                            <h3>Nature des données collectées</h3>
                            <p>En votre qualité de client, FLY est amené à vous demander des informations personnelles.
                                Au sens de la présente Charte, une donnée à caractère personnel correspond à toute information relative à une personne physique permettant de l’identifier directement ou indirectement, par référence à un numéro d'identification ou à un ou plusieurs éléments qui lui sont propres.
                                Certaines données personnelles collectées sont obligatoires car nécessaires au traitement de votre achat, d'autres sont facultatives. Un astérisque permet d'identifier les données obligatoires. <span>Exemples de données personnelles collectées :</span>
                                nom, prénom, adresse de facturation, adresse de livraison si différente, adresse e.mail, numéro de téléphone, date de naissance, numéro de votre carte de fidélité FLY si vous êtes porteur, pour l'adhésion au programme de fidélité département de naissance et, le cas échéant, nom de jeune fille, informations concernant votre carte de crédit pour procéder au règlement de votre achat en ligne ... De même, sont collectés vos éventuels avis, commentaires, questions, listes de préférence, centres d'intérêt.
                                FLY utilise des logiciels de web analytics collectant votre adresse IP à des fins statistiques ainsi que vos données de navigation : parcours, produits vus et ajoutés en favoris. <br /><span>Circonstances de la collecte de données personnelles</span>
                            </p>

                            <p>FLY collecte des données personnelles lorsque sur le site fly.fr et les mini-sites rattachés :
                                <br />
                                - vous vous connectez sur le site et naviguez sur les pages du site,
                                <br />
                                - vous créez votre compte client,<br />
                                - vous effectuez un achat en ligne,<br />
                                - vous souscrivez la carte de fidélité FLY,<br />
                                - vous vous abonnez à la newsletter FLY afin de recevoir des informations sur FLY, les offres et promotions FLY
                                <br />
                                - vous participez à des jeux / concours <br />
                                <span>Finalités de la collecte</span>
                            </p>
                            <p>FLY collecte vos données personnelles à des fins : <br />
                                - d'exploitation du site fly.fr et des mini-sites rattachés <br />
                                - de gestion de vos achats en ligne <br />
                                - de suivi de votre compte client <br />
                                - de suivi de votre commande <br />
                                - de suivi des retours produits <br />
                                - de suivi de votre compte de fidélité <br />
                                - de gestion des jeux / concours <br />
                                - d'envoi de la newsletter de laquelle vous pouvez vous désabonner à tout moment en cliquant sur le lien prévu à cet effet au bas de la newsletter ou en adressant une demande écrite à FLY soit en utilisant la fiche contact présente sur le site, soit en envoyant un courrier à société FLY – 90 route de Guebwiller - CS 60101 - 68 265 KINGERSHEIM Cedex - France
                                <br />
                                - d'envoi de SMS avec les offres promotionnelles FLY desquels vous pouvez vous désabonner en envoyant « stop » suite à la réception d'un SMS ou en envoyant un courrier à société FLY – 90 route de Guebwiller - CS 60101 - 68 265 KINGERSHEIM Cedex - France
                                <br />
                                - de gestion de vos contacts avec FLY <br />
                                - d’études et d’analyses <br />
                                - d'amélioration de la qualité de son service notamment de la sécurité du site fly.fr et des mini- sites rattachés
                                <br />
                                - de respect de ses obligations légales</p>
                            <h3>Cookies</h3>
                            <p>
                                Cette rubrique comprend toutes les informations relatives au traitement des Cookies et de vos données personnelles sur notre site Internet FLY.
                               <br /><span>Qu'est-ce qu'un Cookie ?</span>
                                Un Cookie est un fichier qui conserve vos données personnelles lorsque vous naviguez sur notre site Internet.
                                Ils comprennent vos identifiants de connexion, les informations que vous renseignez dans nos formulaires et tous les éléments qui concernent la géolocalisation.
                               <br /> <span>A quoi sert un Cookie ?</span>
                                Les Cookies identifient votre connexion et vous reconnaissent lorsque vous vous connectez à un site Internet ou à votre boite mail. De ce fait, si vous avez personnalisé certains critères sur des pages Internet, ceux-ci apparaissent dès votre connexion.
                                Les Cookies vous permettent de mémoriser, modifier voire même supprimer vos données personnelles.
                                Le Cookie est strictement anonyme et ne contient aucune information à caractère personnel comme la race, les opinions politiques et religieuses, l'orientation sexuelle...
                                <br /><span>Quels sont les différents types de Cookies ?</span>
                                Nous trouvons différents types de Cookies :
                                - les cookies strictement nécessaires : ces cookies sont indispensables pour que vous puissiez bénéficier du meilleur service auquel vous êtes en droit d'attendre.
                                - les cookies de performance : ces cookies collectent les informations relatives à votre façon de naviguer sur le site. Ceux-ci répertorient les pages les plus vues.
                                - les Cookies de navigation : ces cookies permettent de faciliter votre navigation en stockant vos préférences ainsi que d'autres informations comme la langue, le pays
                                - les cookies de ciblage et de publicité : ces cookies ont pour objet d'afficher des publicités compatibles avec vos centre d'intérêts, mais pas seulement, ils permettent également de limiter votre exposition à la publicité.
                                <br /><span>Pourquoi avoir recours à ces Cookies ?</span>
                                L'utilisation de Cookies vous garantit la personnalisation de votre accès au web car vous bénéficiez d'une identification plus rapide, le contenu des pages que vous consultez régulièrement peut être mis à jour pour vous proposer les messages les plus pertinents en fonction de votre navigation précédente. Cela vous permet aussi de mémoriser vos informations pour faciliter votre navigation.
                                Avoir recours à des Cookies, nous permet de faire des analyses statistiques pour connaître le volume de fréquentation sur notre site et de nous adapter à votre terminal.
                                Toujours dans l'optique d'améliorer constamment notre site pour vous permettre la meilleure navigation possible.
                                Les Cookies que nous utilisons sont des cookies dits de sessions et des Cookies dits persistants :
                                - les Cookies de sessions sont les fichiers stockés durant votre navigation mais ne sont plus actifs quand vous vous déconnectez de notre site.
                                - les Cookies persistants, quant à eux, restent actifs même après la déconnexion à moins de les supprimer manuellement.
                               <br /> <span>Les paramètres de vos Cookies</span>
                                Votre navigateur peut vous permettre de gérer vous-même vos Cookies, donc vous avez la possibilité de :
                                - les autoriser, ceux-ci seront donc enregistrés sur votre disque dur. De ce fait, vous pouvez garder une trace des pages et des contenus que vous consultez régulièrement. Le contenu ne sera lisible que par les émetteurs.
                                - les refuser: si vous décidez de les interdire, vous ne pourrez bénéficier des meilleures conditions de navigation car votre système ne vous reconnaîtra pas. Votre navigation pourra être altérée et vous ne pourrez profiter de certaines fonctionnalités comme la langue affichée. C'est pourquoi, nous déclinons toute responsabilité si vous êtes amené à rencontrer des dysfonctionnements lors de vos visites sur les pages de notre site.
                                En effet, nos services se verront être dans l’incapacité de consulter les Cookies nécessaires au bon fonctionnement de votre navigation.
                               <br /><span>La configuration des Cookies selon chaque navigateur</span>
                                La gestion des Cookies diffère selon le navigateur que vous utilisez.
                                Pour en savoir plus, vous pouvez vous rendre sur la page des paramètres de votre navigateur ou consulter les menus d'aide propres à chaque navigateurs :
                                - Internet Explorer <span>: windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-cookies,</span>
                                <br />- Safari <span>: support.apple.com/kb/PH11924</span>
                                <br />- Chrome : <span>support.google.com/chrome/bin/answer.py,</span>
                                <br />- Firefox :<span>support.mozilla.org/fr/kb/Activer%20et%20d%C3%A9sactiver%20les%20cookies,</span>
                                Les Cookies émis par des tiers pendant l'utilisation de notre site
                                L’émission et l’utilisation de Cookies par des tiers sont soumises aux politiques de protection de la vie privée de ces tiers. Nous vous informons que nous vous proposons seulement les Cookies relatifs à notre site Internet.
                                Néanmoins, vous pourrez trouver sur notre site, des liens vers Facebook, Twitter, Pinterest et Youtube qui sont susceptibles de vous proposer leurs Cookies indépendamment des nôtres.
                                Ceux-ci ont pour but de vous faire partager nos contenus et vos consultations relatifs à nos produits avec vos proches.
                                Nous autorisons également des tiers, notamment Google, à utiliser des Cookies de sessions et persistants sur nos contenus qui ont pour but :
                                - d'analyser le nombre d'utilisateurs bénéficiant de nos offres <br />
                                - de voir les requêtes les plus utilisées <br />
                                - d’évaluer l'efficacité de nos campagne <br />
                                Ces analyses n'ont pour seul but de nous améliorer en vous proposant les meilleurs services pour votre entière satisfaction.
                                <br /><span>Attention : Liens vers des sites tiers</span>
                                Les liens de cette zone vous font quitter le site FLY. Les sites cibles ne sont pas sous le contrôle de FLY qui n’est pas responsable du contenu de ces sites, des liens qu’ils contiennent ni des changements ou mises à jour qui leur sont apportés. FLY n’est pas responsable de la diffusion de contenus audio et/ou vidéo et de toute autre forme de transmission reçue d’un site cible. FLY fournit ces liens pour votre commodité, et l’inclusion de tout lien n’implique pas l’approbation du site applicable par FLY.
                                <br /><br />
                            </p>
                            <p>
                                <span>Sécurité de vos données personnelles</span><br />
                                Notre préoccupation est de préserver la qualité et l'intégrité de vos données à caractère personnel.
                                Toutes les données personnelles étant confidentielles, leur accès est limité aux collaborateurs et prestataires de FLY qui en ont besoin dans le cadre de l'exécution de leur mission.
                                FLY prend des mesures techniques et organisationnelles adéquates, conformément à la législation en vigueur pour protéger vos données personnelles contre toute perte, altération, destruction, mauvaise utilisation, divulgation à des tiers non autorisés.
                                A cet effet, FLY met en place des éléments de sécurité physique et logique dont, sans que cette liste soit limitative, la surveillance permanente des sites par du personnel qualifié, un dispositif technique de restriction et de contrôle d’accès physique aux locaux dans lesquels sont situés les serveurs, un système d'identifiant et de mot de passe, des pare-feux, des antivirus,<br /> ....
                                FLY impose à ses prestataires de se conformer à ces principes de sécurité.
                                Lorsque vous transmettez des informations concernant votre carte bancaire lors de votre achat en ligne, les données que vous saisissez sont cryptées lors de leur transmission à des fins de sécurité. A cet effet, FLY utilise le système de cryptage SSL (Secure Socket Layer) qui assure la fiabilité des transactions.
                                Nous vous invitons à faire preuve de prudence pour empêcher tout accès non autorisé à vos données personnelles. Vous êtes notamment responsable de la confidentialité de votre mot de passe et des informations que vous nous transmettez. Par conséquent, vous devez vous assurer de fermer votre session en cas d'utilisation partagée d'un même ordinateur.

                            </p>
                            <h3>Conservation de vos données personnelles</h3>
                            <p>
                                FLY conserve vos données personnelles pour la durée nécessaire à leur traitement et en toute hypothèse, conformément à la législation en vigueur.
                            </p>
                            <h3>
                                Droit d'acc	ès, de modification, de rectification et de suppression de vos données personnelles
                            </h3>
                            <p>
                                Conformément à la loi du 6 janvier 1978 modifiée, relative à l'informatique, aux fichiers et aux libertés, vous disposez, sans frais, d'un droit d'accès, de modification, de rectification et de suppression de vos données personnelles (ou de faire supprimer les données inexactes ou périmées) en écrivant à l'exploitant du site fly.fr et des mini-sites rattachés dont l'adresse est la suivante : société FLY – 90 route de Guebwiller - CS 60101 - 68 265 KINGERSHEIM Cedex – France.   </p>
                       <h3>Vos questions / nous contacter</h3>
                            <p>Pour toute question concernant la présente Charte ou l'utilisation de vos données personnelles, vous pouvez contacter FLY à l'adresse ci-dessus et également par le biais de la fiche de contact présente sur le site fly.fr et les mini-sites rattachés.</p>
                            <h3>Modifications de la Charte </h3>
                            <p>FLY peut être amené à modifier la présente Charte à tout moment afin notamment de répondre à vos attentes ou en raison de l'introduction de nouveaux services ou de nouvelles technologies ou d'évolution de la législation en vigueur. A cet effet, vous êtes invités à consulter régulièrement la présente Charte.
                            </p>

                        </div>
                        <div class="col-md-2 col-xs-1">

                        </div>
                    </div>


                </div>
            </div>
        </div>
</main>

@@include('_templates/_footer.html')