@@include('_templates/_header.html')

<div class="cart-container">
    <div class="container">
        <div class="page-connection ">
            <div class="modal-header">
                <h4 class="modal-title text-center">Mot de passe oublié</h4>
            </div>
            <div class="modal-body">
                <div class="connection-wrapper">
                    <div class="connection-form col-xs-12  col-md-6" data-mh="user-column" style="height: 316px;">

                        <form action="#" method="get">
                            <div class="form-group">
                                <label for="user-email">Veuillez saisir votre adresse mail :</label>
                                <input class="form-control input-lg" placeholder="christophe.sube@gmail.com" id="user-email" type="email">
                            </div>


                            <button type="submit" class="btn btn-fly btn-lg  btn-inverse ">
                                <i class="icon-arrow-right-bold"></i> Recevoir</button>
                        </form>
                    </div>
                    <div class="new-connection col-xs-12  col-md-6" data-mh="user-column" style="height: 316px;">
                        <h3>Vous avec un compte client</h3>
                        <p>
                            Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur.
                            Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante dapibus
                            posuere velit aliquet.
                        </p>
                        <button type="submit" class="btn btn-fly btn-lg">
                            <i class="icon-arrow-right-bold"></i> Créer mon compte
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('_templates/_footer.html')