@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

<!-- BEGIN Main Container -->
<main class="fid-container">
    <div class="container">
        <div class="no-cheque-fid-container row">
            @@include('_templates/_user_sidebar.html')
            <div class="col-md-9  col-xs-12">
                <!-- include Avantages template -->
                @@include('_templates/_my-card-fid.html')
                <div class="cheque-content col-md-12">
                <h1>Mes avantages fidélité</h1>

                <p>Vous n’avez pas encore de chèque fidélité</p>
            </div>
            </div>

        </div>
    </div>
</main>
@@include('_templates/_footer.html')