@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

<!-- BEGIN Main Container -->
<main class="fid-container">
    <div class="container">
        <div class="devouv-card-container row">
            @@include('_templates/_user_sidebar.html')
            <div class="col-md-9  col-xs-12">
                <h1 class="devouv-card-title">Découvrez nos cartes fidélité</h1>
                <div class="col-md-6  col-xs-12 contour">
                    <h1>Carte fidélité FLY</h1>
                    <p>Lorem ipsum</p>
                </div>
                <div class="col-md-6  col-xs-12 contour">
                    <h1>Carte fidélité FLY FID+</h1>

                    <p>Lorem ipsum</p>
                </div>
            </div>
        </div>
    </div>
</main>
@@include('_templates/_footer.html')