@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

<!-- BEGIN Main Container -->
<main class="fid-container">
    <div class="container">
        <div class="card-fly-classic-container row">
            @@include('_templates/_user_sidebar.html')
            <div class="col-md-9  col-xs-12">
                <!-- include Avantages template -->
            @@include('_templates/_my-card-fid.html')
            @@include('_templates/_avantage_cheques.html')
            </div>
        </div>
    </div>
</main>
@@include('_templates/_footer.html')