@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')
<!-- BEGIN Main Container -->
<main class="main-container">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12 col-xs-12">
                <div class="legals">
                    <div class="row">
                        <div class="col-md-2 col-xs-1">

                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="title">
                                <h1>Garanties</h1>
                                <p>Tous nos produits sont garantis au minimum 2 ans.</p>
                            </div>
                            <div class="row">
                                <div class="col-md-1 col-xs-3">
                                    <img src="../img/garanties/3ans.jpg" />
                                </div><div class="col-md-1 col-xs-3">
                                    <img src="../img/garanties/5ans.jpg" />
                                </div><div class="col-md-1 col-xs-3">
                                    <img src="../img/garanties/10ans.jpg" />
                                </div><div class="col-md-1 col-xs-3">
                                    <img src="../img/garanties/15ans.jpg" />
                                </div>
                            </div>
                            <h4>Pour que votre satisfaction soit durable, nos produits sont garantis</h4>

                            <p>Chez Fly nous pensons que la culture du petit prix ne doit pas se faire au détriment de
                                la qualité, ni de l’environnement. Pour cette raison nous sommes très attentifs à la
                                composition et à la provenance de nos produits.</p>

                            <p>Dans la famille des meubles en bois massif par exemple, nous privilégions les meubles
                                portant le label FSC. Ces essences de bois proviennent de forêts gérées de manière
                                responsable. </p>

                            <p>Pour que votre satisfaction soit durable, elle aussi, tous nos produits, sont garantis au
                                minimum 2 ans, et davantage pour les cuisines, les dressings et de nombreux modèles de
                                sièges.</p>

                            <p>Outre les garanties légales de conformité et des vices cachés, les magasins FLY de France
                                métropolitaine consentent une garantie commerciale gratuite d'une durée minimale de deux
                                ans - qui peut être supérieure en fonction des mentions figurant sur les produits
                                concernés - à compter de la délivrance du produit, qui couvre les défauts apparents de
                                construction et de fabrication susceptibles de nuire à une utilisation normale du
                                produit.</p>

                            <p>La garantie commerciale ne peut s'appliquer que lors d'une utilisation du produit dans
                                des conditions normales et sur présentation du ticket de caisse.</p>
                            <h5>Sont exclus de cette garantie:</h5>

                            <p>- les modèles d'exposition, les articles en libre service et les soldes qui sont toujours
                                vendus dans l'état que le client reconnaît avoir constaté. Ils ne peuvent être ni
                                repris, ni échangés. Ils bénéficient cependant des garanties légales et notamment de
                                celle prévue aux articles 1641 et suivants du Code civil ci-après reproduits ;</p>

                            <p>- les dommages d'origine externe, provenant du fait intentionnel du client ou d'un
                                mauvais stockage ou transport, du non respect des instructions et mode d'emploi du
                                fabricant, du mauvais entretien ou d'un usage intensif dans les lieux publics ou
                                professionnels, d'une utilisation inappropriée, de contraintes anormales exercées sur le
                                produit, de la chute ou du choc d'un objet, ou encore dus aux effets des conditions
                                d'ambiance ;</p>

                            <p>- l'extension normale d'un revêtement de siège (tissu, cuir ou autre) entraînée par son
                                utilisation ;
                            </p>

                            <p>- l'usure normale d'un produit ou d'un revêtement consécutive à son utilisation ;
                            </p>

                            <p>- la décoloration, l'altération ou toutes les modifications et détériorations d'aspect
                                d'un revêtement ou d'un meuble dues à l'action de la lumière, des liquides ou solides,
                                ou à l'emploi de tous produits d'entretien non adaptés ;
                            </p>

                            <p>- les défauts provenant d'erreurs de montage, d'assemblage ou de calage et de réglage
                                lorsque l'acheteur s'est chargé lui-même ou a chargé un tiers de ces opérations ;
                            </p>

                            <p>- les dommages provoqués par des animaux domestiques, des parasites xylophages ou par
                                tout autre insecte ; </p>

                            <p>- les appareils électromé nagers, dont les dommages sont garantis selon les clauses du
                                certificat de garantie à disposition dans les magasins FLY et remis à tout acheteur et
                                qu’il doit signer. </p>

                            <p>La nature des matériaux employés comme la qualité des méthodes de fabrication font de
                                chaque pièce un modèle aux qualités intrinsèques particulières. De ce fait, les
                                différences d'aspect, notamment par rapport aux échantillons, photos, modèles
                                d’exposition ou livrés antérieurement ne peuvent s'apparenter à des vices.</p>

                            <p>Les produits FLY sont garantis pour un usage prévu par des consommateurs, sauf
                                spécifications contraires expresses. Ils ne sont pas destinés à un usage de
                                collectivité, ou public, et en particulier soumis à des normes spécifiques réglementant
                                les matériels utilisés par certains professionnels pour l'exercice de leur activité. En
                                conséquence, FLY décline toute responsabilité en cas de dommages résultant d'une
                                utilisation différente de la destination prévue. </p>

                            <p>Lorsque l'acheteur demande à FLY, pendant le cours de la garantie commerciale, une remise
                                en état couverte par la garantie, toute période d'immobilisation du bien d'au moins 7
                                jours vient s'ajouter à la durée de la garantie qui restait à courir à la date de la
                                demande d'intervention de l'acheteur ou de la mise à disposition pour réparation du bien
                                en cause, si cette mise à disposition est postérieure à la demande d'intervention.</p>

                            <p>En cas d'emporté, la garantie commerciale ne couvre pas les frais de transport du meuble
                                aller-retour.</p>

                            <p>Dans le cas d'une mise en œuvre justifiée de la garantie commerciale, FLY procédera à la
                                réparation du produit ou au remplacement de la pièce défectueuse. Si ces opérations
                                s'avèrent impossibles, FLY procédera à l'échange du produit par le même article ou un
                                article similaire ou à fonction équivalente.</p>
                            <h5>Rappel des dispositions légales Garantie légale de conformité - extraits du Code de
                                consommation: </h5>

                            <p><span>Article L211-4: </span>Le vendeur est tenu de livrer un bien conforme au contrat et répond des
                                défauts de conformité existant lors de la délivrance. Il répond également des défauts de
                                conformité résultant de l'emballage, des instructions de montage ou de l'installation
                                lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa
                                responsabilité.
                            </p>

                            <p><span>Article L211-5:</span> Pour être conforme au contrat, le bien doit: 1° Etre propre à l'usage
                                habituellement attendu d'un bien semblable et, le cas échéant:</p>

                            <p>- correspondre à la description donnée par le vendeur et posséder les qualités que
                                celui-ci a présentées à l'acheteur sous forme d'échantillon ou de modèle;</p>

                            <p>- présenter les qualités qu'un acheteur peut légitimement attendre eu égard aux
                                déclarations publiques faites par le vendeur, par le producteur ou par son représentant,
                                notamment dans la publicité ou l'étiquetage; 2° Ou présenter les caractéristiques
                                définies d'un commun accord par les parties ou être propre à tout usage spécial
                                recherché par l'acheteur, porté à la connaissance du vendeur et que ce dernier a
                                accepté.</p>

                            <p><span>Article L211-12:</span> L'action résultant du défaut de conformité se prescrit par deux ans à
                                compter de la délivrance du bien.</p>

                            <p>De la garantie des défauts de la chose vendue - extraits du Code civil:</p>

                            <p><span>Article 1641: </span>Le vendeur est tenu de la garantie à raison des défauts cachés de la chose
                                vendue qui la rendent impropre à l'usage auquel on la destine, ou qui diminuent
                                tellement cet usage, que l'acheteur ne l'aurait pas acquise, ou n'en aurait donné qu'un
                                moindre prix, s'il les avait connus.</p>

                            <p><span>Article 1648 :</span> 1er alinéa: L'action résultant des vices rédhibitoires doit être intentée
                                par l'acquéreur dans un délai de deux ans à compter de la découverte du vice.</p>

                            <p><span>En savoir plus sur nos Garanties spécifiques :</span></p>
                           <div class="guarante-icons">
                            <div class="row">
                                <div class="col-md-2 col-xs-6">
                                    <img src="../img/garanties/so.jpg" />
                                    <button class="no-style link">
                                        <a href="#"> <i class="icon-arrow-right-bold"></i>
                                            Garantie SO X'LUSIV</a>
                                    </button>
                                </div><div class="col-md-1">
                            </div><div class="col-md-2 col-xs-6 fly-bed">
                                <img src="../img/garanties/fly-bed.jpg" />
                                <button class="no-style link">
                                    <a href="#"> <i class="icon-arrow-right-bold"></i>
                                        Garantie SO X'LUSIV</a>
                                </button>
                            </div><div class="col-md-1">
                            </div>
                            </div>
                               </div>
                        </div>
                        <div class="col-md-2 col-xs-1">

                        </div>
                    </div>


                </div>
            </div>
        </div>
</main>

@@include('_templates/_footer.html')