@@include('_templates/_header.html')
<div class="home-container landing-page">
    <div class="container">
        <div class="title">
            <h1>Découvrez nos canapés</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Proin gravida dolor sit. Aenean euismod bibendum laoreet et vive.</p>
        </div>
        <div class="category-products">
            <div class="products-grid">
                <ul class="products-row row">
                    <ul class="products-row row">
                        <li class="item col-md-3 col-xs-6">
                            <div class="item-inner" data-mh="products-lp">
                                <!--item-img-->
                                <div class="item-img">
                                    <div class="add-wishlist">
                                        <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                    </div>


                                    <div class="item-img-info">
                                        <a href="#">
                                            <img class="img-responsive"
                                                 src="../img/products/details/PRODUIT_01.png"
                                                 data-rjs="2" alt="">
                                        </a>
                                    </div>
                                    <!--item-img-info-->
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title">
                                            <h3>Canapé relaxation</h3>
                                            Avec leur assise douillette, nos fauteuils électriques et canapés relax portent bien leur nom.
                                            <br />
                                            <a class="underline" href="#">Découvrir </a>
                                        </div>
                                    </div>
                                    <!--info-inner-->
                                </div>
                                <!--item-info-->
                            </div>
                        </li>
                        <li class="item col-md-3 col-xs-6">
                            <div class="item-inner" data-mh="products-lp">
                                <div class="item-img">
                                    <div class="add-wishlist">
                                        <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                    </div>


                                    <div class="item-img-info">
                                        <a href="#">
                                            <img class="img-responsive"
                                                 src="../img/products/details/PRODUIT_01.png"
                                                 data-rjs="2" alt="">
                                        </a>
                                    </div>
                                    <!--item-img-info-->
                                </div>
                                <!--item-img-->
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title">
                                            <h3>Canapé fixe</h3>
                                            Nes canapés fixes apportent
                                            un maximum de créativité et de confort.
                                            <br />
                                            <a class="underline" href="#">Découvrir </a>
                                        </div>
                                    </div>
                                    <!--info-inner-->
                                </div>
                                <!--item-info-->
                            </div>
                        </li>
                        <li class="item col-md-3 col-xs-6">
                            <div class="item-inner" data-mh="products-lp">
                                <div class="item-img">
                                    <div class="add-wishlist">
                                        <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                    </div>


                                    <div class="item-img-info">
                                        <a href="#">
                                            <img class="img-responsive"
                                                 src="../img/products/details/PRODUIT_01.png"
                                                 data-rjs="2" alt="">
                                        </a>
                                    </div>
                                    <!--item-img-info-->
                                </div>
                                <!--item-img-->
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title">
                                            <h3>Canapé convertible</h3>
                                            Des invités surprises à la maison ? Transformez votre banquette convertible en lit 2 personnes.
                                            <br />
                                            <a class="underline" href="#">Découvrir </a>
                                        </div>
                                    </div>
                                    <!--info-inner-->
                                </div>
                                <!--item-info-->
                            </div>
                        </li>
                        <li class="item col-md-3 col-xs-6">
                            <div class="item-inner" data-mh="products-lp">
                                <div class="item-img">
                                    <div class="add-wishlist">
                                        <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                    </div>


                                    <div class="item-img-info">
                                        <a href="#">
                                            <img class="img-responsive"
                                                 src="../img/products/details/PRODUIT_01.png"
                                                 data-rjs="2" alt="">
                                        </a>
                                    </div>
                                    <!--item-img-info-->
                                </div>
                                <!--item-img-->
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title">
                                            <h3>Banquette</h3>
                                            Couchage d'appoint par excellence, la banquette lit s'invite dans tous les styles d'intérieur.
                                            <br />
                                            <a class="underline" href="#">Découvrir </a>
                                        </div>
                                    </div>
                                    <!--info-inner-->
                                </div>
                                <!--item-info-->
                            </div>
                        </li>
                        <li class="item col-md-3 col-xs-6">
                            <div class="item-inner" data-mh="products-lp">
                                <!--item-img-->
                                <div class="item-img">
                                    <div class="add-wishlist">
                                        <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                    </div>


                                    <div class="item-img-info">
                                        <a href="#">
                                            <img class="img-responsive"
                                                 src="../img/products/details/PRODUIT_01.png"
                                                 data-rjs="2" alt="">
                                        </a>
                                    </div>
                                    <!--item-img-info-->
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title">
                                            <h3>Fauteuil</h3>
                                            Un fauteuil club pour votre bureau ou un fauteuil design pour votre salon ? <br />
                                            <a class="underline" href="#">Découvrir </a>
                                        </div>
                                    </div>
                                    <!--info-inner-->
                                </div>
                                <!--item-info-->
                            </div>
                        </li>
                        <li class="item col-md-3 col-xs-6">
                            <div class="item-inner" data-mh="products-lp">

                                <div class="item-img">
                                    <div class="add-wishlist">
                                        <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                    </div>


                                    <div class="item-img-info">
                                        <a href="#">
                                            <img class="img-responsive"
                                                 src="../img/products/details/PRODUIT_02.png"
                                                 data-rjs="2" alt="">
                                        </a>
                                    </div>
                                    <!--item-img-info-->
                                </div>
                                <!--item-img-->
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title">
                                            <h3>Pouf</h3>
                                            Confort et modernité sont au rendez-vous
                                            avec nos poufs design.  <br />
                                            <a class="underline" href="#">Découvrir </a>
                                        </div>
                                    </div>
                                    <!--info-inner-->
                                </div>
                                <!--item-info-->
                            </div>
                        </li>
                    </ul>

            </div>
            <div class="btn-group-fly gpull-right text-right">
                <a href="#" class="btn btn-fly  btn-md pull-right "> <i
                        class="icon icon-arrow-right-bold"></i> Tous nos designers</a>

                <a href="#" class="btn btn-fly btn-inverse  btn-md pull-right "> <i
                        class="icon icon-arrow-right-bold"></i> Voir ses produits</a>

            </div>
        </div>
        <div class="section-fly-by row" data-mh="section-fly-by">
            <div class="fly-by-box-visual col-md-3 col-xs-6 " data-mh="section-fly-by">
                <div class="center-cropped"
                     style="background-image: url('../img/homepage/avatar_designer.png');">
                    <img data-rjs="2" src="../img/homepage/avatar_designer.png"/>
                </div>
            </div>
            <div class="fly-by-box col-md-9 col-xs-6">
                <div class="fly-by-logo">
                    <img data-rjs="2" src="../img/homepage/flyby_logo_bloc.png" alt="">
                    <span><i class="icon-flag-fr"></i> Olivier Toulouse </span>
                </div>
                <blockquote>
                    <strong> Nouveau, joli, utile</strong>
                    ! C’est la trilogie fondamentale du design. C’est toujours un plaisir de la
                    compléter : petit, très peu cher...
                </blockquote>
            </div>
            <div class="fly-by-products col-md-9 col-xs-12">
                <div class="category-products">
                    <div class="products-grid">
                        <ul class="products-row row">
                            <li class="item col-md-4 col-xs-6">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>


                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive"
                                                     src="../img/products/details/PRODUIT_01.png"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title">
                                                <a href="#"
                                                   title="Linkup canapé convertible tissu luxury anthracite">
                                                    Linkup <br /> canapé convertible tissu luxury anthracite </a>
                                            </div>


                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                                        <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">

                                                <span class="outofstock">
Indisponible
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                            </li>

                            <li class="item col-md-4 col-xs-6">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>


                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive"
                                                     src="../img/products/details/PRODUIT_03.png"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title">
                                                <a href="#"
                                                   title="Linkup canapé convertible tissu luxury anthracite">
                                                    Sixteen <br/>
                                                    Table cuivre
                                                </a>
                                            </div>


                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">379,90€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">

                                                <span class="available">
En stock
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                            </li>
                            <li class="item col-md-4 col-xs-6">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="add-wishlist">
                                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                        </div>


                                        <div class="item-img-info">
                                            <a href="#">
                                                <img class="img-responsive"
                                                     src="../img/products/details/PRODUIT_02.png"
                                                     data-rjs="2" alt="">
                                            </a>
                                        </div>
                                        <!--item-img-info-->
                                    </div>
                                    <!--item-img-->
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-colors">
                                                <div class="total-items">5 coloris</div>
                                                <div class="item-carousel">
                                                    <div><img src="../img/products/thumb/color-0.jpg"
                                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-1.jpg"
                                                              data-src="../img/products/PRODUIT_02.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-2.jpg"
                                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-3.jpg"
                                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                              alt=""/></div>
                                                    <div><img src="../img/products/thumb/color-1.jpg"
                                                              data-src="../img/products/PRODUIT_02.png" data-rjs="2"
                                                              alt=""/></div>
                                                </div>
                                            </div>
                                            <div class="item-title">
                                                <a href="#"
                                                   title="Linkup canapé convertible tissu luxury anthracite">
                                                    Linkup <br /> canapé convertible tissu luxury anthracite </a>
                                            </div>


                                            <!--item-title-->
                                            <div class="item-content">
                                                <div class="item-price">

                                                    <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                                        <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                                    </div>

                                                </div>
                                                <!--item-price-->


                                                <div class="item-status">
                                                <span class="shipping-info">
Livré sous 10 jours
                                                </span>
                                                </div>
                                            </div>
                                            <!--item-content-->
                                        </div>
                                        <!--info-inner-->
                                    </div>
                                    <!--item-info-->
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="btn-group-fly gpull-right text-right">
                        <a href="#" class="btn btn-fly  btn-md pull-right "> <i
                                class="icon icon-arrow-right-bold"></i> Tous nos designers</a>

                        <a href="#" class="btn btn-fly btn-inverse  btn-md pull-right "> <i
                                class="icon icon-arrow-right-bold"></i> Voir ses produits</a>

                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
@@include('_templates/_footer-home.html')