@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')
<!-- BEGIN Main Container -->
<main class="main-container">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12 col-xs-12">
                <div class="liv-retours">
                        <div class="row">
                            <div class="col-md-2 col-xs-1">

                            </div>
                            <div class="col-md-12 col-xs-12">
                                <h1>Livraison et Retour</h1>
                                <h3>Paiement par CB</h3>
                                <p>Nous mettons tout en œuvre pour vous assurer un service de livrNous mettons tout en œuvre pour vous assurer un service de livr Nous mettons tout en œuvre pour vous assurer un service de livrNous mettons tout en œuvre pour vous assurer un service de livr</p>
                                <p>Nous mettons tout en œuvre pour vous assurer un service de livrNous mettons tout en œuvre pour vous assurer un service de livr</p>
                            <h5>- Le retrait en magasin</h5>
                                <p>Nous mettons tout en œuvre pour vous assurer un service de livrNous mettons tout en œuvre pour vous assurer un service de livrNous mettons tout en œuvre pour vous assurer un service de livrNous mettons tout en œuvre pour vous assurer un service de livr</p>
                            <h5>- Le retrait en magasin</h5>
                                <p>Nous mettons tout en œuvre pour vous assurer un service de livrNous mettons tout en œuvre pour vous assurer un service de livr</p>
                            <h5>- Le retrait en magasin</h5>
                                <p>Nous mettons tout en œuvre pour vous assurer un service de livrNous mettons tout en œuvre pour vous assurer un service de livr</p>
                            <h5>- Le retrait en magasin</h5>
                                <p>Nous mettons tout en œuvre pour vous assurer un service de livrNous mettons tout en œuvre pour vous assurer un service de livr</p>
                                <h3>Nos frais de livraison</h3>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Poids Kg</th>
                                        <th><span>La poste domicile </span>(1 € carton inclu)</th>
                                        <th><span>La poste retais </span>(1 € carton inclu)</th>
                                        <th><span>Vir standard</span></th>
                                        <th><span>Vir installation</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="grey">
                                        <td><1</td>
                                        <td>7.99</td>
                                        <td>7.99</td>
                                        <td>45.44</td>
                                        <td>55.44</td>
                                    </tr>
                                    <tr >
                                        <td scope="row">entre 1 et 5</td>
                                        <td>7.99</td>
                                        <td>7.99</td>
                                        <td>45.44</td>
                                        <td>55.44</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <h3>RETOUR : 14 jours pour changer d’avis</h3>
                                <p>Nous mettons tout en œuvre pour vous assurer un service de livrNous mettons tout en œuvre pour vous assurer un service de livrNous mettons tout en œuvre pour vous assurer un service de livrNous mettons tout en œuvre pour vous assurer un service de livrNous mettons tout en œuvre pour vous assurer un service de livrNous mettons tout en œuvre pour vous assurer un service de livr</p>
                                <p>Nous mettons tout en œuvre pour vous assurer un service de livrNous mettons tout en œuvre pour vous assurer un service de livr</p>
                                <p>Nous mettons tout en œuvre pour vous assurer un service de livrNous mettons tout en œuvre pour vous assurer un service de livr</p>
                            </div>
                            <div class="col-md-2 col-xs-1">

                            </div>
                        </div>


                </div>
            </div>
        </div>
</main>

@@include('_templates/_footer.html')