@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')
<!-- BEGIN Main Container -->
<main class="main-container">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12 col-xs-12">
                <div class="legals">
                    <div class="row">
                        <div class="col-md-2 col-xs-1">

                        </div>
                        <div class="col-md-12 col-xs-12">
                            <h1>Les mentions légales</h1>
                            <h5>1. - Mention relative aux logiciels disponibles sur ce site web</h5>

                            <p>Tout logiciel fourni au client par FLY à l’occasion de toute vente ou de toute
                                réservation de produit est, et reste la propriété de l’éditeur dudit logiciel. Ce
                                logiciel est protégé par les droits d’auteur de l’éditeur et/ou de ses fournisseurs.
                                L’utilisation du logiciel est régie par un contrat de licence accompagnant ou inclus
                                dans le logiciel et qui est conclu avec l’éditeur concomitamment à la vente ou à la
                                réservation du produit. L’utilisateur final doit accepter les termes du contrat de
                                licence pour pouvoir installer le logiciel. En conséquence, en cas de commande incluant
                                l’installation par FLY de logiciel(s) sur le disque dur, il est d’ores et déjà donné
                                mandat à FLY de conclure tout contrat de licence de logiciel nécessaire au nom et pour
                                le compte du client. LA COPIE OU LA REPRODUCTION DU LOGICIEL SUR UN AUTRE SERVEUR OU
                                EMPLACEMENT EN VUE D’UNE NOUVELLE REPRODUCTION OU REDISTRIBUTION EST STRICTEMENT
                                INTERDITE. FLY, en sa qualité de simple mandataire de l’éditeur ou du propriétaire du ou
                                des logiciels informatiques, ne consent aucune garantie au client concernant
                                l’utilisation ou la fiabilité de ceux-ci. La responsabilité de FLY ne pourra donc être
                                engagée pour quelque raison que ce soit, et notamment pour cause de vices cachés
                                affectant le ou les logiciels fournis et qui font l’objet d’un contrat de licence entre
                                l’éditeur et le client.</p>
                            <h5>2. - Mention relative aux documents disponibles sur le site - propriété
                                intellectuelle</h5>

                            <p>"Fly, "Fly Meubles et décoration", et tout autre slogan, marque et base-line, produit ou
                                service de FLY référencés sur le site "www.fly.fr" sont des marques nominatives et/ou
                                semi figuratives, des dessins et modèles, ou des noms commerciaux protégés et déposés
                                par la SA Meubles Rapp en France et dans d’autres pays. Leur représentation, leur
                                reproduction, leur utilisation, à quelque titre que ce soit, sont strictement
                                interdites. Les autres noms de produits ou d’entreprises mentionnés sur le site
                                "www.fly.fr" peuvent être des marques commerciales ou des marques déposées appartenant à
                                des tiers et protégées à ce titre par le droit de la propriété intellectuelle.
                                De manière générale, tous les textes, commentaires, catalogues, illustrations et images
                                reproduits sur le site "www.fly.fr" sont réservés au titre du droit d’auteur ainsi qu’au
                                titre de la propriété intellectuelle. A ce titre et conformément aux dispositions du
                                code de la propriété intellectuelle, seule la consultation de ces documents pour un
                                usage privé est autorisée sous la réserve que soient indiqués clairement le nom de
                                l’auteur et la source.
                                Toute autre utilisation est constitutive d’une contrefaçon sanctionnée pénalement. Les
                                éléments du site FLY sont protégés par le droit des dessins et modèles, le droit
                                d’auteur, le droit des marques ainsi que par la réglementation applicable à la
                                concurrence déloyale et ils ne peuvent être copiés ou imités en tout ou partie. Sauf
                                autorisation expresse de FLY, aucun logo, élément graphique, son ou image provenant du
                                site ne peut être copié ou diffusé. Toute reproduction totale ou partielle du catalogue
                                FLY est strictement interdite.
                                FLY n’autorise ses visiteurs à copier électroniquement et à imprimer sur un support
                                papier les informations du site que dans le seul but de préparer leurs achats. Les
                                documents et éléments graphiques publiés sur ce serveur sont susceptibles de contenir
                                des inexactitudes techniques ou des erreurs typographiques. Des changements sont
                                périodiquement apportés aux informations de ce site. FLY peut apporter à tout moment des
                                améliorations et/ou des changements au(x) produit(s) et/ou au(x) programme(s) décrit(s)
                                sur ce site.
                                La responsabilité de FLY ne peut en aucun cas être recherchée, quel que soit le
                                fondement invoqué, pour des dommages directs, indirects, accessoires ou incidents (ni de
                                tout dommage qui résulte d’un arrêt d’utilisation, d’une perte de données ou d’une perte
                                de bénéfices) résultant de, ou liés à l’utilisation ou au fonctionnement des logiciels
                                ou des documents (ainsi qu’à la fourniture ou au défaut de fourniture de services)
                                disponibles sur ce serveur.</p>
                            <h5>3. - Liens vers des sites tiers </h5>

                            <p>Les liens de cette zone vous font quitter le site FLY. Les sites cibles ne sont pas sous
                                le contrôle de FLY qui n’est pas responsable du contenu de ces sites, des liens qu’ils
                                contiennent ni des changements ou mises à jour qui leur sont apportés. FLY n’est pas
                                responsable du webcasting ou de toute autre forme de transmission reçue d’un site cible.
                                FLY fournit ces liens pour votre commodité, et l’inclusion de tout lien n’implique pas
                                l’approbation du site applicable par FLY.</p>
                            <h5>4. - Conditions de vente FLY</h5>

                            <p>Les prix indiqués sont des prix en libre service, hors livraison. La plupart de nos
                                produits sont vendus démontés, prêts à être assemblés. Les prix de ce site sont des prix
                                recommandés. Les descriptifs de nos articles concernent uniquement les parties
                                apparentes. Photos non contractuelles. En sélectionnant votre magasin vous pourrez
                                consulter le prix en vigueur dans votre magasin.</p>

                            <p>En raison de la situation géographique des magasins de Guadeloupe et de Nouvelle
                                Calédonie, les prix, les offres de produits, de services et de financement ainsi que les
                                opérations commerciales sont susceptibles de diverger de ceux présentés sur le site
                                fly.fr. Veuillez vous renseigner en magasin.</p>
                            <h5>5. - Notice légale</h5>

                            <p>Conformément aux dispositions de l’article 6 III-1 de la loi n° 2004-575 du 21 juin 2004
                                pour la confiance dans l’économie numérique, nous vous informons que :</p>

                            <p>- le présent site est la propriété de la société FLY, immatriculée au Registre du
                                Commerce et des Sociétés de Mulhouse sous le n° 345 029 474 - n° TVA FR 76345029474,
                                dont le siège est situé 90 rue de Guebwiller, 68260 Kingersheim (e-mail :
                                societefly@fly.fr ; téléphone : 03.89.62.36.36).
                                - le directeur de la publication du site internet est M. Nicolas FINCK en qualité de
                                dirigeant de la société Fly
                                - le prestataire assurant le stockage direct et permanent est société Fly.
                                L’utilisateur reconnaît avoir pris connaissance des présentes conditions d’utilisation
                                et s’engage à les respecter.
                                L’utilisateur du site internet reconnaît disposer de la compétence et des moyens
                                nécessaires pour accéder et utiliser ce site.
                                L’utilisateur du site internet FLY reconnaît avoir vérifié que la configuration
                                informatique utilisée ne contient aucun virus et qu’elle est en parfait état de
                                fonctionnement.
                                L’exploitant du site internet met tout en œuvre pour offrir aux utilisateurs des
                                informations et/ou des outils disponibles et vérifiés mais ne saurait être tenu pour
                                responsable des erreurs, d’une absence de disponibilité des informations et/ou de la
                                présence de virus sur son site.
                                Les informations fournies par l’exploitant du site internet le sont à titre indicatif et
                                ne sauraient dispenser l’utilisateur d’une analyse complémentaire et personnalisée.
                                L’exploitant du site internet ne saurait garantir l’exactitude, la complétude,
                                l’actualité des informations diffusées sur son site.
                                En conséquence, l’utilisateur reconnaît utiliser ces informations sous sa responsabilité
                                exclusive.
                                En conformité avec les dispositions de la loi Informatique et libertés du 6 janvier 1978
                                modifiée, les traitements automatisés de données à caractère personnel réalisés à partir
                                du site internet FLY ont fait l’objet d’une déclaration auprès de la Commission
                                nationale de l’informatique et des libertés (Cnil) qui a délivré un récépissé sous le
                                numéro n°1868681.
                                L’utilisateur est notamment informé que, conformément à l’article 32 de la loi
                                Informatique et libertés du 6 janvier 1978 modifiée, les informations communiquées par
                                l’utilisateur du fait des formulaires présents sur le site, sont nécessaires pour
                                répondre à sa demande et sont destinés à l’exploitant du site internet, responsable du
                                traitement à des fins de gestion administrative et commerciale.
                                L’utilisateur est informé qu’il dispose d’un droit d’accès, d’opposition et de
                                rectification portant sur les données le concernant en écrivant à l’exploitant du site
                                internet dont l’adresse est la suivante : société FLY, 990 route de Guebwiller - CS
                                60101 - 68 265 KINGERSHEIM Cedex, France.
                                L’utilisateur est informé que, lors de ses visites sur le site, un cookie peut
                                s’installer automatiquement sur son logiciel de navigation.
                                Le cookie est un bloc de données qui ne permet pas d’identifier les utilisateurs mais
                                sert à enregistrer des informations relatives à la navigation de celui-ci sur le site.
                                Le paramétrage du logiciel de navigation permet d’informer de la présence de cookie et
                                éventuellement de la refuser de la manière décrite à l’adresse suivante :
                                http://www.cnil.fr/ .
                                L’utilisateur dispose d’un droit d’accès, de retrait et de modification des données à
                                caractère personnel communiquées par le biais des cookies dans les conditions indiquées
                                ci-dessus.
                                Les utilisateurs du site internet FLY sont tenus de respecter les dispositions de la loi
                                Informatique et libertés du 6 janvier 1978 modifiée dont la violation est passible de
                                sanctions pénales.
                                Ils doivent notamment s’abstenir, s’agissant des informations à caractère personnel
                                auxquelles ils accèdent, de toute collecte, de toute utilisation détournée et, d’une
                                manière générale, de tout acte susceptible de porter atteinte à la vie privée ou à la
                                réputation des personnes.
                                La structure générale, ainsi que les logiciels, textes, images animées ou non, sons,
                                savoir-faire et tous les autres éléments composant le site sont la propriété exclusive
                                de l’exploitant du site internet.
                                Toute représentation totale ou partielle de ce site par quelque société que ce soit,
                                sans l’autorisation expresse de l’exploitant du site internet, est interdite et
                                constituerait une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code
                                de la propriété intellectuelle.
                                Il est en de même des bases de données figurant, le cas échéant, sur le site internet
                                FLY, qui sont protégées par les dispositions de la loi du 1er juillet 1998 portant
                                transposition dans le Code de la propriété intellectuelle de la directive européenne du
                                11 mars 1996 relative à la protection juridique des bases de données.
                                Les marques de l’exploitant du site internet et de ses partenaires, ainsi que les logos
                                figurant sur le site sont des marques semi-figuratives ou non et sont déposées.
                                Toute reproduction totale ou partielle de ces marques ou de ces logos effectués à partir
                                des éléments du site sans l’autorisation expresse de l’exploitant du site internet est
                                donc prohibée au sens de l’article L.713-2 du Code de la propriété intellectuelle.
                                Les utilisateurs et visiteurs du site internet ne peuvent mettre en place un hyperlien
                                en direction de ce site sans l’autorisation expresse et préalable de l’exploitant du
                                site internet.
                                L’exploitant du site internet ne saurait être responsable de l’accès par les
                                utilisateurs via les liens hypertextes mis en place dans le cadre du site internet en
                                direction d’autres ressources présentes sur le réseau internet.</p>
                            <h5>6. - Disponibilité des produits</h5>

                            <p>Les articles présentés sur le site www.fly.fr sont représentatifs de la collection FLY.
                                Tous ces articles ne sont cependant pas exposés à la vente dans l’ensemble de nos
                                magasins. Néanmoins, chaque magasin peut enregistrer votre commande et mettre à votre
                                disposition l’article de votre choix dans un délai qui vous sera communiqué sur simple
                                demande formulée auprès de votre magasin. Vous pouvez également consulter en ligne la
                                disponibilité des produits dans le magasin sélectionné.</p>
                        </div>
                        <div class="col-md-2 col-xs-1">

                        </div>
                    </div>


                </div>
            </div>
        </div>
</main>

@@include('_templates/_footer.html')