@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')
        <!-- BEGIN Main Container -->
        <main class="main-container">
            <div class="container">
                <div class="row">
                    <div class="hidden-xs"> @@include('_templates/_user_sidebar.html')</div>
                    <div class="main-content col-md-9  col-xs-12">
                        <div class="my-informations">
                            <div class="retour"><a href="#">Retour</a></div>
                            <h1>Mes informations</h1>
                        <form class="form infos-account">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="field form-group col-md-12">
                                        <label>*Civilité :</label>
                                        <div class="radio-inline">
                                            <div class="radiobox">
                                                <input type="radio" name="civilite-1" id="mme-0" class="css-radio">
                                                <label for="mme-0" class="css-label">
                                                    <span>Madame</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="radio-inline">
                                            <div class="radiobox">
                                                <input type="radio" name="civilite-1" id="m-0" class="css-radio">
                                                <label for="m-0" class="css-label">
                                                    <span>Monsieur</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    
                                     <div class="field field-name required">
                                <div class="control">
                                    <div class="name"> 
                                        <label for="">* Nom :</label></div>
                                    <input class="form-control" value="Sube" type="text">
                                </div>
                            </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="field field-lastname required">
                                <div class="control">
                                    <div class="lastname"> 
                                        <label for="">* Prénom :</label></div>
                                    <input class="form-control" value="Christophe" type="text">
                                </div>
                            </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                            <div class="field field-email ">
                                <div class="control">
                                    <div class="email"> 
                                        <label for="">* Adresse e-mail :</label></div>
                                    <input class="form-control" value="christophe.sube@5emegauche.com" type="text">
                                </div>
                            </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                     <div class="field field-password ">
                                <div class="control">
                                    <div class="password"> 
                                        <label for="">* Mot de passe :</label></div>
                                    <input class="form-control" value="" type="password">
                                    <span class="underline showpass" data-click-state="1">Afficher</span>
                                </div>
                            </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="field field-password2 ">
                                <div class="control">
                                    <div class="password2"> 
                                        <label for="">* Confirmation du mot de passe :</label></div>
                                    <input class="form-control" value="" type="password">
                                    <span class="underline showpass" data-click-state="1">Afficher</span>
                                </div>
                            </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="checkbox">
                                    <input name="same_adresse" id="same_adresse" checked="true" class="css-checkbox" data-toggle="collapse" data-target="#other-address" aria-expanded="true" type="checkbox">
                                    <label for="same_adresse" class="css-label">
                                <span>
                                          Je souhaite recevoir la newsletter Fly
                                       </span>
                                    </label>
                                </div>
                            </div>
                                 <div class="row access">
                                <div class="col-md-6 col-xs-4">
                                <a href="#" class="cancel ">Annuler</a>
                                </div>
                                 <div class="col-md-6 col-xs-6">
                                     <button id="" class="btn btn-fly btn-lg btn-inverse">
                                   Enregistrer les modifications
                                </button> 
                                </div>
                            </div>
                        </form>
                       
                        </div>
                       
                    </div>
                          

                </div>
            </div>
        </main>
@@include('_templates/_footer.html')