@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

<!-- BEGIN Main Container -->
<main class="fid-container">
    <div class="container">
        <div class="card-fly-classic-container row">
           <div class="hidden-xs"> @@include('_templates/_user_sidebar.html')</div>
            <div class="col-md-9  col-xs-12">


                <div class="my-purchases">
                    <div class="retour"><a href="#">Retour</a></div>
                    <h1>Mes achats</h1>
                    <h2>Mes commandes en cours</h2>
                    <div class="first-bloc bloc-f-border">
                        <div class="row">
                            <div class="col-md-9  col-xs-12">
                                <div class="mrg-t-14">
                                    <div class="row">
                                        <div class="col-md-3  col-xs-6">
                                            <div class="date">19/09/2016</div>
                                        </div>
                                        <div class="col-md-3  col-xs-6">
                                            <div class="ref">réf : XXXXXXXXXX</div>
                                        </div>
                                        <div class="col-md-3  col-xs-6">
                                            <div class="price">159,00€</div>
                                        </div>
                                        <div class="col-md-3  col-xs-6">
                                            <div class="statut-pending">En préparation</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3  col-xs-12">
                                <div class="row">
                                    <div class="col-md-12 col-xs-6">
                                        <a href="#" class="btn btn-fly btn-md ">Annuler la commande</a>
                                    </div>
                                    <div class="col-md-12 col-xs-6">
                                        <a href="#" class="btn btn-fly btn-md ">Facture (PDF)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2>Mes dernières commandes</h2>
                    <div class="bloc first">
                        <div class="row">
                            <div class="col-md-9  col-xs-8">
                                <div class="row">
                                    <div class="col-md-3  col-xs-6">
                                        <div class="date">19/09/2016</div>
                                    </div>
                                    <div class="col-md-3  col-xs-6">
                                        <div class="ref">réf : XXXXXXXXXX</div>
                                    </div>
                                    <div class="col-md-3  col-xs-6">
                                        <div class="price">159,00€</div>
                                    </div>
                                    <div class="col-md-3  col-xs-6">
                                        <div class="statut-cancel">Soldé</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3  col-xs-4">
                                <a href="#" class="btn btn-fly btn-lg ">Facture (PDF)</a>
                            </div>
                        </div>
                    </div>
                    <div class="bloc second">
                        <div class="row">
                            <div class="col-md-9  col-xs-8">
                                <div class="row">
                                    <div class="col-md-3  col-xs-6">
                                        <div class="date">19/09/2016</div>
                                    </div>
                                    <div class="col-md-3  col-xs-6">
                                        <div class="ref">réf : XXXXXXXXXX</div>
                                    </div>
                                    <div class="col-md-3  col-xs-6">
                                        <div class="price">189,00€</div>
                                    </div>
                                    <div class="col-md-3  col-xs-6">
                                        <div class="statut-cancel">Soldé</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3  col-xs-4">
                                <a href="#" class="btn btn-fly btn-lg ">Facture (PDF)</a>
                            </div>
                        </div>
                    </div>
                    <div class="bloc last">
                        <div class="row">
                            <div class="col-md-9  col-xs-8">
                                <div class="row">
                                    <div class="col-md-3  col-xs-6">
                                        <div class="date">19/09/2016</div>
                                    </div>
                                    <div class="col-md-3  col-xs-6">
                                        <div class="ref">réf : XXXXXXXXXX</div>
                                    </div>
                                    <div class="col-md-3  col-xs-6">
                                        <div class="price">49,90€</div>
                                    </div>
                                    <div class="col-md-3  col-xs-6">
                                        <div class="statut-cancel">Annulé</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3  col-xs-4">
                                <a href="#" class="btn btn-fly btn-lg ">Facture (PDF)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@@include('_templates/_footer.html')
