@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')
        <!-- BEGIN Main Container -->
        <main class="main-container">
            <div class="container">
                <div class="row">
                    <div class="hidden-xs"> @@include('_templates/_user_sidebar.html')</div>
                    <div class="main-content col-md-9  col-xs-12">
                        <div class="edit-address">
                            <div class="retour"><a href="#">Retour</a></div>
                            <h1>Modifier une adresse</h1>
                            <form class="form infos-account" id="form1">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="field form-group col-md-12">
                                            <label>*Civilité :</label>
                                            <div class="radio-inline">
                                                <div class="radiobox">
                                                    <input type="radio" name="civilite-1" id="mme-0" class="css-radio">
                                                    <label for="mme-0" class="css-label">
                                                        <span>Madame</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="radio-inline">
                                                <div class="radiobox">
                                                    <input type="radio" name="civilite-1" id="m-0" class="css-radio">
                                                    <label for="m-0" class="css-label">
                                                        <span>Monsieur</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">

                                        <div class="field form-group field-name required">
                                            <div class="control">
                                                <div class="name"> 
                                                    <label for="">* Nom :</label></div>
                                                <input class="form-control" value="Sube" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="field form-group field-lastname required">
                                            <div class="control">
                                                <div class="lastname"> 
                                                    <label for="">* Prénom :</label></div>
                                                <input class="form-control" value="Christophe" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="field form-group field-adresse ">
                                            <div class="control">
                                                <div class="adresse"> 
                                                    <label for="">* Adresse :</label></div>
                                                <input class="form-control" value="3 impasse de la planchette" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="field form-group field-adresse-bis ">
                                            <div class="control">
                                                <div class="adresse"> 
                                                    <label for="">* Complément d'adresse :</label></div>
                                                <input class="form-control" value="RDC - Fond de cour" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="field form-group field-country">
                                            <div class="control">
                                                <div class="postal-code">
                                                    <label for="">* Pays :</label></div>
                                                <div id="pays">
                                                    <div class="dropdown btn-select">
                                                        <a id="pays-id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="btn-select-value">Choisissez</span>
                                                            <input class="btn-select-input" value="Choisissez" type="hidden">
                                                            <span class="btn-select-arrow icon icon-arrow-down-bold"></span>
                                                        </a>
                                                        <ul class="dropdown-menu" aria-labelledby="pays-id">
                                                            <li class="option" data-value="4">Maroc</li>
                                                            <li class="option" data-value="5">France</li>
                                                            <li class="option" data-value="10">Suisse</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="field form-group field-postal-c ">
                                                        <div class="control">
                                                        <div class="postal-code"> 
                                                            <label for="">* Code postal :</label></div>
                                                        <input class="form-control" value="75003" type="text">
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="field form-group field-city ">
                                                       <div class="control">
                                                        <div class="city"> 
                                                            <label for="">* Ville :</label>
                                                        </div>
                                                        <input class="form-control" value="PARIS" type="text">
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="field form-group field-telephone ">
                                            <div class="control">
                                                <div class="telephone"> 
                                                    <label for="">* Télephone :</label></div>
                                                <input class="form-control" value="016061626364" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="field form-group field-newsletter ">
                                        <div class="control">
                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="adresses">
                                        <div class="col-md-12 first">
                                            <div class="checkbox ">
                                                <input name="address-shipping" id="address-shipping" class="css-checkbox" type="checkbox">
                                                <label for="address-shipping" class="css-label">
                                                    <strong>
                                                        Adresse livraison par default
                                                    </strong>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 first">
                                            <div class="checkbox ">
                                                <input name="address-order" id="address-order" class="css-checkbox" type="checkbox">
                                                <label for="address-order" class="css-label">
                                                    <strong>
                                                        Adresse de facturation par default
                                                    </strong>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-5">
                                        <a href="#" class="cancel" >Annuler</a>
                                    </div>
                                    <div class="col-md-6 col-xs-7">
                                        <button id="" class="btn-fly btn-lg btn-inverse">
                                            Enregistrer les modifications
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </main>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script language="JavaScript">
    $(document).ready(function() {

        $(".cancel").bind("click", function() {
            $("input[type=text], textarea").val("");
        });
    });
</script>
    @@include('_templates/_footer.html')