@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

<!-- BEGIN Main Container -->
<main class="dashboard-container">
    <div class="container">
        <div class="row">
            <div class="hidden-xs"> @@include('_templates/_user_sidebar.html')</div>
            <div class="col-md-9  col-xs-12">
                <div class="my-prefered-store col-md-12 col-xs-12">
                    <div class="retour"><a href="#">Retour</a></div>
                    <div class="my-prefered-store-title">Mon magasin préféré </div>
                   <div class="my-prefered-store-search-bar">
                       <div class="search-bar-body">
                           <div class="search-bar-elt col-md-5">
                               <p>Trouvez le magasin le plus proche de chez vous</p>
                           </div>
                           <div class="search-bar-elt col-md-3 col-xs-12">
                               <button id="getPositionButton" class="btn-fly btn-lg btn-inverse"><i class="icon-location"></i>
                                   Proche de moi
                               </button>
                           </div>
                           <div class="search-bar-elt col-md-1 col-xs-12">
                               <p>ou</p>
                           </div>
                           <div class="search-bar-elt col-md-3 col-xs-12">
                               <div id="custom-search-input">
                                   <div class="input-group col-md-12">
                                       <input type="text" class="form-control input-lg" placeholder="Code postal" value="75001"/>
                                        <span class="input-group-btn">
                                            <button class="btn btn-lg" type="button">
                                                <i class="icon-search"></i>
                                            </button>
                                        </span>
                                   </div>
                               </div>
                           </div>
                       </div>
                    </div>
                    <div id="dashboard-map-stores" class="map">
                        <div class="stores-search-result">
                            <div class="nbr-stores-found">3 magasins trouvés</div>
                            <div class="stores-found">
                                <div class="store-found">

                                    <span class="store-lib">Créteil</span> <span class="store-dist">- 10 Km</span><span
                                        class="store-chose">  <a class="btn-fly btn-lg" href="#"> <span>Choisir</span>
                                </a> </span>
                                </div>
                                <div class="store-found">
                                    <span class="store-lib">Créteil</span> <span class="store-dist">- 10 Km</span><span
                                        class="store-chose">  <a class="btn-fly btn-lg" href="#"> <span>Choisir</span>
                                </a> </span>
                                </div>
                                <div class="store-found">
                                    <span class="store-lib">Créteil</span> <span class="store-dist">- 10 Km</span><span
                                        class="store-chose">  <a class="btn-fly btn-lg" href="#"> <span>Choisir</span>
                                </a> </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
@@include('_templates/_footer.html')