    @@include('_templates/_header.html')
<!-- BEGIN Product Container -->
<main class="product-container">
    <article itemscope itemtype="http://schema.org/Product">
        <div class="product-view">

            @@include('_templates/_breadcrumbs.html')

            <div class="container">

                <div class="row">
                    <div data-mh="my-product" class="product-img-box  col-md-8 col-xs-12">
                        <div class="badges">
                            <ul>
                                <li><img src="../img/common/NEW.png" data-rjs="2" alt=""/></li>
                                <!--<li><img src="../img/common/WEBONLY.png" data-rjs="2" alt=""/></li>-->
                                <!--<li><img src="../img/common/FIRST.png" data-rjs="2" alt=""/></li>-->
                                <li><img class="flag" src="../img/common/FLAG_FRANCE.png" data-rjs="2" alt=""/></li>
                            </ul>
                        </div>
                        <div class="add-wishlist">
                            <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                        </div>
                        <div id='carousel-product' class='carousel slide' data-ride='carousel' data-interval="0">
                            <div class='carousel-outer'>
                                <!-- me art lab slider -->
                                <div class='carousel-inner '>
                                    <div class='item active'>
                                        <img src='../img/products/details/VISUEL_PRINCIPAL.jpg' data-rjs="2"
                                             alt=''
                                             data-zoom-image="../img/products/details/VISUEL_PRINCIPAL@2x.jpg"/>
                                        <!-- change data-zoom-image by full HD image -->
                                    </div>
                                    <div class='item'>
                                        <img src='../img/products/details/VISUEL_PRINCIPAL.jpg' data-rjs="2"
                                             alt=''
                                             data-zoom-image="../img/products/details/VISUEL_PRINCIPAL@2x.jpg"/>
                                        <!-- change data-zoom-image by full HD image -->
                                    </div>
                                    <div class='item'>
                                        <img src='../img/products/details/VISUEL_PRINCIPAL.jpg' data-rjs="2"
                                             alt=''
                                             data-zoom-image="../img/products/details/VISUEL_PRINCIPAL@2x.jpg"/>
                                        <!-- change data-zoom-image by full HD image -->
                                    </div>
                                    <div class='item'>
                                        <img src='../img/products/details/VISUEL_PRINCIPAL.jpg' data-rjs="2"
                                             alt=''
                                             data-zoom-image="../img/products/details/VISUEL_PRINCIPAL@2x.jpg"/>
                                        <!-- change data-zoom-image by full HD image -->
                                    </div>
                                    <div class='item'>
                                        <img src='../img/products/details/VISUEL_AMBIANCE.png' data-rjs="2"
                                             alt=''
                                             data-zoom-image="../img/products/details/VISUEL_AMBIANCE@2x.png"/>
                                        <!-- change data-zoom-image by full HD image -->
                                    </div>

                                </div>

                                <!-- sag sol -->
                                <a class='left carousel-control' href='#carousel-product' data-slide='prev'>
                                    <i class="icon-arrow-left-light"></i>
                                </a>
                                <a class='right carousel-control' href='#carousel-product' data-slide='next'>
                                    <i class="icon-arrow-right-light"></i>
                                </a>
                            </div>


                        </div>
                        <!-- thumb -->
                        <ol class='carousel-indicators '>
                            <li data-target='#carousel-product' data-slide-to='0' class='active'>
                                <img src='../img/products/details/VIGNETTES_01.png' data-rjs="2" alt=''/>
                            </li>
                            <li data-target='#carousel-product' data-slide-to='1'>
                                <img src='../img/products/details/VIGNETTES_02.png' data-rjs="2" alt=''/>
                            </li>
                            <li data-target='#carousel-product' data-slide-to='2'>
                                <img src='../img/products/details/VIGNETTES_03.png' data-rjs="2" alt=''/>
                            </li>
                            <li data-target='#carousel-product' data-slide-to='3'>
                                <img src='../img/products/details/VIGNETTES_02.png' data-rjs="2" alt=''/>
                            </li>
                            <li data-target='#carousel-product' data-slide-to='4'>
                                <img src='../img/products/details/VIGNETTES_05.png' data-rjs="2" alt=''/>
                            </li>

                        </ol>
                    </div>
                    <div data-mh="my-product" class="product-shop col-md-4  col-xs-12">
                        <div class="product-name">
                            <h1 itemprop="name"><span class="small">Canapé</span> Norway</h1>

                            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                <p class="availability  in-stock">
                                <span>
                                     <link itemprop="availability" href="http://schema.org/InStock"/>
                                    En stock
                                </span>
                                </p>

                                <div class="price-box">
                                    <div class="solde">
                                        <span class="price-off">-20% </span>
                                    </div>
                                    <div class="sale-price">
                                        <span class="price" itemprop="price" content="499.90">499,90<span
                                                itemprop="priceCurrency" content="EUR">€</span></span>
                                    </div>
                                    <div class="regular-price">
                                        <span class="price">599€ </span>
                                    </div>
                                    <div class="notice">
                                        dont 1,00€ d’<span class="underline">éco part</span>
                                    </div>

                                </div>
                            </div>
                            <div class="payment-box">
                                <table class="no-style">
                                    <tr>
                                        <td><strong> ou </strong></td>
                                        <td>
                                            <div id="payment-period">
                                                <div class="dropdown btn-select">
                                                    <a id="payment-period-id" data-toggle="dropdown"
                                                       aria-haspopup="true"
                                                       aria-expanded="false">
                                                        <span class="btn-select-value">20</span>
                                                        <input type="hidden" class="btn-select-input" value="20">
                                                        <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                                                    </a>
                                                    <ul class="dropdown-menu" aria-labelledby="payment-period-id">
                                                        <li class="option" data-value="4">4</li>
                                                        <li class="option" data-value="5">5</li>
                                                        <li class="option" data-value="10">10</li>
                                                        <li class="option" data-value="20">20</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                        <td><strong> x <span id="period-terms">6,30</span>€ </strong></td>
                                    </tr>
                                </table>
                                <span class="underline">
                                    Réglez en 4, 5, 10, 20 fois sans frais
                                </span>
                            </div>
                            <div class="product-colors">
                                <div class="total-items"><strong>18 coloris</strong> : Rose</div>
                                <div class="item-carousel">
                                    <div><img src="../img/products/details/COLORIS_1.png"
                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                              alt=""/></div>
                                    <div><img src="../img/products/details/COLORIS_2.png"
                                              data-src="../img/products/PRODUIT_02.png" data-rjs="2"
                                              alt=""/></div>
                                    <div><img src="../img/products/details/COLORIS_3.png"
                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                              alt=""/></div>
                                    <div><img src="../img/products/details/COLORIS_4.png"
                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                              alt=""/></div>
                                    <div><img src="../img/products/details/COLORIS_5.png"
                                              data-src="../img/products/PRODUIT_02.png" data-rjs="2"
                                              alt=""/></div>
                                    <div><img src="../img/products/details/COLORIS_1.png"
                                              data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                              alt=""/></div>
                                    <div><img src="../img/products/details/COLORIS_2.png"
                                              data-src="../img/products/PRODUIT_02.png" data-rjs="2"
                                              alt=""/></div>
                                </div>
                            </div>
                            <div class="product-infos">
                                <p><strong>Disponible</strong> dans le magasin <span class="underline">Créteil</span>
                                </p>
                                <ul>
                                    <li>Retrait gratuit en magasin</li>
                                    <li>Livraison à domicile sous 10 jours
                                        <button type="button" id="shipping-popover"
                                                data-container="body"
                                                data-toggle="popover"
                                                data-placement="left"
                                                data-content="
                                                <ul class='text-center'>
                                                    <li><strong>En magasin</strong>: Gratuit</li>
                                                    <li><strong>A domicile</strong>: dès 25€</li>
                                                    <li><a href='#' class='underline'>en savoir plus</a></li>
                                                </ul>
                                                "
                                                data-original-title="<i class='icon-box'></i> Livraison et retours"
                                                title="">
                                            <i class="icon-info"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>

                            <div class="add-to-basket">
                                <div class="btn-group" role="group" aria-label="...">
                                    <div class="dropdown btn-select" role="group">
                                        <a id="add-to-basket-id" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            <span class="btn-select-value">1</span>
                                            <input type="hidden" class="btn-select-input" value="1">
                                            <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="add-to-basket">
                                            <li class="option" data-value="1">1</li>
                                            <li class="option" data-value="2">2</li>
                                            <li class="option" data-value="3">3</li>
                                            <li class="option" data-value="4">4</li>
                                            <li class="option" data-value="5">5</li>
                                            <li class="option" data-value="6">6</li>
                                            <li class="option" data-value="7">7</li>
                                            <li class="option" data-value="8">8</li>
                                            <li class="option" data-value="9">9</li>
                                            <li class="option" data-value="10">10</li>
                                        </ul>
                                    </div>

                                    <button type="button" data-toggle="modal" data-target="#added-to-cart"
                                            class="btn btn-add-to-basket">Ajouter au panier
                                    </button>
                                </div>

                            </div>
                            <div class="availability-info">
                                <a class="underline" role="button" href="#storelocator"
                                   data-toggle="modal" data-target="#storelocator">
                                    Voir la disponibilité en magasin
                                </a>
                            </div>
                            <br />
                            <div class="availability-info">
                                <a class="underline" role="button" href="#newsletter"
                                   data-toggle="modal" data-target="#newsletter">
                                    newsletter popup
                                </a>
                            </div>
                            <br />
                            <div class="availability-info">
                                <a class="underline" role="button" href="#newsletter2"
                                   data-toggle="modal" data-target="#newsletter2">
                                    newsletter popup succes
                                </a>
                            </div>
                            <br />
                            <div class="availability-info">
                                <a class="underline" role="button" href="#popup-vide"
                                   data-toggle="modal" data-target="#popup-vide">
                                     popup vide
                                </a>
                            </div>
                            <div class="social col-xs-12 text-center">
                                <ul class="links">
                                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                                    <li><a href="#"><i class="icon-pinterest"></i></a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#share-by-email">
                                        <i class="icon-mail"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="product-descriptive" itemprop="description">
                    <div class="col-lg-8  col-xs-12 ">
                        <h3 class="product-descriptive-title">Descriptif produit</h3>

                        <p>Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Donec
                            ullamcorper
                            nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Maecenas
                            faucibus
                            mollis interdum. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna
                            mollis
                            euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras
                            mattis
                            consectetur purus sit amet fermentum. Maecenas sed diam eget risus varius blandit sit
                            amet non
                            magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                        </p>
                        <ul>
                            <li><strong>Informations supplémentaires :</strong> <img src="../img/common/TRIMANN.png"
                                                                                     data-rjs="2" alt=""/>
                                <img src="../img/common/logo_FSC.png" data-rjs="2" alt=""/></li>
                            <li><strong>Référence</strong> : 77736045</li>
                            <li>
                                <button class="no-style" data-toggle="modal" data-target="#composition"><strong
                                        class="underline">Composition</strong></button>
                            </li>
                        </ul>
                    </div>
                    <div class="product-design col-xs-12 col-lg-4">
                        <img src="../img/products/details/VISUEL_PRODUIT.png" data-rjs="2" alt=""/>
                    </div>
                </div>
                <div class="product-technical-details col-xs-12">
                    <h3 class="product-descriptive-title">Détails techniques</h3>
                    <ul>
                        <li data-mh="technical-info">
                            <strong>Dimensions </strong>
                            <span>Hauteur : 78cm</span>
                            <span>Longueur : 194 cm</span>
                            <span>Profondeur ; 93 cm</span>
                        </li>
                        <li data-mh="technical-info">
                            <strong>Colis</strong>
                            <span>Nombre de colis : 1</span>
                            <span>Poids : 1.7 kg</span>
                            <span>L65 x H60 x P35 cm - 1.7 kg</span>
                        </li>
                        <li data-mh="technical-info">
                            <strong>Entretien</strong>
                            <span>Cuir</span>
                            <span>&nbsp;</span>
                            <span class="underline">Voir nos conseils d’entretien</span>
                        </li>
                        <li data-mh="technical-info">
                            <strong>Facile à monter</strong>
                            <span><i class="icon-clock"></i> <b>1h30</b> de montage</span>
                            <span>&nbsp;</span>
                            <span><i class="icon-users"></i> <b>2</b> personnes</span>
                        </li>
                        <li data-mh="technical-info">
                            <strong>Brochure de montage</strong>
                            <span>Fournie</span>
                            <a href="#" class="btn-fly btn-lg ">Télécharger (PDF)</a>

                        </li>
                    </ul>
                </div>
                <div class="related-products col-xs-12 ">
                    <h3 class="title">Vous aimerez aussi</h3>

                    <div class="category-products">
                        <div class="products-grid">
                            <ul class="products-row row">
                                <li class="item col-md-3 col-xs-6">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="add-wishlist">
                                                <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                            </div>

                                            <div class="price-off">
                                                <span class="price-off">-20%</span>
                                            </div>

                                            <div class="item-img-info">
                                                <a href="#">
                                                    <img class="img-responsive"
                                                         src="../img/products/details/PRODUIT_01.png"
                                                         data-rjs="2" alt="">
                                                </a>
                                            </div>
                                            <!--item-img-info-->
                                        </div>
                                        <!--item-img-->
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title">
                                                    <a href="#"
                                                       title="Linkup canapé convertible tissu luxury anthracite">
                                                        Linkup canapé convertible tissu luxury anthracite </a>
                                                </div>


                                                <!--item-title-->
                                                <div class="item-content">
                                                    <div class="item-price">

                                                        <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                                            <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                                        </div>

                                                    </div>
                                                    <!--item-price-->


                                                    <div class="item-status">

                                                <span class="outofstock">
Indisponible
                                                </span>
                                                    </div>
                                                </div>
                                                <!--item-content-->
                                            </div>
                                            <!--info-inner-->
                                        </div>
                                        <!--item-info-->
                                    </div>
                                </li>
                                <li class="item col-md-3 col-xs-6">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="add-wishlist">
                                                <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                            </div>


                                            <div class="item-img-info">
                                                <a href="#">
                                                    <img class="img-responsive"
                                                         src="../img/products/details/PRODUIT_02.png"
                                                         data-rjs="2" alt="">
                                                </a>
                                            </div>
                                            <!--item-img-info-->
                                        </div>
                                        <!--item-img-->
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-colors">
                                                    <div class="total-items">5 coloris</div>
                                                    <div class="item-carousel">
                                                        <div><img src="../img/products/thumb/color-0.jpg"
                                                                  data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                                  alt=""/></div>
                                                        <div><img src="../img/products/thumb/color-1.jpg"
                                                                  data-src="../img/products/PRODUIT_02.png" data-rjs="2"
                                                                  alt=""/></div>
                                                        <div><img src="../img/products/thumb/color-2.jpg"
                                                                  data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                                  alt=""/></div>
                                                        <div><img src="../img/products/thumb/color-3.jpg"
                                                                  data-src="../img/products/PRODUIT_01.png" data-rjs="2"
                                                                  alt=""/></div>
                                                        <div><img src="../img/products/thumb/color-1.jpg"
                                                                  data-src="../img/products/PRODUIT_02.png" data-rjs="2"
                                                                  alt=""/></div>
                                                    </div>
                                                </div>
                                                <div class="item-title">
                                                    <a href="#"
                                                       title="Linkup canapé convertible tissu luxury anthracite">
                                                        Linkup canapé convertible tissu luxury anthracite </a>
                                                </div>


                                                <!--item-title-->
                                                <div class="item-content">
                                                    <div class="item-price">

                                                        <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">1 397€</span>
                                                            </span>
                                                            <span class="regular-price">
                                            <span class="price">1 500€</span>
                                                            </span>

                                                        </div>

                                                    </div>
                                                    <!--item-price-->


                                                    <div class="item-status">
                                                <span class="shipping-info">
Livré sous 10 jours
                                                </span>
                                                    </div>
                                                </div>
                                                <!--item-content-->
                                            </div>
                                            <!--info-inner-->
                                        </div>
                                        <!--item-info-->
                                    </div>
                                </li>
                                <li class="item col-md-3 col-xs-6">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="add-wishlist">
                                                <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                            </div>


                                            <div class="item-img-info">
                                                <a href="#">
                                                    <img class="img-responsive"
                                                         src="../img/products/details/PRODUIT_03.png"
                                                         data-rjs="2" alt="">
                                                </a>
                                            </div>
                                            <!--item-img-info-->
                                        </div>
                                        <!--item-img-->
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title">
                                                    <a href="#"
                                                       title="Linkup canapé convertible tissu luxury anthracite">
                                                        Sixteen <br/>
                                                        Table cuivre
                                                    </a>
                                                </div>


                                                <!--item-title-->
                                                <div class="item-content">
                                                    <div class="item-price">

                                                        <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">379,90€</span>
                                                            </span>

                                                        </div>

                                                    </div>
                                                    <!--item-price-->


                                                    <div class="item-status">

                                                <span class="available">
En stock
                                                </span>
                                                    </div>
                                                </div>
                                                <!--item-content-->
                                            </div>
                                            <!--info-inner-->
                                        </div>
                                        <!--item-info-->
                                    </div>
                                </li>
                                <li class="item col-md-3 col-xs-6">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="add-wishlist">
                                                <a class="link-wishlist" href="#"><i class="icon-heart-empty"></i></a>
                                            </div>

                                            <div class="price-off">
                                                <span class="price-off">-20%</span>
                                            </div>

                                            <div class="item-img-info">
                                                <a href="#">
                                                    <img class="img-responsive"
                                                         src="../img/products/details/PRODUIT_04.png"
                                                         data-rjs="2" alt="">
                                                </a>
                                            </div>
                                            <!--item-img-info-->
                                        </div>
                                        <!--item-img-->
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title">
                                                    <a href="#"
                                                       title="Linkup canapé convertible tissu luxury anthracite">
                                                        Nouvell <br/>
                                                        Canapé 3 places tissu gris clair

                                                    </a>
                                                </div>


                                                <!--item-title-->
                                                <div class="item-content">
                                                    <div class="item-price">

                                                        <div class="price-box">
                                                            <span class="sale-price">
                                            <span class="price">379,90€</span>
                                                            </span>

                                                        </div>

                                                    </div>
                                                    <!--item-price-->


                                                    <div class="item-status">

                                                <span class="outofstock">
Indisponible
                                                </span>
                                                    </div>
                                                </div>
                                                <!--item-content-->
                                            </div>
                                            <!--info-inner-->
                                        </div>
                                        <!--item-info-->
                                    </div>
                                </li>
                            </ul>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </article>
</main>

@@include('_templates/_modals.html')
@@include('_templates/_footer.html')