@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')
<!-- BEGIN Main Container -->
<main class="main-container">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12 col-xs-12">
                <div class="normes">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">

                            <h1>Les normes</h1>
                            <h3>Eco-participation</h3>
                                <div class="icon-eco-mobilier">
                                    <img src="../img/normes/eco-mobilier.jpg" />
                                </div>
                            <h2 class="eco">
                                FLY  <span>AGIT ET S’engage </span>avec éco-mobilier
                            </h2>
                            <p><span>Les professionnels français de l’ameublement ont créé Eco-mobilier,</span> un éco-organisme sans but lucratif agréé par le ministère de l’écologie.
                                <br /><br />
                                Conformément à la réglementation en vigueur, Eco-mobilier perçoit sur chaque vente de meuble neuf, une éco-participation
                                qui apparaît sur nos étiquettes prix. Payée par les consommateurs, elle est intégralement reversée à Eco-mobilier pour
                                le financement de la collecte et du recyclage des meubles usagés.</p>
                            <br />
                            <a href="#" class="underline"> > En savoir plus sur eco-mobilier.fr </a>
                            <br /><br />
                            <h4>Signalétique TRIMAN</h4>
                            <p class="sign">
                                La signalétique commune <span>TRIMAN </span>est un repère visuel pour indiquer au consommateur que le produit et/ou son emballage
                                font l'objet d'une consigne de tri en vue du recyclage
                            </p>

                            <div class="fsc">
                                <h3>Ecolabel FSC</h3>
                                <div class="row">
                                    <div class="col-md-2 col-xs-6 col-sm-2">
                                        <img src="../img/normes/fsc.jpg" />
                                    </div>
                                    <div class="col-md-10 col-xs-6 col-sm-10">
                                        <div class="title">
                                            <h2>
                                                <span>FSC</span> un ecolabel responsable
                                            </h2>
                                            <p>La marque de gestion forestière responsable</p>
                                            </div>
                                        <div class="hidden-md hidden-sm hidden-xs">
                                        <p><span>Soucieux de contribuer à une gestion responsable des ressources forestières, Fly a sélectionné plusieurs gammes de meubles en bois distinguées par le label international FSC </span>
                                            (Forest Stewarship Council).</p>
                                        <p>Le FSC est une organisation non-gouvernementale indépendante fondée suite à la Conférence de Rio de 1992, afin de préserver les ressources forestières au niveau de la planète et d'éviter l'exploitation économique des populations locales. Pour satisfaire aux exigences du label FSC, les exploitations forestières doivent être gérées dans le respect de la biodiversité de la faune et de la flore ainsi que des équilibres écologiques naturels. Ce cahier des charges rigoureux a pour but de préserver les ressources naturelles des pays producteurs et de veiller à ce que les populations locales bénéficient également des retombées économiques ainsi générées.</p>
                                        <p>La certification FSC n'est attribuée qu'aux producteurs s'engageant au respect de toutes ces exigences et garantissant une traçabilité de tous les produits utilisant du bois dans leur composition. En privilégiant le bois issu de forêt gérée de manière responsable, Fly s'engage dans une démarche de développement durable et contribue à préserver les ressources écologiques naturelles de notre planète.
                                        </p>
                                        <a href="#" class="underline">Voir les produits Fly labélisés FSC </a></div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="hidden-lg mobile">
                                            <p><span>Soucieux de contribuer à une gestion responsable des ressources forestières, Fly a sélectionné plusieurs gammes de meubles en bois distinguées par le label international FSC </span>
                                                (Forest Stewarship Council).</p>
                                            <p>Le FSC est une organisation non-gouvernementale indépendante fondée suite à la Conférence de Rio de 1992, afin de préserver les ressources forestières au niveau de la planète et d'éviter l'exploitation économique des populations locales. Pour satisfaire aux exigences du label FSC, les exploitations forestières doivent être gérées dans le respect de la biodiversité de la faune et de la flore ainsi que des équilibres écologiques naturels. Ce cahier des charges rigoureux a pour but de préserver les ressources naturelles des pays producteurs et de veiller à ce que les populations locales bénéficient également des retombées économiques ainsi générées.</p>
                                            <p>La certification FSC n'est attribuée qu'aux producteurs s'engageant au respect de toutes ces exigences et garantissant une traçabilité de tous les produits utilisant du bois dans leur composition. En privilégiant le bois issu de forêt gérée de manière responsable, Fly s'engage dans une démarche de développement durable et contribue à préserver les ressources écologiques naturelles de notre planète.
                                            </p>
                                            <a href="#" class="underline">Voir les produits Fly labélisés FSC </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="nf">
                                <h3>NF AmeublementC</h3>
                                <div class="row">
                                    <div class="col-md-2 col-xs-6 col-sm-2">
                                        <img src="../img/normes/nf.jpg" />
                                    </div>
                                    <div class="col-md-10 col-xs-6 col-sm-10">
                                        <div class="title">
                                            <h2>
                                                <span>NF Ameublement</span> <br /> L’assurance d’acheter <br />
                                                un meuble de qualité <br />
                                                prouvée
                                            </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <p>Parce que vous êtes attentifs dans votre vie quotidienne à la qualité des produits, à ce qu’ils soient sains et respectueux de l’environnement, vous êtes de plus en plus nombreux à trouver naturel que vos meubles s’inscrivent également dans cette démarche.
                                Une réponse s’impose : NF Ameublement !</p>
                            <div class="qualite">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="bloc guarantee"  data-mh="normes-bloc">
                                            <h4>LES GARANTIES DE LA MARQUE <br /> NF AMEUBLEMENT</h4>
                                            <p>Acheter des meubles sûrs, solides, durables et sains, au-delà des exigences règlementaires.
                                                Acheter sans soucis, en toute transparence et confiance un meuble évalué par un organisme technique indépendant : <span>l’Institut Technologique FCBA.</span>
                                                Acheter un meuble apte à l’emploi, testé selon des normes européennes et françaises dans les conditions les plus sévères de la vie quotidienne.</p>
                                        </div>
                                       </div>
                                    <div class="col-md-6">
                                        <div class="bloc certif"  data-mh="normes-bloc">
                                            <h4>LES CARACTÉRISTIQUES CERTIFIÉES <br />
                                                DES MEUBLES NF AMEUBLEMENT</h4>
                                            <p>Sécurité, durabilité, qualité d'exécution, environnement, santé.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="bloc domest"  data-mh="normes-bloc">
                                            <h4>ELLE CONCERNE LES MEUBLES À USAGE <br />DOMESTIQUE</h4>
                                            <p>Mobilier de cuisine et de salle de bains
                                                Siège (fauteuil, canapé, relax, convertible…)
                                                Mobilier de puériculture, de chambre à coucher, salon, séjour (table, lit, meuble de rangement…)</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="bloc verif"  data-mh="normes-bloc">
                                            <h4>TOUTES LES EXIGENCES SONT <br />
                                                VÉRIFIÉES ET QUANTIFIÉES</h4>
                                            <p>Elles sont consultables dans le référentiel NF Ameublement accessible sur <a href="www.nf-ameublement.com">www.nf-ameublement.com.</a>
                                                Ce référentiel a été élaboré en concertation avec les associations de consommateurs, les utilisateurs, les distributeurs, les fabricants, les laboratoires et les pouvoirs publics.
                                                Pour tout meuble certifié, des essais et audits réguliers en entreprise ont été effectués par le FCBA afin de s’assurer de la conformité du meuble</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <h3>À SAVOIR</h3>
                            <p>
                                <span>Cette démarche du fabricant de meubles est volontaire :</span><br />
                                il s’engage à fabriquer des meubles conformes au référentiel de la marque et à les reproduire à l’identique.</p>
                    <p>Ce n’est pas parce qu’un meuble n’est pas certifié NF qu’il n’est pas conforme à la règlementation. Néanmoins, <span>un meuble certifié NF, c’est l’assurance d’un produit répondant aux normes en vigueur, puisque la marque est cautionnée par l’Institut Technologique FCBA.</span></p>
                        <p><span>Ainsi, le logo NF reprend la symbolique du sceau, gage de qualité, de sûreté et de fiabilité pour le consommateur : “ce qui est dit, est prouvé”.
</span></p>
                            <p><span>Tout meuble certifié est reconnaissable par une estampille </span> (située sur une porte à l’intérieur d’un meuble, sous l’assise d’une chaise, sous le plateau d’une table, etc.).</p>
                        </div>


                </div>
            </div>
        </div>
</main>

@@include('_templates/_footer.html')