@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')
<!-- BEGIN Main Container -->
<main class="main-container">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12 col-xs-12">
                <div class="page-404">
                    <div class="404-content">
                        <div class="middle-column">
                            <h1>Oups!</h1>
                            <h5>La page que vous cherchez <br />
                                n'est pas disponible, nous vous invitons <br />
                                à découvrir nos collections</h5>
                            <a href="#" class="underline">Retour à l’accueil</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</main>

@@include('_templates/_footer.html')