@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')
<!-- BEGIN Main Container -->
<main class="main-container">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12 col-xs-12">
                <div class="secure-payment">
                    <div class="row">
                        <div class="col-md-2 col-xs-1">

                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="title">
                                <h1>Paiement sécurisé</h1>
                            </div>
                            <div class="payment">
                                <h3>Paiement par CB</h3>

                                <p>Mise à disposition gratuitement d’une camionnette, selon les conditions affichées en
                                    magasin Mise à disposition gratuitement d’une camionnette, selon les conditions
                                    affichées en magasin</p>
                            </div>
                            <div class="payment">
                                <h3>Paiement par Cetelem</h3>

                                <p>Mise à disposition gratuitement d’une camionnette, selon les conditions affichées en magasin Mise à disposition gratuitement d’une camionnette, selon les conditions affichées en magasin</p>
                            </div>
                            <div class="payment">
                                <h3>Paiement par carte Fid +</h3>

                                <p>Mise à disposition gratuitement d’une camionnette, selon les conditions affichées en magasin Mise à disposition gratuitement d’une camionnette, selon les conditions affichées en magasin</p>
                            </div>
                            <div class="payment last">
                                <h3>Paiement par carte cadeau</h3>

                                <p>Mise à disposition gratuitement d’une camionnette, selon les conditions affichées en magasin Mise à disposition gratuitement d’une camionnette, selon les conditions affichées en magasin</p>
                            </div>
                        </div>
            <div class="col-md-2 col-xs-1">

            </div>
        </div>
    </div>
    </div>
    </div>
</main>

@@include('_templates/_footer.html')