@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

<div class="cart-container">
    <div class="container">
        <div class="cart-listing col-md-8">
            <h1 class="cart-title">Panier <span class="count-item">2 Produits</span></h1>
            <div class="cart-products">
                <ul>
                    <li class="cart-product">
                        <div class="product-thumb col-xs-5 col-md-3">
                            <img src="../img/products/PRODUIT_01.png" alt="">
                        </div>
                        <div class="product-description col-xs-7 col-md-9">
                            <div class="row">
                                <div class="btn-delete">
                                    <a href="#"><i class="icon-trash"></i></a>
                                </div>
                                <h3>Norway</h3>
                                <strong class="subname">Canapé fixe 3 pl tissu rose bonbon</strong>
                                <span>  Livré sous 10 jours</span>
                            </div>

                            <div class="row">
                                <div class="price-box">
                                    <div class="sale-price">
                                        <span class="price" >499,90 €</span>
                                    </div>
                                    <div class="regular-price">
                                        <span class="price">599€ </span>
                                    </div>
                                    <div class="notice">
                                        dont 1,00€ d’<span class="underline">éco part</span>
                                    </div>

                                </div>
                                <div class="order-box">
                                    <table>
                                        <tr>
                                            <td>

                                                <div class="input-group">
          <span class="input-group-btn">
              <button type="button" class="btn-number" data-type="minus" data-field="quant[2]">
                <span class="icon-minus"></span>
              </button>
          </span>
                                                    <input type="text" name="quant[2]" class="form-control input-number"
                                                           value="10" min="1" max="100">
                                                    <span class="input-group-btn">
              <button type="button" class="btn-number" data-type="plus" data-field="quant[2]">
                   <span class="icon-plus"></span>
              </button>
          </span>
                                                </div>
                                            </td>
                                            <td class="price">
                                                <div class="sale-price">
                                                    <span class="price" >499,90 €</span>
                                                </div>
                                                <div class="regular-price">
                                                    <span class="price">599€ </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>


                        </div>
                        <div class="extended-warranty col-xs-12">
                            <table class="no-style">
                                <tr>
                                    <td>
                                        <strong>Garantie 100% immediat 3 ans</strong>
                                        <span class="underline">En savoir plus</span>
                                    </td>
                                    <td><strong>10,00€</strong></td>
                                    <td>
                                        <a href="#" class="btn btn-fly pull-right btn-lg">
                                            Ajouter
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </li>
                    <li class="cart-product">
                        <div class="product-thumb col-xs-5 col-md-3">
                            <img src="../img/products/PRODUIT_02.png" alt="">
                        </div>
                        <div class="product-description col-xs-7 col-md-9">
                            <div class="row">
                                <div class="btn-delete">
                                    <a href="#"><i class="icon-trash"></i></a>
                                </div>
                                <h3>Norway</h3>
                                <strong class="subname">Canapé fixe 3 pl tissu rose bonbon</strong>
                                <span>  Livré sous 10 jours</span>
                            </div>

                            <div class="row">
                                <div class="price-box">
                                    <div class="sale-price">
                                        <span class="price" >499,90 €</span>
                                    </div>
                                    <div class="regular-price">
                                        <span class="price">599€ </span>
                                    </div>
                                    <div class="notice">
                                        dont 1,00€ d’<span class="underline">éco part</span>
                                    </div>

                                </div>
                                <div class="order-box">
                                    <table>
                                        <tr>
                                            <td>

                                                <div class="input-group">
          <span class="input-group-btn">
              <button type="button" class="btn-number" data-type="minus" data-field="quant[3]">
                <span class="icon-minus"></span>
              </button>
          </span>
                                                    <input type="text" name="quant[3]" class="form-control input-number"
                                                           value="10" min="1" max="100">
                                                    <span class="input-group-btn">
              <button type="button" class="btn-number" data-type="plus" data-field="quant[3]">
                   <span class="icon-plus"></span>
              </button>
          </span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="sale-price">
                                                    <span class="price" >499,90 €</span>
                                                </div>
                                                <div class="regular-price">
                                                    <span class="price">599€ </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>


                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cart-order  col-md-4">
            <h1 class="order-title">Votre commande </h1>
            <table class="no-style sub-total">
                <tr>
                    <td><span>Sous-total</span></td>
                    <td class="text-right"><strong>2019,50€</strong></td>
                </tr>
                <tr class="green">
                    <td><span>Frais de livraison estimés</span></td>
                    <td class="text-right"><strong>Offert</strong></td>
                </tr>
            </table>
            <div class="coupon">
            <table class="no-style ">
                <tr>
                    <td colspan="2"><span>Code de réduction</span></td>
                    <td>
                        <div class="input-group">
                            <input type="text" name="coupon" class="btn-lg " placeholder="xxxxxxxx">
                            <span class="input-group-btn">
              <button type="button" class="btn btn-fly pull-right btn-lg ">
                   <span>Utiliser</span>
              </button>
          </span>
                        </div>

                    </td>
                </tr>
            </table>
            </div>
            <div class="order">
                <h3>Total  <span class="amount" content="2019.50">2019,50€</span></h3>
                <div class="input-group ">
                  <button type="submit" class="btn btn-fly btn-lg btn-block btn-inverse">
                       <span>Passer ma commande</span>
                  </button>
                </div>
                <div class="payment-box">
                    <table class="no-style">
                        <tr>
                            <td><strong> ou </strong></td>
                            <td>
                                <div id="payment-period">
                                    <div class="dropdown btn-select">
                                        <a id="payment-period-id" data-toggle="dropdown"
                                           aria-haspopup="true"
                                           aria-expanded="false">
                                            <span class="btn-select-value">20</span>
                                            <input type="hidden" class="btn-select-input" value="20">
                                            <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="payment-period-id">
                                            <li class="option" data-value="4">4</li>
                                            <li class="option" data-value="5">5</li>
                                            <li class="option" data-value="10">10</li>
                                            <li class="option" data-value="20">20</li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                            <td><strong> x <span id="period-terms">6,30</span>€ </strong></td>
                        </tr>
                    </table>
                    <span class="underline">
                                    Réglez en 4, 5, 10, 20 fois sans frais
                                </span>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('_templates/_modals.html')
@@include('_templates/_footer.html')