@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs_recrutement.html')

<!-- BEGIN Main Container -->
<main class="main-container" id="recrutement">
  <div class="container">
    <div class="row">

      @@include('_templates/_sidebar_recrutement.html')

      <div class="main-content col-md-9 col-xs-12 page-validate">
        <h2>Votre candidature</h2>
        <h3>Au poste d’acheteur chef de produit H/F</h3>
        <div class="row">
          <div class="col-sm-12">
            <hr>
            <p class="validate">
                <strong>Votre candidature a bien été envoyée</strong><br>
                Nous vous contacterons par email sous X jours pour vous donner notre réponse
            </p>
            <hr>
          </div>
          <div class="col-sm-12">
            <a href="./offres.html" class="button back"><i class="icon icon-arrow-left-bold"></i>Retour aux offres</a>
          </div>
        </div>
      </div> <!--/main-content -->
    </div>
  </div>
</main>
@@include('_templates/_footer.html')
