@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs_recrutement.html')

<!-- BEGIN Main Container -->
<main class="main-container" id="recrutement">
  <div class="container">
    <div class="row">

      @@include('_templates/_sidebar_recrutement.html')

      <div class="main-content col-md-9 col-xs-12">
        <h1 class="title-page">Travailler pour Fly</h1>
        <img src="../img/recrutement/nous-rejoindre.jpg" alt="">
        <h2>Travailler pour Fly</h2>
        <h3>Un idée que partagent déjà 2330 personnes, pourquoi pas vous ?  </h3>

        <h4>Nos valeurs</h4>
        <p>Chez Fly, nous sommes plus de 2300 à faire vivre le même projet : concevoir et animer des magasins à taille humaine, agréables pour ceux qui y travaillent comme pour ceux qui les fréquentent.</p>
        <p>Nous aimons les produits que nous vendons. Nous apprécions aussi de passer du temps avec nos clients pour les guider, les conseiller et faciliter leurs projets.</p>

        <h4>Nos métiers</h4>
        <p>Nous sommes l'une des premières enseignes spécialisées dans le mobilier jeune et tendance. Notre succès tient beaucoup à notre esprit d'équipe basé sur l'enthousiasme, le dynamisme et le goût du changement.</p>
        <p>Chez Fly il y a plein de métiers très différents. Mais que l'on soit manager, conseiller de vente, décorateur, magasinier, ou responsable commercial... nous savons que la réussite est toujours collective.</p>

        <h4>Notre engagement</h4>
        <p>Nous pensons aussi que le succès professionnel va de pair avec l'épanouissement personnel. Alors si vous aimez l'univers de la décoration et de la vente, que vous soyez débutant ou expérimenté, rejoignez-nous.</p>


      </div> <!--/main-content -->


    </div>
  </div>
</main>
@@include('_templates/_footer.html')
