@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs_recrutement.html')

<!-- BEGIN Main Container -->
<main class="main-container" id="recrutement">
  <div class="container">
    <div class="row">

      @@include('_templates/_sidebar_recrutement.html')

      <div class="main-content col-md-9 col-xs-12">
        <h1 class="title-page">Candidature spontanée</h1>
        <img src="../img/recrutement/offres.jpg" alt="">
        <h2>Envoyer une candidature spontanée</h2>
        <form action="#" class="col-sm-10 form">
          <div class="row">
            <div class="col-sm-12">
              <h3>Vos coordonnées</h3>
            </div>
            <div class="col-sm-12 form-group radio">
              <span class="label"><sup>*</sup>Civilité: </span>
              <div class="radio-inline">
                <div class="radiobox">
                  <input id="mme-0" class="css-radio" name="civilite-1" type="radio">
                  <label class="css-label" for="mme-0">
                    <span>Madame</span>
                  </label>
                </div>
              </div>
              <div class="radio-inline">
                <div class="radiobox">
                  <input id="m-0" class="css-radio" name="civilite-1" type="radio">
                  <label class="css-label" for="m-0">
                    <span>Monsieur</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-sm-6 form-group">
              <label for="firstname">
                <sup>*</sup>Nom:
                <input type="text" id="firstname">
              </label>
            </div>
            <div class="col-sm-6 form-group">
              <label for="lastname">
                <sup>*</sup>Prénom:
                <input type="text" id="lastname">
              </label>
            </div>
            <div class="col-sm-6 form-group">
              <label for="address">
                <sup>*</sup>Addresse:
                <input type="text" id="address">
              </label>
            </div>
            <div class="col-sm-6 form-group">
              <label for="complementaddress">
                <sup>*</sup>Complément d'addresse:
                <input type="text" id="complementaddress">
              </label>
            </div>
            <div class="col-sm-12 form-group">
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-sm-5 col-xs-6">
                      <label for="cp">
                        <sup>*</sup>Code postal:
                        <input type="text" id="cp">
                      </label>
                    </div>
                    <div class="col-sm-7 col-xs-6">
                      <label for="city">
                        <sup>*</sup>Ville:
                        <input type="text" id="city">
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 form-group">
              <label for="mail">
                <sup>*</sup>Adresse e-mail:
                <input type="text" id="mail">
              </label>
            </div>
            <div class="col-sm-6 form-group">
              <label for="tel">
                <sup>*</sup>Téléphone:
                  <input type="text" id="tel">
              </label>
            </div>
            <div class="col-sm-12">
              <h3>Poste recherché</h3>
            </div>
            <div class="col-sm-6">
              <label>Métiers</label>
              <div class="dropdown btn-select">
                <a id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="btn-select-value">Choisissez</span>
                  <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="">
                  <li><a href="#0">Commercial</a></li>
                  <li><a href="#0">Acheteur Chef de produit</a></li>
                  <li><a href="#0">Directeur</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6">
              <label>Magasins</label>
              <div class="dropdown btn-select">
                <a id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="btn-select-value">Choisissez</span>
                  <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="">
                  <li><a href="#0">Paris XVeme</a></li>
                  <li><a href="#0">Creteil</a></li>
                  <li><a href="#0">Nice</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-12">
              <h3>Votre candidature</h3>
            </div>
            <div class="col-sm-6 form-group">
              <label for="cv">
                <sup>*</sup>CV (Curriculum vitea)
                <input type="file" name="cv" id="cv" class="inputfile" />
                <label for="cv"><span></span> <strong>Parcourir</strong></label>
                <span class="infos">5mo max - Formats acceptés : pdf, jpg, doc, docx, odt</span>
              </label>
            </div>
            <div class="col-sm-6 form-group">
              <label for="motiv">
                <sup>*</sup>Lettre de motivation
                <input type="file" name="motiv" id="motiv" class="inputfile" />
                <label for="motiv"><span></span> <strong>Parcourir</strong></label>
                <span class="infos">5mo max - Formats acceptés : pdf, jpg, doc, docx, odt</span>
              </label>
            </div>
            <div class="col-sm-12">
              <label for="comment">
                Commentaire
                <textarea name="comment" id="comment"></textarea>
              </label>
            </div>
            <div class="form-group col-sm-12">
              <div class="g-recaptcha" data-sitekey="6LfXTQ0UAAAAAB2eebypOjo9LNh0qmJ5JXmA7zc-"></div>
            </div>
            <div class="col-sm-12 buttons-action">
              <a href="./offres.html" class="back pull-left">Consulter les offres</a>
              <input type="submit" value="Envoyer ma candidature" class="button pull-right" />
            </div>
            <div class="col-sm-12 conditions">
              <p><sup>*</sup>Champs obligatoires</p>
              <p>Les informations de ce formulaire sont exclusivement réservée à l'enseigne FLY et ne feront en aucun cas l'objet de cession à une autreentreprise. Conformément à la loi informatique et libertés du 6 janvier 1978 (art. 34), vous disposez d'un droit d'accès, de rectification,de suppression et d'opposition des données vous concernant. Vous pouvez faire valoir ce droit en nous écrivant à l'adresse suivante :FLY 90 rue de Guebwiller – CS 60101 - 68265 KINGERSHEIM Cedex FRANCE.</p>
            </div>
          </div> <!--/row -->
        </form>
      </div> <!--/main-content -->


    </div>
  </div>
</main>
<script src='https://www.google.com/recaptcha/api.js'></script>
@@include('_templates/_footer.html')
