@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')
<!-- BEGIN Main Container -->
<main class="main-container">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12 col-xs-12">
                <div class="retour-commande">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <h2>Retour de commande</h2>
                                <p>Vous souhaitez nous retourner un ou plusieurs produits. </p>
                                <p>Poour cela vous suffit de sélectionner le produit à retourner puis de renseigner pour chacun des articles la quantité et motif de retour. Pour plus de détails sur la procédure
                                    <br />de retour, <a href="" class="underline">cliquez ici</a> </p>
                                <p><span>Nom de la vente :</span> LAVIADELTE6<br />
                                    <span>N° de commande :</span> VP200876198</p>
                                <h2>Détails de la commande</h2>
                                <div class="cart-products">
<ul>
    <li class="cart-product">
        <table class="table table-bordered">
            <thead class="hidden-sm hidden-xs">
            <tr>
                <th class="center">Produit <br />à retourner</th>
                <th>Designation produit</th>
                <th>Qte à retourner</th>
                <th>Motif de retour</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="center"><div class="checkbox">
                    <input name="card-confirm" id="card-confirm" class="css-checkbox collapsed" data-toggle="collapse" data-target="#gift-card-form" aria-expanded="false" type="checkbox">
                    <label for="card-confirm" class="css-label">
                    </label>
                </div></td>
                <td>
                    <div class="product-thumb col-xs-3 col-md-3">
                        <img src="../img/products/PRODUIT_01.png" alt="">
                    </div>
                    <div class="product-description col-xs-9 col-md-9">
                        <div class="row">
                            <h3>Norway</h3>
                            <strong class="subname">Canapé fixe 3 pl tissu rose bonbon</strong>
                            <span>  Livré sous 10 jours</span>
                        </div>

                        <div class="row">
                            <div class="price-box">
                                <div class="sale-price">
                                    <span class="price">499,90 €</span>
                                </div>
                                <div class="regular-price">
                                    <span class="price">599€ </span>
                                </div>
                                <div class="notice">
                                    dont 1,00€ d’<span class="underline">éco part</span>
                                </div>

                            </div>
                            <div class="order-box">
                                <table>
                                    <tbody><tr>
                                        <td class="">
                                            <div class="sale-price">
                                                <span class="price">499,90 €</span>
                                            </div>
                                            <div class="regular-price">
                                                <span class="price">599€ </span>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody></table>

                            </div>

                        </div>
                    </div>
                </td>
                <td class="qte"> <div class="order-box">

                                <div class="input-group">
          <span class="input-group-btn">
              <button type="button" class="btn-number" data-type="minus" data-field="quant[2]">
                  <span class="icon-minus"></span>
              </button>
          </span>
                                    <input name="quant[2]" class="form-control input-number" value="10" min="1" max="100" type="text">
                                                    <span class="input-group-btn">
              <button type="button" class="btn-number" data-type="plus" data-field="quant[2]">
                  <span class="icon-plus"></span>
              </button>
          </span>
                                </div>

                </div></td>
                <td class="motif"><div id="motif">
                    <div class="dropdown btn-select">
                        <a id="motif-id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="btn-select-value">Choisissez</span>
                            <input class="btn-select-input" value="Choisissez" type="hidden">
                            <span class="btn-select-arrow icon icon-arrow-down-bold"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="motif-id">
                            <li class="option" data-value="4">La couleur / La matière / Les finitions me déçoivent </li>
                            <li class="option" data-value="5">Le produit est trop grand</li>
                            <li class="option" data-value="10">J'ai changé d'avis</li>
                        </ul>
                    </div>
                </div></td>
            </tr>

            </tbody>
        </table>
    </li>
</ul>
                        </div>
                            <div class="col-md-2 col-xs-1">

                            </div>
                        </div>


                </div>
                    <form class="form">
                        <div class="row">

                            <div class="field field-comment ">
                                <div class="control">
                                    <div class="commentaire">
                                        <label for="">* Commentaire :</label></div>
                       <textarea name="textarea" rows="5" cols="100%">
                       </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row access">
                            <div class="col-md-4 col-xs-6">
                                <a href="#" class="cancel ">Revenir à toutes les questions</a>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <a href="#" class="cancel ">Consulter une autre commande</a>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <button id="" class="btn btn-fly btn-lg btn-inverse">
                                    Envoyer
                                </button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
            </div>


    </div>
</main>

@@include('_templates/_footer.html')