@@include('_templates/_header.html')
@@include('_templates/_breadcrumbs.html')

<!-- BEGIN Main Container -->
<main class="main-container">
    <div class="container">
        <div class="row">

            <div class="main-content col-md-12  col-xs-12">
                <div class="service-magasin">
                    <div class="title">
                        <h1>Services en magasin</h1>
                        <p> La déco, le design, sont tellement bénéfiques à notre quotidien que tout <br />
                            le monde doit y avoir accès ! Nous vous facilitons la vie en magasin : </p>
                    </div>
                    <div class="icons">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="icon icon-1" data-mh="icons-service">
                                    <i class="icon-truck-service-shipping"></i>
                                    <h3>Service<br />
                                        de livraison</h3>
                                    <p>livraison, déballage, vérification, installation<br />
                                        dans la pièce de votre choix, et montage par <br />
                                        notre prestataire de livraison</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="icon icon-2" data-mh="icons-service">
                                    <i class="icon-truck-rent"></i>
                                    <h3>Location<br />
                                        de camionette</h3>
                                    <p> Mise à disposition gratuitement d'une  <br />
                                    camionnette, selon les conditions affichées <br />
                                    en magasin</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="icon icon-3" data-mh="icons-service">
                                    <i class="icon-design-deco"></i>
                                    <h3>Des experts design<br />
                                        et déco à votre service</h3>
                                    <p> En panne d'inspiration, venez rencontrer nos  <br />
                                    équipes en magasin et leur parler de vos projets</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="icon icon-4" data-mh="icons-service">
                                    <i class="icon-card-loyalty"></i>
                                    <h3>Nos cartes de fidélités <br />
                                        et de financement</h3>
                                    <p>Rendez vous en magasin pour créer vos cartes  <br />
                                    de fidélité et de financement Fly et profitez <br />
                                    ainsi des nombreux avantages de nos  <br />
                                    programmes de fidélité <br /></p>
                                    <a href="" class="underline">En savoir plus</a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="icon icon-5" data-mh="icons-service">
                                    <i class="icon-guarantee"></i>
                                    <h3>Garantie</h3>
                                    <p>Tous nos produits sont garantis  <br />
                                    au minimum 2 ans.  <br /></p>
                                    <a href="" class="underline">En savoir plus</a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="icon icon-6" data-mh="icons-service">
                                    <i class="icon-Reimbursement"></i>
                                    <h3>Echange et<br />
                                        remboursement sous <br />
                                        30 jours</h3>
                                    <p>Si vous avez acheté votre produit dans un <br />
                                    magasin Fly, vous disposez d'un délai de 30  <br />
                                    jours pour rapporter votre article dans ce  <br /> magasins.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</main>

@@include('_templates/_footer.html')