@@include('_templates/_header.html')
<!-- BEGIN breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li>
                        <a href="/" title="Accueil">Accueil</a>
                    </li>
                    <li>
                        <strong>Nos magasins</strong>
                    </li>
                </ul>
            </div>
            <!--col-xs-12-->
        </div>
        <!--row-->
    </div>
    <!--container-->
</div>

<div class="store-locator-container">
    <div class="container">
        <div class="header-title">
            <h1>60 magasins</h1>
            <strong> prêts à vous accueillir dans toute la France ! </strong>
        </div>
        <div class="map-wrapper">
            <div class="map-search">
                <table>
                    <tr>
                        <td></td>
                        <td colspan="3" class="text-center">
                            <strong>
                                Trouvez le magasin le plus proche de chez vous
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                Trouvez le magasin le plus proche de chez vous
                            </strong>
                        </td>
                        <td>
                            <button id="getPositionButton" class="btn-fly btn-lg btn-inverse"><i
                                    class="icon-location"></i>
                                Proche de moi
                            </button>
                        </td>
                        <td><strong>ou</strong></td>
                        <td>
                            <div id="custom-search-input">
                                <div class="input-group col-md-12">
                                    <input type="text" class="form-control input-lg" placeholder="Code postal"/>
                                    <span class="input-group-btn">
                                            <button class="btn btn-lg" type="button">
                                                <i class="icon-search"></i>
                                            </button>
                                        </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="map-container ">
                <div id="sl-map-container-stores"></div>
                <div class="stores-results">
                    <div class="title">
                        <h3>3 magasins trouvés</h3>
                    </div>
                    <div class="nano">
                        <div class="overthrow nano-content">
                            <ul class="results">
                                <li class="store">
                                    <strong>Créteil</strong> <span>- 10 Km</span> <a href="#"><span class="underline">Voir la fiche</span></a>
                                </li>
                                <li class="store">
                                    <strong>Evreux </strong> <span>- 100 Km</span> <a href="#"><span class="underline">Voir la fiche</span></a>
                                </li>
                                <li class="store">
                                    <strong>Troyes </strong> <span>- 310 Km</span> <a href="#"><span class="underline">Voir la fiche</span></a>
                                </li>
                                <li class="store">
                                    <strong>Créteil</strong> <span>- 10 Km</span> <a href="#"><span class="underline">Voir la fiche</span></a>
                                </li>
                                <li class="store">
                                    <strong>Evreux </strong> <span>- 100 Km</span> <a href="#"><span class="underline">Voir la fiche</span></a>
                                </li>
                                <li class="store">
                                    <strong>Troyes </strong> <span>- 310 Km</span> <a href="#"><span class="underline">Voir la fiche</span></a>
                                </li>
                                <li class="store">
                                    <strong>Créteil</strong> <span>- 10 Km</span> <a href="#"><span class="underline">Voir la fiche</span></a>
                                </li>
                                <li class="store">
                                    <strong>Evreux </strong> <span>- 100 Km</span> <a href="#"><span class="underline">Voir la fiche</span></a>
                                </li>
                                <li class="store">
                                    <strong>Troyes </strong> <span>- 310 Km</span> <a href="#"><span class="underline">Voir la fiche</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@@include('_templates/_modals.html')
<div class="our-features-box">
    <div class="container">
        <div class="row">
            <div class="feature-box col-md-3 col-xs-6">
                <i class="icon-box"></i>
                <span>Livraison et retours</span>
                <strong>gratuits en magasin</strong>
            </div>
            <div class="feature-box col-md-3 col-xs-6">
                <i class="icon-lock"></i>
                <span>Paiement sécurisé</span>
                <strong>en 5 ou 10 fois sans frais</strong>
            </div>
            <div class="feature-box col-md-3 col-xs-6">
                <i class="icon-call"></i>
                <span>Service client</span>
                <strong>08 00 80 40 20 6j/7 9h-22h</strong>
            </div>
            <div class="feature-box col-md-3 col-xs-6">
                <i class="icon-14"></i>
                <span>jours</span>
                <strong>pour changer d’avis</strong>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer-wrapper container">
        <div class="footer-top row">
            <div class="newsletter col-md-7 col-sm-12">
                <div class="input-label">
                    Inscrivez-vous à notre newsletter et recevez 15€
                </div>
                <form class="" action="#" method="post">
                    <div class="input-group">
                        <input type="email" class="form-control  btn-lg" placeholder="Votre e-mail">
                        <span class="input-group-btn">
                            <button class="btn btn-lg btn-default" type="button">Ok</button>
                          </span>
                    </div>
                </form>
                <!-- /input-group -->
            </div>

            <div class="social col-xs-12 text-center">
                <ul class="links">
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                    <li><a href="#"><i class="icon-pinterest"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                </ul>
            </div>


        </div>
        <div class="footer-middle row">
            <div class="footer-column col-md-3 col-xs-6">
                <h4>L’esprit Fly</h4>
                <ul class="links">
                    <li><a title="" href="#">Qui sommes-nous</a></li>
                    <li><a title="" href="#">Tous nos magasins </a></li>
                    <li><a title="" href="#">Revue de presse </a></li>
                    <li><a title="" href="#">MyFly </a></li>
                    <li><a title="" href="#">FlyBy </a></li>
                    <li><a title="" href="#">Nous rejoindre </a></li>
                </ul>
            </div>
            <div class="footer-column col-md-3 col-xs-6">
                <h4>Fly et moi</h4>
                <ul class="links">
                    <li><a title="" href="#">Mon compte</a></li>
                    <li><a title="" href="#">Cartes Fly </a></li>
                    <li><a title="" href="#">Les services </a></li>
                    <li><a title="" href="#">Envie d’offrir ? </a></li>
                </ul>
            </div>
            <div class="footer-column col-md-3 col-xs-6">
                <h4>Service client</h4>
                <ul class="links">
                    <li><a title="" href="#">Livraison</a></li>
                    <li><a title="" href="#">Retour </a></li>
                    <li><a title="" href="#">Paiement sécurisé </a></li>
                    <li><a title="" href="#">CGV </a></li>
                    <li><a title="" href="#">FAQ </a></li>
                    <li><a title="" href="#">Contactez-nous </a></li>
                </ul>
            </div>
            <div class="footer-column col-md-3 col-xs-6">
                <h4>Infos</h4>
                <ul class="links">
                    <li><a title="" href="#">Qualités et engagement</a></li>
                    <li><a title="" href="#">Les normes </a></li>
                    <li><a title="" href="#">Données personnelles </a></li>
                    <li><a title="" href="#">Mentions légales </a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom row">
            <p class="coppyright">©2016 Fly tous droits réservés</p>
        </div>

    </div>
</footer>

<!-- Footer scripts go here -->

<script src="https://maps.google.com/maps/api/js?key=AIzaSyAAaFAVMh-Cr0FtkxksHmWwphZJvT0_VCY&region=FR"></script>

<script src="/js/bases/app.js"></script>
<script src="/js/components/_homepage.js"></script>
<script src="/js/components/_listings.js"></script>
<script src="/js/components/_produits.js"></script>
<script src="/js/components/_cart.js"></script>
<script src="/js/components/_checkout.js"></script>
<script src="/js/components/_storelocatore.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/retina.js/2.1.0/retina.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
<script>
	retinajs ();
	if ( 'addEventListener' in document ) {
		document.addEventListener ( 'DOMContentLoaded' , function () {
			FastClick.attach ( document.body );
		} , false );
	}
</script>

</body>
</html>
