@@include('_templates/_header.html')

<!-- BEGIN breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li>
                        <a href="/" title="Accueil">Accueil</a>
                    </li>
                    <li>
                        <a href="/" title="Accueil">Nos magasins</a>
                    </li>
                    <li>
                        <strong>Créteil</strong>
                    </li>
                </ul>
            </div>
            <!--col-xs-12-->
        </div>
        <!--row-->
    </div>
    <!--container-->
</div>

<div class="store-locator-container">
    <div class="container">
        <div class="header-title">
            <h1>Créteil</h1>
            <strong> Votre magasin et dépot </strong>
        </div>
        <div class="map-wrapper">
            <div class="map-search">
                <div class="details-control  col-md-12">
                    <div class="pull-left">
                        <a href="#" class="back underline ac">
                            Retour à la liste des magasins
                        </a>
                    </div>
                    <div class="pull-right">
                        <button class="btn-fly btn-lg btn-inverse more-store">
                            Voir les fins de série du magasin (60)
                        </button>
                    </div>
                </div>
            </div>
            <div class="map-container ">
                <div id="sl-map-container-stores"></div>
                <div class="stores-details">
                    <div class="store-address col-xs-6">
                        <strong class="name"><img src="../img/checkout/logo.tiny.png" data-rjs="2" alt=""> Créteil</strong>
                        <address>
                            RN 6 Carrefour Pompadour <br>
                            94034 Créteil Cedex
                        </address>

                    </div>
                    <div class="store-fav col-xs-6 pull-right">
                        <a class="add-to-fav" href="#"> Choisir comme magasin préféré  &nbsp;<i
                                class="icon-heart-empty"></i></a>
                        <br>
                        <span>10 Km</span> &nbsp;<span class="underline">Itinéraire</span>
                    </div>
                    <ul class="tab">
                        <li class="active">
                            <a  data-toggle="pill" href="#store-address">
                                Magasin
                            </a>
                        </li>
                        <li>
                            <a data-toggle="pill" href="#whole-house-address">
                                Dépôt
                            </a>
                        </li>
                    </ul>
                    <div class="address-details">
                        <div class="tab-content">
                            <div id="store-address" class="tab-pane fade in active">
                                <div class="col-xs-12 ">
                                   <strong>Contacter le magasin</strong>


                                       <a href="tel:0145132900"><i class="icon-call"></i> 01 45 13 29 00</a> &nbsp;&nbsp;
                                       <a href="tel:0145132900"><i class="icon-fax"></i> 01 45 13 29 00</a> &nbsp;&nbsp;
                                       <a href="mailto:store-contact@fly.fr"><i class="icon-send_mail"></i> &nbsp; Contacter par e-mail</a>

                                </div>
                                <div class="col-xs-12 col-md-6">
                                   <div class="store-open-times">
                                       <strong class="open-times-title">Horaires d’ouverture</strong>
                                       <div class="col-xs-12 time-table">
                                           <table>
                                               <tr>
                                                   <td>Lundi</td>
                                                   <td>de 10h00 à 19h00</td>
                                               </tr>
                                               <tr>
                                                   <td>Mardi</td>
                                                   <td>de 10h00 à 19h00</td>
                                               </tr>
                                               <tr class="today">
                                                   <td>Mercredi</td>
                                                   <td>de 10h00 à 19h00</td>
                                               </tr>
                                               <tr>
                                                   <td>Jeudi</td>
                                                   <td>de 10h00 à 19h00</td>
                                               </tr>
                                               <tr>
                                                   <td>Vendredi</td>
                                                   <td>de 10h00 à 19h00</td>
                                               </tr>
                                               <tr>
                                                   <td>Samedi</td>
                                                   <td>de 10h00 à 19h00</td>
                                               </tr>
                                               <tr>
                                                   <td>Dimanche</td>
                                                   <td>Fermé</td>
                                               </tr>
                                           </table>
                                       </div>

                                   </div>

                               </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="store-open-times">
                                        <strong class="open-times-title">Fermetures exceptionnelles</strong>
                                        <div class="col-xs-12 time-table">
                                            <table>
                                                <tr>
                                                    <td>Lundi 8 mai 2016</td>
                                                </tr>
                                                <tr>
                                                    <td>Samedi 25 Décembre 2016 </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="store-open-times">
                                        <strong class="open-times-title">Ouvertures exceptionnelles</strong>
                                        <div class="col-xs-12 time-table">
                                            <table>
                                                <tr>
                                                    <td>Lundi 10 mai 2016 <br>
                                                        de 9h00 à 12h00 - 14h30 à 19h </td>
                                                </tr>
                                                <tr>
                                                    <td>Lundi 11 juin 2016 <br>
                                                        de 9h00 à 12h00 - 14h30 à 19h  </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>

                               </div>
                            </div>
                            <div id="whole-house-address" class="tab-pane fade">
                                <div class="col-xs-12 ">
                                    <strong>Contacter le dépôt</strong>


                                    <a href="tel:0145132900"><i class="icon-call"></i> 01 45 13 29 00</a> &nbsp;&nbsp;
                                    <a href="tel:0145132900"><i class="icon-fax"></i> 01 45 13 29 00</a> &nbsp;&nbsp;
                                    <a href="mailto:store-contact@fly.fr"><i class="icon-send_mail"></i> &nbsp; Contacter par e-mail</a>

                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="store-open-times">
                                        <strong class="open-times-title">Horaires du dépôt</strong>
                                        <div class="col-xs-12 time-table">
                                            <table>
                                                <tr>
                                                    <td>Lundi</td>
                                                    <td>de 10h00 à 19h00</td>
                                                </tr>
                                                <tr>
                                                    <td>Mardi</td>
                                                    <td>de 10h00 à 19h00</td>
                                                </tr>
                                                <tr class="today">
                                                    <td>Mercredi</td>
                                                    <td>de 10h00 à 19h00</td>
                                                </tr>
                                                <tr>
                                                    <td>Jeudi</td>
                                                    <td>de 10h00 à 19h00</td>
                                                </tr>
                                                <tr>
                                                    <td>Vendredi</td>
                                                    <td>de 10h00 à 19h00</td>
                                                </tr>
                                                <tr>
                                                    <td>Samedi</td>
                                                    <td>de 10h00 à 19h00</td>
                                                </tr>
                                                <tr>
                                                    <td>Dimanche</td>
                                                    <td>Fermé</td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="store-open-times">
                                        <strong class="open-times-title">Adresse du dépôt</strong>
                                        <div class="col-xs-12 time-table">
                                            <table>
                                                <tr>
                                                    <td>6 rue de la République <br>
                                                        94034 Créteil Cedex</td>
                                                </tr>

                                            </table>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('_templates/_modals.html')
<div class="our-features-box">
    <div class="container">
        <div class="row">
            <div class="feature-box col-md-3 col-xs-6">
                <i class="icon-box"></i>
                <span>Livraison et retours</span>
                <strong>gratuits en magasin</strong>
            </div>
            <div class="feature-box col-md-3 col-xs-6">
                <i class="icon-lock"></i>
                <span>Paiement sécurisé</span>
                <strong>en 5 ou 10 fois sans frais</strong>
            </div>
            <div class="feature-box col-md-3 col-xs-6">
                <i class="icon-call"></i>
                <span>Service client</span>
                <strong>08 00 80 40 20 6j/7 9h-22h</strong>
            </div>
            <div class="feature-box col-md-3 col-xs-6">
                <i class="icon-14"></i>
                <span>jours</span>
                <strong>pour changer d’avis</strong>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer-wrapper container">
        <div class="footer-top row">
            <div class="newsletter col-md-7 col-sm-12">
                <div class="input-label">
                    Inscrivez-vous à notre newsletter et recevez 15€
                </div>
                <form class="" action="#" method="post">
                    <div class="input-group">
                        <input type="email" class="form-control  btn-lg" placeholder="Votre e-mail">
                        <span class="input-group-btn">
                            <button class="btn btn-lg btn-default" type="button">Ok</button>
                          </span>
                    </div>
                </form>
                <!-- /input-group -->
            </div>

            <div class="social col-xs-12 text-center">
                <ul class="links">
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                    <li><a href="#"><i class="icon-pinterest"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                </ul>
            </div>


        </div>
        <div class="footer-middle row">
            <div class="footer-column col-md-3 col-xs-6">
                <h4>L’esprit Fly</h4>
                <ul class="links">
                    <li><a title="" href="#">Qui sommes-nous</a></li>
                    <li><a title="" href="#">Tous nos magasins </a></li>
                    <li><a title="" href="#">Revue de presse </a></li>
                    <li><a title="" href="#">MyFly </a></li>
                    <li><a title="" href="#">FlyBy </a></li>
                    <li><a title="" href="#">Nous rejoindre </a></li>
                </ul>
            </div>
            <div class="footer-column col-md-3 col-xs-6">
                <h4>Fly et moi</h4>
                <ul class="links">
                    <li><a title="" href="#">Mon compte</a></li>
                    <li><a title="" href="#">Cartes Fly </a></li>
                    <li><a title="" href="#">Les services </a></li>
                    <li><a title="" href="#">Envie d’offrir ? </a></li>
                </ul>
            </div>
            <div class="footer-column col-md-3 col-xs-6">
                <h4>Service client</h4>
                <ul class="links">
                    <li><a title="" href="#">Livraison</a></li>
                    <li><a title="" href="#">Retour </a></li>
                    <li><a title="" href="#">Paiement sécurisé </a></li>
                    <li><a title="" href="#">CGV </a></li>
                    <li><a title="" href="#">FAQ </a></li>
                    <li><a title="" href="#">Contactez-nous </a></li>
                </ul>
            </div>
            <div class="footer-column col-md-3 col-xs-6">
                <h4>Infos</h4>
                <ul class="links">
                    <li><a title="" href="#">Qualités et engagement</a></li>
                    <li><a title="" href="#">Les normes </a></li>
                    <li><a title="" href="#">Données personnelles </a></li>
                    <li><a title="" href="#">Mentions légales </a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom row">
            <p class="coppyright">©2016 Fly tous droits réservés</p>
        </div>

    </div>
</footer>

<!-- Footer scripts go here -->

<script src="https://maps.google.com/maps/api/js?key=AIzaSyAAaFAVMh-Cr0FtkxksHmWwphZJvT0_VCY&region=FR"></script>

<script src="/js/bases/app.js"></script>
<script src="/js/components/_homepage.js"></script>
<script src="/js/components/_listings.js"></script>
<script src="/js/components/_produits.js"></script>
<script src="/js/components/_cart.js"></script>
<script src="/js/components/_checkout.js"></script>
<script src="../js/components/_storelocatore.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/retina.js/2.1.0/retina.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
<script>
	retinajs ();
	if ( 'addEventListener' in document ) {
		document.addEventListener ( 'DOMContentLoaded' , function () {
			FastClick.attach ( document.body );
		} , false );
	}
</script>

</body>
</html>
